extends /layouts/main

block meta
  +meta({
      title:"The Iron Yard | Team",
      description:"We are a group of passionate thinkers and builders who believe that great people can use technology to make the world a better place."
    })

block content
  +navigation({
    color: 'gray-dark',
    title: 'Our Team',
    links: [
      {title: "Leadership", url: "#leadership"},
      {title: "Accelerator", url: "#accelerator"},
      {title: "Campus Directors", url: "#campus-directors"},
      {title: "Instructors", url: "#instructors"}
    ]
  })

  .container
    .row
      .col-xs-12
        h1.section-headline#leadership Leadership
        hr
        
        +bio(
          [
            {
              name: "Peter Barth",
              id: "peter",
              title: "Partner, Chief Executive Officer",
              description: 'Peter went to Vanderbilt University and studied computer engineering, which naturally led to him becoming an options executive on Wall Street. After the financial markets had worn out their welcome, he packed his family up, moved to Indianapolis and returned to his hacker roots as a software developer and CTO for SinglePoint, Inc. After several other successful startup exits, he moved his family to Greenville, SC, where he helped start NEXT and build the NEXT Innovation Center and founded The Iron Yard. He currently serves as our CEO and is sometimes referred to as "The Iron Barth."',
              photo: '/images/about/team-peter.jpg',
              links: [
                {title: "@peterbarth", url: "http://twitter.com/peterbarth"},
                {title: "LinkedIn", url: "http://www.linkedin.com/in/peterbarth"}
              ]
            },
            {
              name: "Eric Dodds",
              id: "eric",
              title: "Partner, Brand and Ops",
              description: "Eric was born and raised in Upstate SC, where he spent his early years hiking, mountain biking and dirt bike riding with his dad. Somehow he ended up at Clemson University, where he tutored calculus, studied marketing and matriculated summa cum laude. (We hear there was a lot of wake boarding, too.) After school Eric worked at a nationally renowned marketing shop, where he developed content, managed accounts and built strategies for companies like Best Buy and Doubleday. He crossed paths with Peter as The Iron Yard was being born and jumped ship to join as a partner and head of marketing.",
              photo: "/images/about/team-eric.jpg",
              links: [
                {title: "@ericdodds", url: "https://twitter.com/ericdodds"},
                {title: "LinkedIn", url: "http://www.linkedin.com/in/ericdodds"},
                {title: "GitHub", url: "https://github.com/"},
                {title: "ericdodds.com", url: "http://ericdodds.com/"}
              ]
            },
            {
              name: "Mason Stewart",
              id: "mason",
              title: "Partner, Lead Instructor",
              description: "Mason was born and raised in Jackson, MS (better known as The Dirty South). He grew up in the woods and, as a result, likes animals, trees and beer. A hacker from the start, he began hacking on software in his early teens. Upon moving back to the USA after four years in Japan, at age 24 he ended a multi-year fast from programming and hit the ground running. Like any good college graduate with a degree in philosophy, he has worked for small, boutique web shops, startups in San Francisco and everywhere in between. Mason serves as our CTO and head of all things pedagogical.",
              photo: "/images/about/team-mason.jpg",
              links: [
                {title: "@masondesu", url: "https://twitter.com/masondesu"},
                {title: "GitHub", url: "https://github.com/masondesu"}
              ]
            },
            {
              name: "John Saddington",
              id: "john",
              title: "Partner, People and Ops",
              description: "John is a hacker, writer, and lover of all things 8-bit. His first project of note was a \"Choose Your Own Adventure\" quest in BASIC when he was 11. He grew up (a bit) and has since worked as an engineer and executive for Fortune 50 companies and has exited a handful of bootstrapped and VC-funded startups. He serves as partner and the head of people development and growth. At night he works on his small app called Desk.",
              photo: "/images/about/team-john.jpg",
              links: [
                {title: "@saddington", url: "https://twitter.com/saddington"},
                {title: "Blog", url: "http://john.do"},
                {title: "Desk App", url: "http://desk.pm/"}
              ]
            },
            {
              name: "Aubrey Duggar",
              id: "Aubrey",
              title: "Operations Manager",
              description: "Aubrey was born in Houston, TX, and raised in the Upstate of South Carolina, meaning she's a southern girl through and through. Before she was even halfway through with her degree at the University of South Carolina, she had already joined Peter to help run the first iteration of our Accelerator program when she wasn't in class. On campus she served as Philanthropy Chair then Recruitment Vice President for Alpha Delta Pi (largest chapter in the nation). Every summer since then she has returned to Greenville to keep us straight with her perfect organizational skills, type-A project management skills and her always-wonderful way with people.",
              photo: "/images/about/aubrey.jpg",
              links: [
                {title: "@AubreyDuggar", url: "https://twitter.com/AubreyDuggar"}
              ]
            }
          ])

        h1.section-headline#accelerator Accelerator
        hr
        
        +bio(
          [
            {
              name: "Marty Bauer",
              id: "marty",
              title: "Managing Director",
              description: "Marty is not your typical Managing Director. Although he used to weigh 300 pounds and make crying babies of Division I defensive linemen, he is now a gentle-hearted husband to his wife, Sarah, father to his pooch, Shakey, and fearless leader of the startup company Ridepost. His superhuman abilities allow him to also serve as the head of all things Accelerator at The Iron Yard. He is learning the art of the home brew, and is an avid fly-fisherman.",
              photo: "/images/about/team-marty.jpg",
              links: [
                {title: "@bauermarty", url: "https://twitter.com/bauermarty"},
                {title: "RidePost", url: "https://www.ridepost.com"}
              ]
            },
            {
              name: "Jeff Boeh",
              id: "jeff",
              title: "Campus Manager",
              description: "Jeff was born and raised in Cincinnati, OH. During his childhood there wasn't a sport he didn't play, but he eventually he re-directed his passion towards music and taught himself how to play guitar. Jeff spent his early career working in marketing and graphic design, starting out sweeping floors and eventually handling everything from client management to design and production. While on vacation visiting his brother in Spartanburg, he was introduced to Marty and The Iron Yard and his ticket was punched. Only two short weeks after that vacation he packed his bags and headed down south. An avid lover of the outdoors, the nearby Blue Ridge Mountains didn't hurt either.",
              photo: "/images/about/jeff-boeh.jpg",
              links: [
                {title: "Twitter", url: "https://twitter.com/Jeff_Boeh"},
                {title: "LinkedIn", url: "http://www.linkedin.com/in/jeff-boeh"}
              ]
            }
          ])

        h1.section-headline#campus-directors Campus Directors
        hr
        
        +bio(
          [
            {
              name: "Toni Aliberti",
              id: "toni",
              title: "Campus Director",
              description: "Toni was born in South Carolina, raised in Virginia, and lives in Florida, where she learned to love the southeast, sunny weather, and chihuahuas.  After receiving her MBA at the University of Tampa, she began to share the impact of how technology can help nonprofit organizations touch more people. Realizing the need for talented developers, she crossed paths with The Iron Yard who shares many of her same values. Her passion is people and believes technology can help people achieve better results, quicker. She is excited about the warm welcome from St. Petersburg/Tampa and looks forward to collaborating with the community to develop amazing developers who want to make awesome things.", 
              photo: "/images/about/toni-aliberti.jpg",
              links: [
                {title: "@ToniAliberti", url: "https://twitter.com/ToniAliberti"}, 
                {title: "LinkedIn", url: "https://www.linkedin.com/in/antoinettealiberti"}

              ]
            },
            {
              name: "Gene Crawford",
              id: "gene",
              title: "Campus Director",
              description: "Gene is a designer with almost 2 decades of experience in the industry (Ugh!?!) and a degree in Graphic Design. He has overseen the design and architecture of hundreds of web sites and applications through his business at Period Three. An active member in the design community, he manages SOCO Columbia's Cowork , he's the editor & producer of Unmatched Style, organizer of Refresh Columbia and the Converge conferences, President of AIGA South Carolina and writes a monthly column for Net Magazine.", 
              photo: "/images/about/gene-crawford.jpg",
              links: [
                {title: "@genecrawford", url: "https://twitter.com/genecrawford"},
                {title: "Unmatched Style", url: "http://unmatchedstyle.com/"}
              ]
            },
            {
              name: "Gio Difeterici",
              id: "giovanni",
              title: "Campus Director",
              description: "Giovanni began his career as a fine artists, mostly painting and showing in the south-east. He taught two years of high school and two years at the collegiate level, but hated the politics of schools and decided to get into commercial art. He got picked up by a web firm in Columbia, SC called Period-Three and fell in love with all things web. He is editor for UnmatchedStyle.com, creative director for ConvergeSE and has written a book \"The Web Designer's Roadmap\" for SitePoint.", 
              photo: "/images/about/giovanni-difeterici.jpg",
              links: [
                {title: "@giodif", url: "https://twitter.com/giodif"},
                {title: "Unmatched Style", url: "http://unmatchedstyle.com/"}
              ]
            },
            {
              name: "Brian Dorton",
              id: "dorton",
              title: "Campus Director",
              description: "Brian Dorton is the Campus Director in Houston.  He was born in Victoria, TX and moved to Houston soon after graduating from Texas A&M with a BS in Biomedical Science.  He worked in education for 10 years with experience ranging from classroom teacher to campus administrator and everything in between.  He received his Masters in Educational Management in 2010 from the University of Houston Clear Lake.  He has had the unique opportunity to see learning take place in students as young as 5 all the way through retiring professionals.  Being able to facilitate that learning, and seeing the same \“ah ha\” moments on the faces of students, regardless of age, is what ignites the fire in him to continue this endeavor. He is a father of two beautiful girls who take up all of his free time and he also firmly believes that that brisket is the only BBQ that should be considered BBQ.", 
              photo: "/images/about/brian-dorton.jpg",
              links: [
                {title: "@badorton", url: "https://twitter.com/badorton"}
              ]
            },
            {
              name: "Su Kim",
              id: "kim",
              title: "Campus Director",
              description: "After a nomadic existence through the South, Midwest, and overseas, Su is planting roots in northern Virginia.  She comes to The Iron Yard after several years of advocating for sensible immigration policy. Su is excited to show the impact that technology can have through education and see the DC campus grow in influence and support of the region. A 'non-political' political junkie, she loves all things games and DC-related shows. ", 
              photo: "/images/about/su-kim.jpg",
              links: [
                {title: "@sukim", url: "https://twitter.com/sukim"},
                {title: "LinkedIn", url: "https://www.linkedin.com/pub/su-kim/23/831/119"},
              ]
            },
            {
              name: "Sally Kingston",
              id: "sally",
              title: "Campus Director",
              description: "Sally grew up in Davidson, NC, but fled the south as soon as she could.  She studied Math at Swarthmore College in not-so-sunny Pennsylvania, then fled the snow back to the south as soon as she could return, spending a few years in Chapel Hill studying Information Science at UNC and finally landing in Charleston, SC. She has spent most of the past seven years hanging out with developers in various capacities and has even picked up a little code herself. She spends her free time chasing her twin boys, pursuing the perfect gluten free cookie, and playing roller derby as her alter ego, Whippopotamus.",
              photo: "/images/about/sally-kingston.jpg",
              links: [
                {title: "@HouseRulesSally", url: "https://twitter.com/HouseRulesSally"}
              ]
            },
            {
              name: "Laura Lindeman",
              id: "laura",
              title: "Assistant Campus Director & Content Editor",
              description: "Laura Lindeman is an all-around word nerd: avid reader, blogger, and occasional grammar pedant who has opinions about the Oxford comma. She comes to The Iron Yard after several years of working in the non-profit sector and is excited to translate her organizing skills into empowering the next generation of developers. Laura is a firm believer in the power of community and the ways technology brings people together, though sharing a delicious meal in person is even better. She has a soft spot for cardigans, funky earrings, and chocolate with peanut butter. When she's not writing or helping students with Ruby on Rails, you can often find her backpacking, bargain hunting, or trying out new recipes.",
              photo: "/images/about/laura-lindeman.jpg",
              links: [
                {title: "@lclindeman", url: "https://twitter.com/lclindeman"},
                {title: "GitHub", url: "https://github.com/lclindeman"}
              ]
            },
            {
              name: "Sarah Lodato",
              id: "sarah",
              title: "Campus Director",
              description: "Sarah Lodato is a self-professed crafty superstar, and can be spotted around town digging through piles of vintage treasures for the next DIY opportunity. Her love for all-things-Atlanta has driven her deep involvement with the crafter and maker communities, a sense of “togetherness” she’s excited to bring to The Iron Yard. She's keen on styling and graphic design, always keeping her feet on both sides of the fence when it comes to creative and technical abilities. Her passion for education will be a driving force in the direction of The Iron Yard - Atlanta, and she’s excited to grow the campus into an impactful and welcoming community.",
              photo: "/images/about/sarah-lodato.jpg",
              links: [
                {title: "@sarahbethlodato", url: "https://twitter.com/sarahbethlodato"},
                {title: "LinkedIn", url: "http://www.linkedin.com/in/sarahlodato"},
                {title: "sarahlodato.com", url: "http://www.sarahlodato.com"}
              ]
            },
            {
              name: "Susanna Miller",
              id: "susanna",
              title: "Campus Director",
              description: "Susanna was raised in Nairobi, Kenya, and has also lived in Georgia, Alabama, Florida, and Virginia; she considers herself an extreme Southerner as a result. She moved to Orlando three years ago to do her MBA at Rollins, and came to The Iron Yard through her search for a way to use her business skills and passion for education to positively impact the lives of people in her community. She loves new stories and old books, and when she has free time, likes to experiment with crafting and sewing, as well as baking French pastries.",
              photo: "/images/about/susanna.jpg",
              links: [
              ]
            },
            {
              name: "Jessica Mitsch",
              id: "jessica",
              title: "Campus Director",
              description: "Jessica is the Campus Director for Durham. She is a Raleigh native and a graduate of the College of Charleston where she majored in Religious Studies. She unexpectedly stumbled into a career in tech by working on the People Team at Red Hat, Inc. where she learned to love the exciting and innovative world of tech. She is extremely passionate about education and is excited to pair her passion for education with her experience in the tech space.  She can be found moving in a studio somewhere - dancing or doing yoga. She loves to travel, just about anywhere she can go and is a bit of a health nut.",
              photo: "/images/about/jessica.jpg",
              links: [
                {title: "@JessicaMitsch", url: "https://twitter.com/JessicaMitsch"}
              ]
            },
            {
              name: "Roy Schmidt",
              id: "roy",
              title: "Campus Director",
              description: "Roy grew up in Tulsa, OK, but recently moved to the area after 12 years in Seattle, where he performed random acts of marketing and product management for Disney, Microsoft and a few startups. He serves as our Greenville campus director and supports marketing and operations projects for the expanding team. A father of two, he tends to spend his free time catching up on movies and dreaming of sleeping in.",
              photo: "/images/about/roy-schmidt.png",
              links: [
                {title: "@cleasto", url: "https://twitter.com/cleasto"}
              ]
            },
            {
              name: "Kyle Van Pelt",
              id: "kyle",
              title: "Campus Operations Manager - Atlanta",
              description: "Kyle was born and raised in Orlando where he learned to love baseball, winning two state championships and a national championship. He started his career in professional sports working for the NBA before discovering his love for tech. Kyle comes to the Iron Yard because of his deeply held belief in the power of education but poor experience with the current education system; he believes there is a better way. Couple that with the real world experience where he couldn't find quality developers and you have a perfect match. In addition to being an Iron Man enthusiast, he loves new experiences, a finely crafted cup of coffee, and a great view. He tries as hard as he can to enjoy all of the things he just mentioned, his beautiful wife, and baby girl.",
              photo: "/images/about/kyle-van-pelt.png",
              links: [
                {title: "@kylevanpelt", url: "https://twitter.com/kylevanpelt"},
                {title: "LinkedIn", url: "https://www.linkedin.com/in/kylevanpelt"}
              ]
            }
          ])

        h1.section-headline#instructors Instructors
        hr
        
        +bio(
          [
            {
              name: "Jo Albright",
              id: "jo",
              title: "iOS Instructor",
              description: "Jo started as a designer while studying at the Creative Circus, which has cursed him with the need to critique any and all bad design implementation. After getting a taste of code as a web developer, he found his passion and constantly pushed himself to learn more. That journey led him his true love: building apps for mobile devices. After launching several top-notch iOS apps, he landed at startup HighFive, a mobile rewards platform that tracks user activities and chooses when to offer rewards. His passion for education has never left, though, so he joined our team as an iOS instructor to help others discover the beauty of Objective-C.",
              photo: "/images/about/team-jo.jpg",
              links: [
                {title: "@joalbright", url: "https://twitter.com/joalbright"},
                {title: "GitHub", url: "https://github.com/joalbright"},
                {title: "jo2.co", url: "http://jo2.co/"},
                {title: "LinkedIn", url: "http://www.linkedin.com/in/joalbright"}
              ]
            },
            {
              name: "Nick Bucciarelli",
              id: "nick",
              title: "Ruby Instructor",
              description: "Nick pursued a degree in Video Game Development from Full Sail, where he received his bachelor's in two years. He has since switched industries and started developing web applications...and he hasn't looked back. He moved to Charleston, SC, where he began consuming every bit of knowledge he could. While moving up the ranks at Jack Russell Software to become a Senior Developer (from apprentice in only 3.5 years!), he found a love for teaching motivated individuals everything he had to offer and decided to pursue a career in education. He is super excited to teach and share his passion for his craft (web applications) to students at The Iron Yard Academy.",
              photo: "/images/about/team-nick.jpg",
              links: [
                {title: "@n_bucciarelli", url: "https://twitter.com/n_bucciarelli"},
                {title: "GitHub", url: "https://github.com/nbucciarelli"}
              ]
            },
            {
              name: "Brian Burridge",
              id: "brian",
              title: "Ruby Instructor",
              description: "Brian was born in Philadelphia, PA but has lived in Tampa Bay, FL since he was two. Brian learned to program when he was seven with his dad, who was a teacher and was learning to code in order to start a computer programming class. Brian has worked professionally as a developer, software architect and CTO for over 20 years. He has written apps in Basic, Pascal, C/C+, Perl, PHP, ASP, J2EE, Javascript, and Ruby on Rails. He was the sole developer for the Miley Cyrus web sites for over five years. He has worked through his own company as a freelancer, as well as full time for several startups and large companies including IBM, Cox Target Media, Brighthouse, Intercontinental Hotels and GitHub. Brian is also a black belt in Tang Soo Do and has belts in Akido, Judo, Jujitsu and Filipino Arnis stick fighting.",
              photo: "/images/about/brian.jpg",
              links: [
                {title: "@brianburridge", url: "https://twitter.com/brianburridge"},
                {title:"GitHub", url:"https://github.com/brianburridge"}
              ]
            },
            {
              name: "James Dabbs",
              id: "james",
              title: "Ruby Instructor",
              description: "Trained as a mathematician, James heard the siren call of software development while working on his PhD, jumped ship, and never looked back. Most recently, he's been crunching numbers as a senior engineer at Emcien in Atlanta. He's very excited to be back teaching and able to share his zeal for software and development. When not thinking about code or mumbling things about monads, James is also an enthusiastic drummer - mostly math rock, naturally.",
              photo: "/images/about/james-dabbs.jpg",
              links: [
                {title: "@jamesdabbs", url: "https://twitter.com/jamesdabbs"},
                {title: "GitHub", url: "https://github.com/jamesdabbs"}
              ]
            }, 
            {
              name: "Christopher Davies",
              id: "christopher",
              title: "Front End Instructor",
              description: "Hi! My name is Christopher Davies. I’ve been writing software ever since a friend convinced me that it was fun. (That was way back in 1999.) I’ve built projects ranging from shipping terminal management systems to MMORPG registration sites and everything in between. Over time, I’ve transitioned from building mostly native applications to building almost everything using standard web technology. Along the way, I’ve taught and mentored others — something that I’ve always found to be deeply rewarding. So what do you get when you combine love/knowledge of tech with love of teaching? The IronYard! That’s why I’m thrilled to be joining as a front end instructor. When I’m not busy hacking code, I may be found playing soccer, ultimate, or foos. Or maybe tinkering around on my guitar. Or hiking somewhere with my beautiful wife. Or painting. Or reading a good book. Or reading a bad book. Or writing sentence fragments.(photo taken from my wedding - it’s the only time our students will see me in a suit) ",
              photo: "/images/about/christopher-davies.jpg",
              links: [
                {title: "@chrisdaviesgeek", url: "https://twitter.com/chrisdaviesgeek"},
                {title: "Tumblr", url: "http://christophermusing.tumblr.com/"}
              ]
            },         
            {
              name: "Clinton Dreisbach",
              id: "clinton",
              title: "Python Instructor",
              description: "Clinton Dreisbach is a self-taught programmer and ukulele player from the beautiful city of Durham, NC. He has worked on everything from two-person startups to giant government agencies slinging everything from Perl to Ruby to Lisp. When not teaching, he is a frequent contributor to open-source projects, a conference speaker, an award-winning game designer, and a dad.",
              photo: "/images/about/clinton.jpg",
              links: [
                {title: "@cndreisbach", url: "https://twitter.com/cndreisbach"},
                {title: "GitHub", url: "https://github.com/cndreisbach"}
              ]
            },
            {
              name: "Brian Gates",
              id: "gates",
              title: "Ruby Instructor",
              description: "Brian is a proud product of Selinsgrove, Pennsylvania (midway between the state capitol and the Little League Hall of Fame; home of the World's Longest Banana Split). He has spent most of his life either teaching and tutoring - including math from long division to calculus, physics, beer brewing, chemical engineering, and kung fu, plus web development - or computering, playing with Fortran, Perl, PHP, Javascript, and Ruby. Ruby is the one that makes him smile, and it'll do the same for you. (Just say it out loud. "Ruby. Rooobeeee." See?)",
              photo: "/images/about/clinton.jpg",
              links: [
                {title: "GitHub", url: "https://github.com/bgates"}
              ]
            },
            {
              name: "Justin Herrick",
              id: "justin",
              title: "JavaScript Instructor",
              description: "Justin was born and raised in southwest Florida, and currently resides in Tampa. Driven by a passion for games, he began teaching himself programming and design at a young age, creating video games for himself and his siblings. Justin understands the power of non-traditional education, self-taught in HTML, CSS, Ruby, Rails, Javascript, Actionscript, Haxe, Elixr, and Clojure. Justin joined 8th Light in early 2012, going through their apprenticeship program and later mentoring others. He has worked as an independent software consultant, social media manager, and is now excited to take on the role of educator. In his free time, Justin enjoys unsweetened iced tea, coffee, language design and indie games.",
              photo: "/images/about/justin-herrick.jpg",
              links: [
                {title: "@JAH2488", url: "https://twitter.com/JAH2488"},
                {title: "GitHub", url: "https://github.com/jah2488"}
              ]
            },
            {
              name: "Sam Kapila",
              id: "sam",
              title: "Web Design Instructor",
              description: "Sam Kapila is a designer from the Dutch island of Curaçao, who lives in Austin, TX. For six years, Sam taught Communication Design at Texas State University, where she helped build web design curriculum, including developing an upper-level course on Responsive Web Design and web typography. Her previous design work is recognized by Good50x70, Poster4Tomorrow, CMYK Magazine, Art Director\'s Club of Houston, and the American Advertising Federation. When she\'s not designing and coding, she\'s recording podcasts, or chasing food trucks around Austin.",
              photo: "/images/about/sam-kapila.jpg",
              links: [
                {title:"@samkap", url: "https://twitter.com/samkap"},
                {title:"@GitHub", url: "https://github.com/samkap"}
              ]
            },
            {
              name: "Matt Keas",
              id: "matt",
              title: "JavaScript Instructor",
              description: "Matt is an Oklahama-born, Texas-raised southerner with brief Australian and British residences. He learnt programming in high school but quickly branched into scientific computing, compilers, web development, and computer security. He finally settled with a Computer Science degree from the University of Texas and two security certifications from \"the man\". The remaining 90% of Matt's experience was filled with his involvement in two startups; one SXSW campaign; a healthy dose of freelance web development; an opportunity to author a few books; some speaking arrangements at large conferences; and a consulting position that helped to round out his eccentricity with soft-skills, management exposure, and a place in the Houston community. Here at The Iron Yard, Matt works to break down concepts into delicious bite-sized morsels, meant to be enjoyed with crafty beer, memorable memes, and sophisticated southern and British \"humour\".",
              photo: "/images/about/matt-keas.jpg",
              links: [
                {title: "@matthiasak", url: "https://twitter.com/matthiasak"},
                {title: "GitHub", url: "https://github.com/matthiasak"}
              ]
            },
            {
              name: "Mason Matthews",
              id: "mason-matthews",
              title: "Ruby Instructor",
              description: "Mason grew up in Raleigh, NC, and started coding in Pascal and FoxPro at the age of 13.  He has always been a software developer on the inside, but has served in many roles over the years.  He received a Master\'s in computer vision and machine learning, taught at the North Carolina School of Science and Math, and ran SciMed Solutions (a local Rails development shop) as its President for five years.  Mason loves being surprised by new things, sharing his love of small feedback loops, and identifying assumptions so that he can break them apart and build something better.",
              photo: "/images/about/mason-matthews.png",
              links: [
                {title: "@masonfmatthews", url: "https://twitter.com/masonfmatthews"},
                {title: "GitHub", url: "https://github.com/masonfmatthews"},
                {title: "LinkedIn", url: "https://www.linkedin.com/in/masonfmatthews"}
              ]
            },
            {
              name: "David Rogers",
              id: "david-rogers",
              title: "JavaScript Instructor",
              description: "While also a long-time freelancer and full-stack developer, David really loves teaching. He helped design and teach the Web Development AS program for Valencia College, authored the 'Shaping Up with Angular JS' course for Code School, and is writing additional curriculum for more advanced students. Originally from Charleston, SC, he attended Clemson University and spent several years in Greenville, although long before The Iron Yard emerged. He may be an Orlando transplant, but -- like many other invasive species -- has become deeply rooted since being introduced. He leads monthly user groups, speaks at local tech conferences, and mentors others in his spare time. You can find him online by his unique pseudonym 'AL the X' and IRL by his penchant for haberdashery.",
              photo: "/images/about/david-rogers.jpg",
              links: [
                {title: "@Al_the_X", url: "http://twitter.com/al_the_x"},
                {title: "GitHub", url: "https://github.com/al_the_x"},
                {title: "LinkedIn", url: "http://linkedin.com/al_the_x"},
                {title: "About.me", url: "http://about.me/al_the_x"}
              ]
            },
            {
              name: "Jacob Smith",
              id: "jacob",
              title: "Ruby Instructor",
              description: "Jacob has studied computer science and philosophy at a traditional university, gotten in an argument with a famous philosopher's daughter in a Carthusian monastery in Austria, lived with monks in the South Bronx, tricked people into agreeing to the tenants of the Communist Manifesto while working on an automotive assembly line, and loves thinking and learning about thinking and learning. He has been a professional web developer for 8 years, though he took a short break to teach junior high. He quickly learned that the conventional ways of thinking about the world are insufficient to meet the needs of our society, and he thinks that learning about and teaching programming is one of the best ways to learn how to think about the world. He is a JavaScript and Ruby developer, though he simultaneously loves Haskell and has never written a working program in Haskell.",
              photo: "/images/about/jake-smith.jpg",
              links: [
                {title: "@jacobthemyth", url: "https://twitter.com/jacobthemyth"},
                {title: "GitHub", url: "https://github.com/jacobthemyth"}
              ]
            },              
            {
              name: "Calvin Webster",
              id: "calvin",
              title: "JavaScript Instructor",
              description: "Calvin was born in Hawaii but eventually landed in Charleston by way of the Outer Banks.  Tempered by hurricanes and big waves, Calvin has a passion for coastal life that is only rivaled by his passion to learn and teach. Calvin has taught web development classes to college students and environmental education to K-12 students.  As a developer Calvin has worked with a huge range of companies, from The Charleston Museum to the Veterans Administration and Cummins Marine.  He has also contributed to the Modernizr project as well as Adobe Brackets.",
              photo: "/images/about/team-calvin.jpg",
              links: [
                {title: "@calweb", url: "https://twitter.com/calweb"},
                {title: "GitHub", url: "https://github.com/calweb"}
              ]
            },
            {
              name: "Tim Whitacre",
              id: "tim",
              title: "JavaScript Instructor",
              description: "Tim comes to Atlanta after living in Scranton, PA, for the past 12 years. He is just as excited to leave behind the long-wintered north as he is to be a part of The Iron Yard. As a developer he has had a wide range of experiences from roles in small startups to large, publicly traded companies. He is also the co-founder of an agency that has worked alongside Fortune 500 companies. When not programming, he can be found playing music or catching up on one of the many documentaries found on Netflix",
              photo: "/images/about/tim-whitacre.jpg",
              links: [
                {title: "@timwco", url: "https://twitter.com/timwco"},
                {title: "GitHub", url: "https://github.com/twhitacre"}
              ]
            },            
            {
              name: "Jesse Wolgamott",
              id: "jesse",
              title: "Ruby Instructor",
              description: "JWo was not born in Texas, but got here as fast as he could, y’all. (born in Arizona and lived in Spain, Portugal, Egypt, Kenya, and Japan — all before he was 6), and was given access to a computer (8086) soon thereafter. After Dig-Dug, being the only kid in school typing reports and handing in his school reports in Lotus 123, he started to like these computer things. He programmed Perl during Web 1.0, .NET during the bust, and now Ruby and Javascripts. Jesse has been a consultant using open source software stack for 5 years, and is an open source developer and contributor. Jesse has taught Ruby courses since 2012, authored a book on AngularJS+Rails, and has loved Rails since 2007. Jesse has trained and spoke at conferences across the US, and has determined that Tacos rule and salads drool.",
              photo: "/images/about/jesse-wolgamott.jpg",
              links: [
                {title: "@jwo", url: "https://twitter.com/jwo"},
                {title: "GitHub", url: "https://github.com/jwo"}
              ]
            }
          ])
