include /mixins/navigation
include /mixins/bio
include /mixins/blog-feed
include /mixins/meta

doctype html
html
  head
    block meta
    include /includes/head
    script(type="text/javascript").
      var $buoop = {
        vs:{i:9,f:15,o:12.1,s:5.1},
        newwindow: true
      }; 
      $buoop.ol = window.onload; 
      window.onload=function(){ 
        try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
        var e = document.createElement("script"); 
        e.setAttribute("type", "text/javascript"); 
        e.setAttribute("src", "//browser-update.org/update.js"); 
        document.body.appendChild(e); 
      } 

  //- Your cool stuff here.
  body
    block content
    include /includes/footer
    include /includes/closing-scripts
    block scripts


