.wrapper {
  max-width:960px;
}

.header {
  background: url(http://theironyard.com/images/pattern.png?1393883957);
  background-color: #39474E;
}

.section-header {
  text-align:center;
}

.photo-bio {
  margin: 10px auto;
  display: block;
}

.sub-nav {
padding-top:1px;

}

.sub-nav h2 {
  margin-top: 18px;
}

.triangle {
  position: relative;
  z-index: 1;
  bottom: -40px;
  border-top: 20px solid black;
  border-right: 18px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 18px solid transparent;
  width: 0;
  height: 0; 
}

@media (max-width: 960px) {
  .sub-nav {
    padding-left: 30px;
    padding-right: 30px;
  }