/*CONTAINER STYLES*/

.wrapper {
  max-width:960px;
}

/*PAGE HEADER STYLES*/

.header {
  background: url(http://theironyard.com/images/pattern.png?1393883957);
  background-color: #39474E;
}

.sub-nav {
  padding-top:1px;
}

.sub-nav ul {
  margin-bottom:-22px;
}


.sub-nav h2 {
  margin-top: 18px;
}

.triangle {
  position: relative;
  z-index: 1;
  bottom: -40px;
  border-top: 20px solid black;
  border-right: 18px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 18px solid transparent;
  width: 0;
  height: 0; 
}

/*PAGE CONTEN STYLES*/

.section-header {
  text-align:center;
}

.photo-bio {
  margin: 10px auto;
  display: block;
}

/*MEDIA QUERIES*/

@media (max-width: 990px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

@media (max-width:490px)  {
    .sub-nav h2 {
    margin-bottom:12px;
    margin-top:12px;
    font-size:30px;
  }

  .sub-nav ul {
    margin-bottom: -16px;
  }

  .sub-nav ul li {
    font-size:18px;
    display:block;
    margin-right: 200px;
    margin-bottom: 0px;
  }
} 