.triangle {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: -40px;
  border-top: 20px solid #fff;
  border-right: 18px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 18px solid transparent;
  width: 0;
  height: 0; 
}

.header {
  background: url(http://theironyard.com/images/pattern.png?1393883957);
  background-color: #39474E;
}

.section-header {
  text-align:center;
}

.photo-bio {
  margin: 10px auto;
  display: block;
}

.sub-nav {
padding-top:1px;

}

.sub-nav h2 {
  margin-top: 18px;
}