extends /layouts/main


block meta
  +meta ({
    title:"The Iron Yard | Front End Engineering",
    description:"The Iron Yard's super-intensive JavaScript course is aimed at taking students through everything they need to know to start working as Jr. Front End Developers."
  })

block content
  +navigation({
    title: 'Front End Engineering',
    color: 'yellow',
    links: [
      {title:"FAQs", url:"/academy/front-end-engineering/faq"},
      {title: "Tuition", url: "/academy/tuition"}
    ]
  })

  .container
    .row
      .col-md-8
        h3.yellow-text: em Learn to build web apps with HTML, CSS & JavaScript
        .callout-box(style="padding-bottom:10px")
          .row
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/clock.png")
              p(style="max-width: 260px; margin:0 auto") Get prototypes off the ground quickly
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/tetris.png")
              p(style="max-width: 260px; margin:0 auto") Build fast, production-quality apps
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/front-end-interface.png")
              p(style="max-width: 260px; margin:0 auto") Create robust, beautiful interfaces
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/lambda.png")
              p(style="max-width: 260px; margin:0 auto") Go deep into JavaScript functions and objects
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/computers.png")
              p(style="max-width: 260px; margin:0 auto") Optimize designs for desktop and mobile
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/brain-guy.png")
              p(style="max-width: 260px; margin:0 auto") Most importantly, learn how to learn
        p 
          | Over the course of three months, a practicing veteran (and skilled teacher) will show you the ins-and-outs of Front End Engineering using HTML, CSS, a whole lot of JavaScript and some basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.<br><br>
          | The best part: we’ll help you get a job offer as a front end developer when you graduate. Don’t know any code? Don’t worry. Our proven teachers and process will take you from zero to hero and mentor you into a professional junior-level programmer.


      .col-md-4
        include /includes/contact

    .row(style="background-color:#e3e7e9")
      .col-md-12
        h2.section-headline(style="margin-bottom: 10px;") Questions? Get in touch.
      .col-md-6(style="padding:0px 20px 20px 30px")
        p(style="margin-top:0") 
          | <strong>We'd love to answer your questions</strong>.<br>We love explaining what makes us different and our friendly team members want to help you make the best choice possible for your career. Feel free to reach out digitally or talk to a human.
        ul.no-style-type 
          li • Shoot us <a href="mailto:academy@theironyard.com?subject=I want to learn more about the Front End Engineering course">an email</a> 
          li • Jump into our <a href="https://www.hipchat.com/gVQZ3qwbv">Academy chat room</a>
      .col-md-6(style="padding:0px 00px 20px 20px")    
        .col-md-6
          ul.no-style-type
            li • Atlanta:<br> <a href="tel:+7707518046">(770) 751-8046</a> 
            li • Charleston:<br> <a href="tel:+8435012775">(843) 501-2775</a>
            li • Durham:<br> <a href="tel:+9195616055">(919) 561-6055</a>
            li • Greenville:<br> <a href="tel:+8649520099">(864) 952-0099</a>
        .col-md-6
          ul.no-style-type 
            li • Houston:<br> <a href="tel:+7134253797">(713) 425-3797</a>
            li • Tampa Bay:<br> <a href="tel:+8137752275">(813) 775-2275</a> 
            li • Orlando:<br> <a href="tel:+4073586683">(407) 358-6683</a>  

  .horizontal-section.yellow-bg(style="margin-bottom:-40px; margin-top:40px")
    .container(style="text-align:center")
      .row
        .col-md-12
          h3 <em>Our Sponsors</em>
          p(style="width:70%; margin: 0 auto; margin-bottom:20px") Our sponsors support our students by offering free accounts, assets, and more. We couldn’t do some of the amazing things we do in class without their generosity. Thank you, friends!
          a(href="http://github.com"): img(src="/images/academy/github.png" style="width:30%")
          a(href="http://invisionapp.com"): img(src="/images/academy/invision.png" style="width:30%")
          br
          a(href="http://macaw.co"): img(src="/images/academy/macaw.png" style="width:30%")
          a(href="http://wercker.com"): img(src="/images/academy/wercker.png" style="width:30%")
          a(href="http://symbolset.com"): img(src="/images/academy/symbolset.png" style="width:30%")

block scripts
  +storiesFeed('stories')