extends /layouts/main


block meta
  +meta ({
    title:"The Iron Yard | Front End Engineering",
    description:"The Iron Yard's super-intensive JavaScript course is aimed at taking students through everything they need to know to start working as Jr. Front End Developers."
  })

block content
  +navigation({
    title: 'Front End Engineering',
    color: 'yellow',
    //- links: [
    //-   {title:"FAQs", url:"/academy/front-end-engineering/faq"},
    //-   {title: "Tuition", url: "/academy/tuition"}
    //- ]
  })

  .container
    .row
      .col-md-8
        h3.yellow-text: em Learn to build web apps with HTML, CSS & JavaScript
        .callout-box(style="padding-bottom:10px")
          .row
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/clock.png")
              p(style="max-width: 260px; margin:0 auto") Get prototypes off the ground quickly
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/tetris.png")
              p(style="max-width: 260px; margin:0 auto") Build fast, production-quality apps
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/front-end-interface.png")
              p(style="max-width: 260px; margin:0 auto") Create robust, beautiful interfaces
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/lambda.png")
              p(style="max-width: 260px; margin:0 auto") Go deep into JavaScript functions and objects
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/computers.png")
              p(style="max-width: 260px; margin:0 auto") Optimize designs for desktop and mobile
            .col-md-4.col-sm-6.col-xs-12
              img(src="/images/academy/front-end-engineering/brain-guy.png")
              p(style="max-width: 260px; margin:0 auto") Most importantly, learn how to learn
        p 
          | Over the course of three months, a practicing veteran (and skilled teacher) will show you the ins-and-outs of Front End Engineering using HTML, CSS, a whole lot of JavaScript and some basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.

      .col-md-4
        include /includes/contact

      .col-md-12
        hr

      .col-md-12
        p
          | The best part: <strong>we’ll help you get a job offer as a front end developer when you graduate</strong>. Don’t know any code? Don’t worry. Our proven teachers and process will take you from zero to hero and mentor you into a professional junior-level programmer.

  .horizontal-section.yellow-bg(style="margin-bottom:-40px; margin-top:40px")
    .container(style="text-align:center")
      .row
        .col-md-12
          h3 <em>Our Sponsors</em>
          p(style="width:70%; margin: 0 auto; margin-bottom:20px") Our sponsors support our students by offering free accounts, assets, and more. We couldn’t do some of the amazing things we do in class without their generosity. Thank you, friends!
          a(href="http://github.com"): img(src="/images/academy/github.png" style="width:30%")
          a(href="http://invisionapp.com"): img(src="/images/academy/invision.png" style="width:30%")
          br
          a(href="http://macaw.co"): img(src="/images/academy/macaw.png" style="width:30%")
          a(href="http://wercker.com"): img(src="/images/academy/wercker.png" style="width:30%")
          a(href="http://symbolset.com"): img(src="/images/academy/symbolset.png" style="width:30%")

block scripts
  +storiesFeed('stories')