include /mixins/accelerator
extends /layouts/main
block content
  +navigation({
    title: 'Mentors',
    color: 'turquoise'
  })

 .container(style="margin-top:40px")
    .container-fluid(style="text-align:center")