extends /layouts/main
block content
  +navigation({
    title: 'Digital Health FAQ',
    color: 'turquoise',
    links: [
      {title: "Mentors", url: "/accelerator/mentors"},
      {title: "Spartanburg", url: "/locations/spartanburg"}
    ]
  })