extends /layouts/main

block meta
  +meta ({
    title:"Iron Yard- Kids Education",
    description: "Geared towards children, our kids classes are meant to provide a fun and educational introduction to programming and computer science."
  })

block content
  +navigation({
    title: 'Kids Education',
    color: 'gold',
    links: [
      {title:"Build-A-Website", url:"/academy/kids#website"},
      {title: "Scratch", url: "/academy/kids#scratch"},
      {title: "Minecraft", url: "/academy/kids#minecraft"},   
      {title:"Schedule", url:"/academy/kids#schedule"},
      {title: "FAQ", url:"/academy/kids#faq"}
    ]
  })

  .container(style="margin-top:60px")
    .row
      .col-md-8
        h1.gold-text cool headline
        p the iron yard offers kids classes or something cool wow education starts early gotta learn its the only way you'll ever make it in this big bad world
        p wow
      .col-md-4
        h2 cool
        p 

