extends /layouts/main

block meta
  +meta ({
    title:"Iron Yard- Kids Education",
    description: "Geared towards children, our kids classes are meant to provide a fun and educational introduction to programming and computer science."
  })

block content
  +navigation({
    title: 'Kids Education',
    color: 'gold',
    links: [
    ]
  })

  .container(style="margin-top:60px")
    .row
      .col-md-8
        h1 what a cool headline
        p 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
          | the iron yard offers kids classes or something cool wow education starts early gotta learn its the only way you'll ever make it in this big bad world<br><br>
      .col-md-4
        h3 these kids are takin' my job
        hr
        p
          | something something located in many cities.
          | <a href="/locations">find the iron yard location closest to you</a>
      hr

    .three-col-cta.row(style="margin:30px")
      .col-lg-3
        .image-box
          img(src="/images/academy/scratch-logo.png")
      .col-lg-9
        h3 Scratch
        p 
          | In the video game module, students learn a visual programming language called Scratch (developed by MIT). Kids learn programming fundamentals and video game basics, building their very own video game in the first few nights of class.
    
    .three-col-cta.row(style="margin:30px")
      .col-lg-3
        .image-box
          img(src="/images/academy/build-a-website-logo.png")
      .col-lg-9
        h3 Build-A-Website
                p 
          | In this class students will learn the basics of HTML and CSS, and how they work together to display content in browsers.
          
    .three-col-cta.row(style="margin:30px")
      .col-lg-3
        .image-box
          img(src="/images/academy/build-a-website-logo.png")
      .col-lg-9
        h3 Minecraft
                p 
          | In this class students will learn the basics of HTML and CSS, and how they work together to display content in browsers.                                     
    hr

    .row
      .col-md-12
        h2 FAQ
        h3 Do I need to be in class with my child?
        p If your child is younger than 13 years old, we require you to be in the class with them. Watch out, because you might just have more fun than they do.
        h3 I registered interest in a full class. How will I know if my child gets in? 
        p If a student in a full class drops out before the course starts, we will give their spot to those who registered interest on a first-come-first serve basis.        
        h3 Do I need to sign any legal paperwork in order for my child to take the class?        
        p We require every student to have a waiver/release form signed by a parent or guardian. You will recieve a link to this form when you sign up for a ticket.
  
