extends /layouts/main
block content
  +navigation({
    title: 'Durham, NC',
    color: 'green',
    image: '/images/locations/durham/durham.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs  "},
      {title: "Connect", url: "#connect"},
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container
        .row    
          .col-sm-8
            img.photo(src='/images/locations/durham/tiy-sb.png' style="margin-top:10px")
            p 
              | Welcome to The Iron Yard Academy powered by <a class="green-text" href="http://smashingboxes.com/">Smashing Boxes</a>, Durham’s premier boot camp style code school. We are building better developers to take on the Triangle’s technology economy.
              | <br><br>This school represents a unique partnership between a nationally respected code school and an enterprising technology shop, bringing education directly into the market place so that learning and real world experience happen simultaneously.
              | <br><br>To connect students directly with potential employers, Academy classes are held in the <a class="green-text" href="http://www.americanunderground.com/">American Underground</a>, in close proximity to some of the Triangle’s most promising tech start-ups.
          .col-sm-4.mobile-container
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring in Durham!
              li: a.green-text(href="http://blog.theironyard.com") The Blog
              li: a.green-text(href="mailto:durham@theironyard.com") durham@theironyard.com
              li: a.green-text(href="http://eepurl.com/JoCJv") Durham Newsletter
            

      .horizontal-section.gray-light-bg
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/greenville/greenville-academy.jpg")
              .col-sm-6
                h4 Academy
                p We offer all of our intensive Academy courses in Durham. Our grads get jobs with amazing local companies as well as awesome shops around the country.
                a(href="/academy" class="btn") Learn More
      

      .horizontal-section    
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We believe in investing in the local tech economy for the long-run, and that means impacting the next generation.
                | <br><br>Students in our intensive courses are required to volunteer, teach and run our Kids programs as a part of their involvement in the Academy.
                | <br><br> <a class="green-text" href+'http://eepurl.com/JoCJv'>Sign Up For The Mailing List
              a(href="/academy#kids").btn(style="text-align:center") Learn More   


