extends /layouts/main
block content
  +navigation({
    title: 'Alumni',
    color: 'gold',
    links: [
      {title: "Front End Engineering", url: "#front-end"},
      {title: "Rails Engineering", url: "#rails"},
      {title: "Mobile Engineering", url: "#mobile"}
    ]
  })

  .container
    .row(style="text-align:center")
      h1#front-end Front End Engineering Graduates
      hr
    .row(style="margin:0 auto")
      +bio(
        [
          {
            name: "Alison Miller",
            title: "Core Front End Dev at Benefit Focus",
            email: "jvnlwn@gmail.com?subject=I found you through The Iron Yard and I'd love to chat",
            description: 'I recently graduated from the Iron Yard’s grueling, three-month front-end engineering program. I’ve learned a ton about programming, and it’s been an awesome experience. For all the local foodies out there, I created an app call goLocal for my final project at the Iron Yard. It allows users to share places where they’ve found local food, such as farms and produce stands. When I’m not coding, you can usually find me catching up on the latest news (I have a background in journalism), playing with my golden retriever, Hanna, riding horses or socializing with friends.',
            photo: '/images/academy/graduates/alison-miller.jpg',
            links: [
              {title: "Portfolio", url: "http://alisonelizabeth.github.io/"},
              {title: "GitHub", url: "http://github.com/alisonelizabeth"},
              {title:"Open Source Report Card", url:"http://osrc.dfm.io/alisonelizabeth/"},
              {title:"Resume", url:"http://alisonelizabeth.github.io/resume.html"},
              {title:"LinkedIn", url:"http://www.linkedin.com/pub/alison-miller/19/b32/138"}
            ]
          }
        ])