extends /layouts/main

block meta
  +meta({
    title:"Iron Yard- Financing",
    description:" "
  })

block content
  +navigation({
    title: "Invest In Your Future",
    color: 'gold',
    links: [
      {title:"Tuition", url:"#tuition"},
      {title:"Financing", url:"#financing"},
      {title:"Scholarships", url:"#scholarships"}
    ]
  })

  .container
    .row#tuition
      .col-md-12: h1 Tuition
      .col-md-6
        h3 cool section bro
        p "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
      .col-md-6
        .col-md-5
          img.photo(src="/images/academy/----.jpg")
        .col-md-7
          p Wow cool text

  .horizontal-section.gray-light-bg
    .container
      .row#financing
        .col-md-4: h1 Financing
        .col-md-8
          blockquote
            p. 
              "Organic YOLO chambray American Apparel kale chips. 
              Squid stumptown cardigan gentrify, try-hard seitan 
              sartorial gluten-free before they sold out." 
            footer  Hispteria Crazedor, Coffee Shop Prophet
        .col-md-4
          h2 Pay In Full
        .col-md-4
          h2 Finance
        .col-md-4
          h2 Upstart
