extends /layouts/main

block meta
  +meta({
    title:"Iron Yard- Liftoff!",
    description:""
  })

block content
  +navigation({
    title: "Liftoff!",
    color: 'gold'
  })

  .container
    .row(style="margin-top:40px")
      .col-md-8
        h2 Welcome to The Iron Yard Family. A grand adventure lies ahead.
        img.photo(src="/images/academy/liftoff.png")
      .col-md-4
        hr
        p <strong> A few things to get the adrenaline pumping:</strong>
        ul
          li: a(href="mailto:academy@theironyard.com") Refer someone to the class for at chance at $150.
          li: a(href="http://blog.theironyard.com/") Check out our blogs to see what's happening right now.
          li: a(href="https://twitter.com/theironyard") Follow us on Twitter.
          li: a(href="http://news.theironyard.com/") See where we've been covered in the press.
        hr
        p <strong>Need to get in touch?</strong>
        ul
          li: a(href="tel:+8553992275") (855)-399-2275
          li: a(href="mailto:Academy@theironyard.com") academy@theironyard.com

