extends /layouts/main

block meta
  +meta({
    title: 'Iron Yard- Tech FAQ',
    description: "FAQs about our Open Tech program in Greenville, SC"
  })

block content
  +navigation({
    title: 'Tech FAQ',
    color: 'turquoise',
    links: [
      {title: "Mentors", url: "/accelerator/mentors"},
      {title: "Greenville", url: "/locations/greenville"}
    ]
  })

  .container
    .row(style="margin-top:60px")
      .col-md-8
        h3 Where is the Iron Yard’s Spring Program?
        p In the lovely town of Greenville, SC      
        h3 Where is Greenville?      
        p It’s in South Carolina, at the foothills of the Blue Ridge Mountains and half way between Atlanta and Charlotte.   
        h3 Do I need to move to Greenville for the duration of the program?      
        p Yep, you do.      
        h3 Do I need to stay in Greenville after the program?      
        p Nope, but obviously we’d love to have you, and we’ll do our best to show you there’s no place better.      
        h3 So this seems awesome, but this could be like any other gimmick. Is this for real?      
        p There is no cruise or trip to Vegas, but this is real. The Iron Yard wants to help creative minds with brilliant ideas become great companies.      
        h3 What does the ideal team look like?      
        p Our ideal team has three founders: designer, developer, and business/sales person. This team has a clear leader and is working on a web or mobile product with a large national or international market.      
        h3 How much funding will we receive?      
        p We give $20,000 to each company. You also get great perks such as free hosting and services, a nice place to work, and incredible mentorship. There is immeasurable value in the connections and advice that you’ll receive when you start your company with The Iron Yard and in the opportunity to pitch to angel investors and venture capitalists at the end of the program.      
        h3 That’s not a whole lot of money for several founders for three months.      
        p First, that’s not a question. Secondly, we know. Seed money isn’t meant to be a salary, it’s meant to get things moving and help with living expenses. If there wasn’t any risk, this wouldn’t be entrepreneurship. If that makes you queasy, the startup world might not be the right gig for you.      
        h3 Do you take any equity in exchange for the funding?      
        p Yes, we’ll take a 6% equity stake in your company.      
        h3 Why does The Iron Yard need and want stock in my new company?      
        p Like you, we’re entrepreneurs. We think that the value of the learning, networking, and coaching provided by the program is of tremendous value. The Iron Yard will provide you with the healthiest possible start and greatly improve your chances for success and sustainability. Once we invest, we’re motivated, and we show it by introducing you to supportive people, assisting you with strategy, finding more investors, and generally helping you to succeed. That’s a good deal for both of us.      
        h3 What are the Launch Events?      
        p 3…2…1…Our Launch Event is the culmination of the 13 weeks that you have devoted to the accelerator. We gather press, early adopters, and tech mavens and make a whole lot of noise about your product. Then we take you and the crew to do some awesome stuff we’ve planned here in our wonderful city. (Race car driving at BMW, anyone?)     
        h3 What are the Fundraising Trips all about?      
        p In addition to our Launch Events, we will take the entire class on two road trips: one to the West Coast and one to the Northeast. We’ll meet investors, give pitches, and network with other entrepreneurs. Buckle your seatbelt, because it’s going to be a wild ride.      
        h3 Who is behind the program, and why are you doing this?      
        p We are a group of very passionate (and successful) entrepreneurs and investors who truly enjoy helping startups and think that The Upstate is a great place for them to be.      
        h3 Will you sign a NDA?      
        p Nope.  
      .col-md-4
        .row
            .col-xs-4
                h1(style="font-size:48px") Lock
            .col-xs-8
                h3 <em>Applications are currently closed</em>
        hr
        h3 Still curious? Fire away.
        p Shoot us an email and we'll do our best to answer.
        a(href="mailto:hello@theironyard.com") hello@theironyard.com
