extends /layouts/main

block meta
  +meta({
    title:"The Iron Yard | Contact",
    description:"Connect with The Iron Yard via email, phone or chat."
  })

block content
  +navigation({
    title: 'Contact',
    color: 'gray-dark',
    links: [
      {title: "Headquarters", url: "#hq"},
      {title: "Campuses", url: "#campuses"}
    ] 
  })

  .container
    .row
      .col-md-8
        h3 Connect with The Iron Yard
        p We love meeting new people. Feel free to reach out to headquarters or any of our individual campuses. 
        hr
        h4#hq Headquarters
        p Our headquarters are located in beautiful Greenville, SC. Here's how you can get in touch*: 
        ul
          li General inquiries: <a href="mailto:hello@theironyard.com?subject=I have a general question about The Iron Yard">hello@theironyard.com</a>
          li Academy inquiries: <a href="mailto:academy@theironyard.com?subject=I have a general question about The Iron Yard Academy">academy@theironyard.com</a>
          li Press inquiries: <a href="mailto:press@theironyard.com?subject=I want to talk about press with someone at The Iron Yard">press@theironyard.com</a>
          li Give us a ring: <a href="tel:+8553992275">+1 (855) 399-2275</a>
          li Stop by for a visit: <em>411 University, Suite 220 Greenville, SC 29601</em>
        hr
        h3#campuses Campuses
        h4 Atlanta
        ul
          li Send an email: <a href="mailto:atlanta@theironyard.com?subject=I'd like to talk to someone from The Iron Yard's Atlanta Campus">atlanta@theironyard.com</a>
          li Give us a call: <a href="tel:+7707518046">+1 (855) 399-2275</a>
          li Stop by for a visit: 
        h4 Austin
        ul
          li Send an email: <a href="mailto:austin@theironyard.com?subject=I'd like to talk to someone from The Iron Yard's Austin Campus">austin@theironyard.com</a>
          li Give us a call: <a href="tel:+8435012775">+1 (855) 399-2275</a>
          li Stop by for a visit: 
        h4 Charleston
        ul
          li Send an email: <a href="mailto:charleston@theironyard.com?subject=I'd like to talk to someone from The Iron Yard's Charleston Campus">charleston@theironyard.com</a>
          li Give us a call: <a href="tel:+8553992275">+1 (855) 399-2275</a>
          li Stop by for a visit: 
        h4 Columbia
        ul
          li Send an email: <a href="mailto:columbia@theironyard.com?subject=I'd like to talk to someone from The Iron Yard's Columbia Campus">columbia@theironyard.com</a>
          li Give us a call: <a href="tel:+8038739299">+1 (855) 399-2275</a>
          li Stop by for a visit: 
        h4 Greenville
        ul
          li Send an email: <a href="mailto:greenville@theironyard.com?subject=I'd like to talk to someone from The Iron Yard's Greenville Campus">greenville@theironyard.com</a>
          li Give us a call: <a href="tel:+8649520099">+1 (855) 399-2275</a>
          li Stop by for a visit: 
        h4 Houston
        ul
          li Send an email: <a href="mailto:houston@theironyard.com?subject=I'd like to talk to someone from The Iron Yard's Houston Campus">houston@theironyard.com</a>
          li Give us a call: <a href="tel:+7134253797">+1 (855) 399-2275</a>
          li Stop by for a visit: 
        h4 Orlando
        ul
          li Send an email: <a href="mailto:orlando@theironyard.com?subject=I'd like to talk to someone from The Iron Yard's Orlando Campus">orlando@theironyard.com</a>
          li Give us a call: <a href="tel:+4073586683">+1 (855) 399-2275</a>
          li Stop by for a visit: 
        h4 Raleigh-Durham
        ul
          li Send an email: <a href="mailto:durham@theironyard.com?subject=I'd like to talk to someone from The Iron Yard's Raleigh-Durham Campus">durham@theironyard.com</a>
          li Give us a call: <a href="tel:+9195616055">+1 (855) 399-2275</a>
          li Stop by for a visit: 
        h4 Tampa-St. Petersburg
        ul
          li Send an email: <a href="mailto:tampabay@theironyard.com?subject=I'd like to talk to someone from The Iron Yard's Tampa-St. Pete Campus">tampabay@theironyard.com</a>
          li Give us a call: <a href="tel:+8137752275">+1 (855) 399-2275</a>
          li Stop by for a visit: 
      .col-md-4
        h3 Elsewheres
        ul 
          li Follow us on <a href="http://twitter.com/theironyard">Twitter</a>
          li Watch us on <a href="http://vimeo.com/theironyard">Vimeo</a>
          li Read our <a href="http://blog.theironyard.com">blog</a>
          li See us in the <a href="http://news.theironyard.com">news</a>
          li Read our students' <a href="http://stories.theironyard.com">stories</a>

