extends /layouts/main

block meta 
 +meta({
    title: "Orlando, FL",
    description: "The Iron Yard Academy in Orlando helps people launch careers in programming. Our intensive, 12-week code classes train you into a professional, junior-level developer."
  })

block content
  +navigation({
    title: 'Orlando',
    color: 'green',
    image: '/images/locations/orlando/orlando.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"}
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container
        .row
          .col-sm-8
            h1 The Iron Yard in Orlando
            p 
              | Orlando, Florida has long been known as a creative hub for multiple industries. Both software and media companies are building great products that are used around the world. 
            p 
              | We're excited to join an already-robust tech and creative scene, bringing value by teaching Front End Engineering (HTML/CSS/JavaSCript) and Ruby on Rails Engineering. 

          .col-sm-4.mobile-container#connect
            h3 Academy classes are open in Orlando. Apply now! 
            hr
            p
              | Learn to code.<br> 
              | Life's too short for the wrong career. 
            p
              a(href="/academy" class="btn") The Iron Yard Academy
            

      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/orlando/orlando-academy.jpg")
              .col-sm-6
                h4 The Academy
                p We offer two intensive Academy courses in Orlando. Our grads get jobs with amazing local companies as well as awesome shops around the country.
                a(href="/academy" class="btn") Learn More
            .row(style="margin-top: 30px;")
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/front-end-engineering").green-text <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
                p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
                a.btn.hover-yellow(href="/academy/front-end-engineering") Front End Engineering
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/rails-engineering").green-text <img src="/images/locations/icons/rails-icon.png" style="height:24px"> <strong>Rails Engineering</strong>
                p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build rock-solid servers, manage databases and front end app basics.
                a.btn.hover-red(href="/academy/rails-engineering") Rails Engineering         

      .horizontal-section    
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/orlando/orlando-kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We will launch kids classes in Orlando later this year. Sign up for our mailing list to learn more.
              a(href="http://eepurl.com/YcBAD" class="btn") Mailing list  

      .container  
        .row
          .col-sm-7.mobile-container
            h3(style="margin-top:0") City Highlights
            p 
              | A world-renowned destination, Orlando is the place to make all of your vacation dreams come true. Of course, it is beloved for its theme parks: Walt Disney World, Universal Studios Florida, SeaWorld Orlando and many others. But it also beckons with world-class resorts, shopping opportunities for every budget, all-season golf courses, and some of the most enticing dining opportunities on the planet. Less known but equally inviting are the downtown sections of Orlando itself and many nearby towns in Central Florida – places that celebrate public art and take pride in offering a myriad of cultural opportunities.

          .col-sm-5.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring in Orlando!
              li: a.green-text(href="http://blog.theironyard.com") The Blog
              li: a.green-text(href="mailto:orlando@theironyard.com") orlando@theironyard.com
              li: a.green-text(href="http://eepurl.com/YcBAD") Orlando Newsletter

