extends /layouts/main

block meta 
 +meta({
    title: "Orlando, FL",
    description: "The Iron Yard Academy in Orlando helps people launch careers in programming. Our intensive, 12-week code classes train you into a professional, junior-level developer."
  })

block content
  +navigation({
    title: 'Orlando',
    color: 'green',
    image: '/images/locations/orlando/orlando.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"}
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container
        .row
          .col-sm-8
            h1 The Iron Yard in Orlando
            p 
              | Orlando is on the rise! As one of the fastest growing cities in the country’s third largest state, Orlando is fostering innovation and high-growth companies in powerful tech clusters.
            p 
              | We're proud to be a part of Orlando’s already-robust tech and creative scene, contributing to the thriving tech ecosystem by teaching Front End Engineering (HTML/CSS/Javascript) and Ruby on Rails Engineering at our Downtown Orlando campus. 

          .col-sm-4.mobile-container#connect
            h3 Academy classes are open in Orlando. Apply now! 
            hr
            p
              | Learn to code.<br> 
              | Life's too short for the wrong career. 
            p
              a(href="/academy" class="btn") The Iron Yard Academy
            

      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/orlando/orlando-academy.jpg")
              .col-sm-6
                h4 The Academy
                p We offer two intensive Academy courses in Orlando. Our grads get jobs with amazing local companies as well as awesome shops around the country.
                a(href="/academy" class="btn") Learn More
            .row(style="margin-top: 30px;")
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/front-end-engineering").green-text <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
                p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
                a.btn.hover-yellow(href="/academy/front-end-engineering") Front End Engineering
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/rails-engineering").green-text <img src="/images/locations/icons/rails-icon.png" style="height:24px"> <strong>Rails Engineering</strong>
                p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build rock-solid servers, manage databases and front end app basics.
                a.btn.hover-red(href="/academy/rails-engineering") Rails Engineering         

      .horizontal-section    
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/orlando/orlando-kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We will launch kids classes in Orlando later this year. Sign up for our mailing list to learn more.
              a(href="http://eepurl.com/YcBAD" class="btn") Mailing list  

      .container  
        .row
          .col-sm-7.mobile-container
            h2 Meet Our Tampa Bay Team
            .row.left-column
              .photo-list
                .photo-container
                  a(href="/about/team#david-rogers"): img.photo-mentor(src="/images/about/david-rogers.jpg")
                h3(style="font-size: 24px;") David Rogers
                h4 Front End Instructor
              .photo-list
                .photo-container
                  a(href="/about/team#elbadri"): img.photo-mentor(src="/images/about/sarah-elbadri.jpg")
                h3(style="font-size: 24px;") Sarah Elbadri
                h4 Campus Director
  
          .col-sm-5.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring in Orlando!
              li: a.green-text(href="http://blog.theironyard.com") The Blog
              li: a.green-text(href="mailto:orlando@theironyard.com") orlando@theironyard.com
              li: a.green-text(href="http://eepurl.com/YcBAD") Orlando Newsletter
              li: a.green-text(href="tel:+4073586683") (407) 358-6683

      .horizontal-section.gray-light-bg.last
              .container
                .row
                  .col-md-7
                    h3(style="margin-top:0") City Highlights
                    p 
                      | In addition to its unrivaled visitor experience, Orlando is home to an incredible ecosystem of entrepreneurs and technology companies. In fact, technology is the region’s second largest industry with over 5,000 companies shaping the future of modeling and simulation, defense, digital media, and biotechnology. A thriving startup scene also has a strong foothold in Downtown Orlando, with one in five jobs in the area based in tech. Culturally, a hyperlocal focus is fostering a renewed vibrancy in the food and art scene. With Orlando’s weather, central location, and world-class attractions, this is the perfect place to live, work, and play. Some of our favorite things:
                    ul
                      li: a(href="http://bungalower.com/") The Bungalower
                      li: a(href="http://www.cityoforlando.net/parks/lake-eola-park/") Lake Eola
                      li: a(href="http://downtowncredo.com/") Downtown Credo
                      li: a(href="http://orlandotech.org/") Orlando Tech
                  .col-md-5
                    h4 Recent posts from the blog
                    ul.no-style-type.recent

block scripts
  +blogFeed('blog')

