extends /layouts/main

block meta
  +meta({
    title:"The Iron Yard | Press",
    description:"The Iron Yard exists to create exceptional value for people and their ideas through code education, startup accelerators, and coworking spaces."
  })

block content
  +navigation({
    title: 'Press, Facts and More',
    color: 'gray-dark',
    links: [
      {title: "About", url: "#about"},
      {title: "Facts", url: "#facts"},
      {title: "News", url: "#news"},
      {title: "Stories", url: "#stories"},
      {title: "History", url: "#history"},
      {title: "Press Kit", url: "#presskit"}
    ]
  })

  .container
    .row
      .col-md-8
        h3 About The Iron Yard
        p Lomo organic post-ironic, scenester literally before they sold out Bushwick. PBR&B bicycle rights fashion axe, put a bird on it drinking vinegar sriracha Cosby sweater letterpress vegan. Craft beer Banksy normcore four loko, Carles fixie irony locavore twee. Forage church-key aesthetic, Banksy 90's Blue Bottle crucifix fixie retro bicycle rights skateboard small batch freegan Wes Anderson raw denim. 
        
      .col-md-4
        h3 Facts
        ul 
          li cool fact
          li cool fact
          li cool fact
          li cool fact
          li cool fact
          li cool fact

        hr 
        img.photo(src="/images/about/about-page-team.jpg" style="max-width:500px")
        img.photo(src="/images/about/about-page-collaborate.jpg" style="max-width:500px")
        img.photo(src="/images/about/about-page-mason.jpg" style="max-width:500px")
  
  .container
    .row
      .col-md-6
        p Lomo organic post-ironic, scenester literally before they sold out Bushwick. PBR&B bicycle rights fashion axe, put a bird on it drinking vinegar sriracha Cosby sweater letterpress vegan.
      .col-md-6
        p Lomo organic post-ironic, scenester literally before they sold out Bushwick. PBR&B bicycle rights fashion axe, put a bird on it drinking vinegar sriracha Cosby sweater letterpress vegan. 