extends /layouts/main

block meta
  +meta({
    title: "The Iron Yard- Academy",
    description: "The Iron Yard offers intensive 12-week courses in programming, and a full tuition refund if you do not receive a job offer within six months of graduation."
  })

block content
  +navigation({
    title: 'Academy',
    color: 'gray-dark',
    image: '/images/academy/academy-header-new.jpg',
    cutout: true,
    links: [
      {title: "FAQs", url: "/academy/faq"},
      {title: "Tuition", url: "/academy/tuition"}, 
      {title: "Kids Classes", url: "/academy#kids"}
    ]
  })
  <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>

  .container
    .row
      .col-md-12
        h1.gray-dark-text: em Learn to code. <br>Life's too short for the wrong career.
        p 
          | The Iron Yard Academy teaches intensive, three-month courses that mentor you into a professional junior-level programmer. Our program goes far beyond tactical skills and teaches you to think like a software engineer. Programming is a lifelong study, and our process shows you to learn how to learn so you remain highly valuable for the rest of your career.<br><br>
          | <strong>The best part: we’ll help you get a job offer when you graduate</strong> and provide ongoing support to help you continue to grow and learn.<br><br>
          | Don’t know any code? Don’t worry. Our proven teachers and curriculum will take you from zero to hero and mentor you into a professional junior-level programmer. Take a look at our courses below to learn more and feel free to <a href="#contact">reach out</a> if you have questions about which one is right for you. 
        hr 

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/web-design-logo.png")
      .col-lg-7.col-sm-6
        h3 Web Design
        p Learn Web Design from the ground up, including ideation, UI and UX design, front-end code and a whole lot more. At the end of class you'll have the skills to understand and add value in almost any digital design role.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/web-design").btn.web-design-btn Learn More
    hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/python-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Python Engineering
        p Learn to analyze and publish data using Python and machine learning. At the end of the class you’ll make magic happen with real-world data sets and you'll know how to build web apps to show off your wizardry.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/python-engineering").btn.python-btn Learn More
    hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/mobile-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Mobile Engineering
        p Learn iOS app development using Xcode 5 and a whole lot of Objective-C. At the end of the class you’ll have the skills to create beautiful, fully functional iOS apps and the foundation to pursue building Mac apps.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/mobile-engineering").btn.mobile-btn Learn More
    hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/rails-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Rails Engineering
        p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build fast, production-quality full-stack apps.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/rails-engineering").btn.rails-btn Learn More
    hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/front-end-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Front End Engineering
        p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/front-end-engineering").btn.front-end-btn Learn More

    .row(style="background-color:#e3e7e9")
      .col-md-12<a name="contact"></a>
        h2.section-headline(style="margin-bottom: 10px;") Questions? Get in touch.
      .col-md-6(style="padding:0px 20px 20px 30px")
        p(style="margin-top:0") 
          | <strong>We'd love to answer your questions</strong>.<br>We love explaining what makes us different and our friendly team members want to help you make the best choice possible for your career. Feel free to reach out digitally or call and talk to a human.
        ul.no-style-type 
          li • Shoot us <a href="mailto:academy@theironyard.com?subject=I want to learn more about the Academy">an email</a> 
          li • Jump into our <a href="https://www.hipchat.com/gVQZ3qwbv">Academy chat room</a>
      .col-md-6(style="padding:0px 00px 20px 20px")    
        .col-md-6
          ul.no-style-type
            li • Atlanta:<br> <a href="tel:+7707518046">(770) 751-8046</a> 
            li • Austin:<br> <a href="tel:+5125962939">(512) 596-2939</a>
            li • Charleston:<br> <a href="tel:+8435012775">(843) 501-2775</a>
            li • Columbia:<br> <a href="tel:+8038739299">(803) 873-9299</a>
            li • Durham:<br> <a href="tel:+9195616055">(919) 561-6055</a>
        .col-md-6
          ul.no-style-type 
            li • Greenville:<br> <a href="tel:+8649520099">(864) 952-0099</a>
            li • Houston:<br> <a href="tel:+7134253797">(713) 425-3797</a>
            li • Orlando:<br> <a href="tel:+3212098655">(407) 358-6683</a> 
            li • Tampa Bay:<br> <a href="tel:+8137752275">(813) 775-2275</a> 
            li • Washington. DC:<br> <a href="tel:+5717339744">(571) 733-9744</a> 

  .horizontal-section.gray-light-bg
    .container(style="max-width: 960px; margin-top: 40px;")
      .row(style="text-align:center")
        h3 <em>Proven Process, Proven Instructors, Proven Results</em>  
        .embed-container <iframe src="//player.vimeo.com/video/83723333?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      .row
        .col-md-6
          p 
            | Choosing the right code education program for you can be difficult. Our courses are designed to help you launch a programming career, and require you to put in the effort and commitment it takes to make that happen.<br><br>
            | We prefer to let our results speak for us, whether that’s a student changing their life or a happy employer that’s blown away after hiring one of our grads.<br><br>
            | Learn more about our classes and results:
          ul 
            li: a(href="http://theironyard.com/academy/faq") Check out our FAQs
            li: a(href="http://theironyard.com/academy/faq/#different") Learn more about what makes us different
            li: a(href="mailto:academy@theironyard.com?subject=I'd like to talk with a team member about the Academy") Talk with one of our team members
            li: a(href="mailto:academy@theironyard.com?subject=I'd like to talk with an Academy graduate") Talk with one of our graduates
            li: a(href="mailto:academy@theironyard.com?subject=I'd like to talk with an Academy employer") Talk with one of our employers
          a.btn(href="http://theironyard.com/jobs") We're Hiring!
        .col-md-6
          p Here are a few of our values when it comes to teaching someone how to be a developer:
          ul 
            li 
              | <strong>Thinking over syntax </strong><br>
              | <em>We believe syntax is the easy part of programming and that we are successful when we’ve helped someone learn to think like an engineer.</em>
            li 
              | <strong>Quality over quantity </strong><br>
              | <em>We’re interested in training true professionals, not getting as many people into our classes as possible</em>
            li 
              | <strong>Real projects over scripted assignments</strong><br>
              | <em>People learn programming best by tackling hard problems with a mentor, not following a list of steps and taking a quiz.</em>
            li 
              | <strong>Instructors as practitioners </strong><br>
              | <em>Our teachers stay sharp by taking time off in between classes to freelance, build products and run companies, ensuring the latest, greatest curriculum every semester.</em>
            li 
              | <strong>Emphasis on open source </strong><br>
              | <em>We deeply value the open source mindset and intentionally create and contribute to open source projects.</em>

  .container
    .row
      .col-md-12#kids
        h3 Free Code Education for Kids
        p 
          | At each of our locations we offer free code classes for kids. We believe in investing in the local tech economy for the long-run, and that means impacting the next generation.<br><br>
          | Students in our intensive courses are required to volunteer, teach and run our Kids programs as a part of their involvement in the Academy. (Not only does this develop a giving mindset, but it helps them communicate things they’ve learned—an essential skill as they grow into management positions in their careers.)
      hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/scratch-logo.png")
      .col-lg-7.col-sm-6
        h3 Scratch
        p With Scratch you can program your own interactive stories, games, and animations — and share your creations with others in the online community.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/scratch").btn Learn More 

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/build-a-website-logo.png")
      .col-lg-7.col-sm-6
        h3 Build a Website
        p Using HTML and CSS, you’ll learn to build your own personal webpage, with awesome interactions and content that you’ve designed.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/build-a-website").btn Learn More  

  .horizontal-section.gray-med-bg(style="margin-bottom:-40px")
    .container(style="text-align:center")
      .row
        .col-md-12
          h3 <em>Our Sponsors</em>
          p(style="width:70%; margin: 0 auto; margin-bottom:20px") Our sponsors support our students by offering free accounts, assets, and more. We couldn’t do some of the amazing things we do in class without their generosity. Thank you, friends!
          a(href="http://github.com"): img(src="/images/academy/github.png" style="width:30%")
          a(href="http://invisionapp.com"): img(src="/images/academy/invision.png" style="width:30%")
          br
          a(href="http://macaw.co"): img(src="/images/academy/macaw.png" style="width:30%")
          a(href="http://wercker.com"): img(src="/images/academy/wercker.png" style="width:30%")
          a(href="http://symbolset.com"): img(src="/images/academy/symbolset.png" style="width:30%")




        
