extends /layouts/main
block content
  +navigation({
    title: 'Academy',
    color: 'gold',
    image: '/images/academy/academy-header.jpg',
    cutout: true,
    links: [
      {title: "Hire Graduates", url: "/academy/graduates"},
      {title: "Alumni", url: "/academy/alumni"},
      {title: "FAQs", url: "/academy/faq"},
      {title: "Kids Classes", url: "/academy#kids"}
    ]
  })

  .container
    .row
      .col-md-12
        h1.gold-text: em Learn to code. Get a job. Guaranteed.
        p 
          | The Iron Yard Academy teaches intensive, three-month courses that mentor you into a professional junior-level programmer. Our program goes far beyond tactical skills and teaches you to think like a software engineer. Programming is a lifelong study, and our process shows you to learn how to learn so you remain highly valuable for the rest of your career.<br><br>
          | <strong>The best part: we’ll help you get a job offer when you graduate (or your tuition back, guaranteed).</strong><br><br>
          | Don’t know any code? Don’t worry. Our proven teachers and curriculum will take you from zero to hero and mentor you into a professional junior-level programmer. Browse our courses and learn more below.
        hr 

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/mobile-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Mobile Engineering
        p Learn iOS app development using Xcode 5 and a whole lot of Objective-C. At the end of the class you’ll have the skills to create beautiful, fully functional iOS apps and the foundation to pursue building Mac apps.
      .col-lg-3.col-sm-4.cta-box
        a(href="#").btn Learn More
    hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/front-end-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Front End Engineering
        p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
      .col-lg-3.col-sm-4.cta-box
        a(href="#").btn Learn More
    hr    

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/rails-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Rails Engineering
        p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build rock-solid servers, manage databases and know the basics of front end app development.
      .col-lg-3.col-sm-4.cta-box
        a(href="#").btn Learn More

    .row
      .callout-box
        h4 Questions? Want to know what makes us different?
        p 
          | <strong>Call and talk to someone on the team</strong><br>
          | Atlanta: <a href="tel:+7707518046">(770) 751-8046</a> • Charleston: (843) 501-2775 • Durham: (919) 561-6055 <br>
          | Houston: (713) 425-3797 • Greenville: (864) 952-0099

        span.
          (You can also <a href="mailto:academy@theironyard.com?subject=I want to learn more about the Academy">shoot us an email</a> or jump into 
          our <a href="#">Academy Chat</a>.)