extends /layouts/main

block meta 
  +meta({
      title: "Austin, TX",
      description: "Austin is becoming home to many exciting enterprise and software startups. We can not wait to add our code school to an already amazing mix of tech."
    })

block content
  +navigation({
    title: 'Austin',
    color: 'green',
    image: '/images/locations/austin/austin.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"},
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container
        .row
          .col-sm-8
            h1 The Iron Yard in Austin
            p 
              | Famous for staying weird, Austin, Texas has long been a hub of creativity and music. The last decade has seen the rise of its tech economy in the form of accelerators, startups, investors, coworking spaces, and world-renowned conferences. We’re excited to jump into the action and train the developers who will help drive the amazing momentum that is already in motion!
          .col-sm-4.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring in Austin!
              li: a.green-text(href="http://blog.theironyard.com") The Blog
              li: a.green-text(href="mailto:austin@theironyard.com") austin@theironyard.com
              li: a.green-text(href="http://eepurl.com/Qq799") Austin Newsletter
            

      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/austin/austin-academy.jpg")
              .col-sm-6
                h4 The Academy          
                p We offer two intensive Academy courses in Austin. Our grads get jobs with amazing local companies as well as awesome shops around the country.
                a(href="/academy" class="btn") Learn More
            .row(style="margin-top: 30px;")
              .col-md-6
                h4(style="padding-bottom: 0px;"): a.green-text(href="/academy/front-end-engineering") <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
                p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
              .col-md-6
                h4(style="padding-bottom: 0px;"): a.green-text(href="/academy/rails-engineering") <img src="/images/locations/icons/rails-icon.png" style="height:24px"> <strong>Rails Engineering</strong>
                p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build rock-solid servers, manage databases and know the basics of front end app development.            

      .horizontal-section    
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/austin/austin-kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We’ll launch our free code classes for kids later this year. Sign up for the newsletter to be notified when things are ready.
              a.btn(href="http://eepurl.com/Qq799", style="text-align:center") Newsletter 


