extends /layouts/main

block meta 
  +meta({
      title:"Iron Yard | Tampa-St. Petersburg, FL",
      description: "Learn to code, get a job. We teach Front End Engineering and Rails Engineering right here in Tampa-St Petersburg, FL."
    })

block content
  +navigation({
    title: 'Tampa-St. Petersburg, FL',
    color: 'green',
    image: '/images/locations/tampa/st-petersburg.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"}
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container
        .row
          .col-sm-8
            h1(style="line-height: 1.4em;") The Iron Yard in Tampa-St. Petersburg
            p 
              | The Tampa Bay area in Florida is home to great companies, great culture and a thriving creative scene. (The white beaches and crystal clear water don't hurt either.) We have joined forces with several Bay area software companies to train the development talent they want to hire. 
            p 
              | We're excited to join an already-growing tech scene and bring value by teaching Front End Engineering (HTML/CSS/JavaSCript) and Ruby on Rails Engineering. 

          .col-sm-4
            h3(style="margin-top: 20px; font-size: 27px;") Learn to code. Life's too short for the wrong career.
            hr
            p(style="font-size:16px; margin-top:3px") 
              | Our intensive coding courses are open in St. Petersburg. Study Mobile Engineering, Ruby on Rails or Front End Engineering and launch a new career.
            a(href="/academy" class="btn") 
              | Enroll Today
            

      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/tampa/tampa-academy.jpg")
              .col-sm-6
                h4 The Academy
                p We offer two intensive Academy courses in St. Petersburg. Our grads get jobs with amazing local companies as well as awesome shops around the country.
                a(href="/academy" class="btn") Learn More
            .row(style="margin-top: 30px;")
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/front-end-engineering").green-text <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
                p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
                a.btn.hover-yellow(href="/academy/front-end-engineering") Front End Engineering
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/rails-engineering").green-text <img src="/images/locations/icons/rails-icon.png" style="height:24px"> <strong>Rails Engineering</strong>
                p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build fast, production-quality full-stack apps.
                a.btn.hover-red(href="/academy/rails-engineering") Rails Engineering                 

      .horizontal-section    
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/tampa/tampa-kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We will launch kids classes in St. Petersburg later this year. Sign up for our mailing list to learn more.
              a(href="http://eepurl.com/VklMr" class="btn") Mailing list  

      .container  
        .row
          .col-sm-7.mobile-container
            h2 Meet Our Tampa Bay Team
            .row.left-column
              .photo-list
                .photo-container
                  a(href="/about/team#brian"): img.photo-mentor(src="/images/about/brian-burridge.jpg")
                h3(style="font-size: 24px;") Brian Burridge
                h4 Rails Instructor
              .photo-list
                .photo-container
                  a(href="/about/team#justin"): img.photo-mentor(src="/images/about/justin-herrick.jpg")
                h3(style="font-size: 24px;") Justin Herrick
                h4 Front End Instructor
              .photo-list
                .photo-container
                  a(href="/about/team#george"): img.photo-mentor(src="/images/about/george-junginger.jpg")
                h3(style="font-size: 24px;") George Junginger
                h4 Campus Director

          .col-sm-5.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring in Tampa Bay!
              li: a.green-text(href="http://blog.theironyard.com") The Blog
              li: a.green-text(href="mailto:tampa@theironyard.com") tampabay@theironyard.com
              li: a.green-text(href="http://eepurl.com/VklMr") Tampa Bay Newsletter
              li: a.green-text(href="tel:+8137752275") (813) 775-2275

            img.photo-medium(src="/images/locations/tampa/tampa-city1.jpg")
            img.photo-medium(src="/images/locations/tampa/tampa-city2.jpg")

      .horizontal-section.gray-light-bg.last
        .container
          .row
            .col-md-7
              h3(style="margin-top:0") City Highlights
              p 
                | St. Petersburg, Florida’s fourth largest city, is one of the brightest spots on America’s Gulf coast. Located in the heart of the largest metro area in the state, the Sunshine City combines the tropical splendor of a vacation destination with the sophistication of an urban resort. Its quarter of a million inhabitants enjoy a vibrant arts and cultural climate, endless sports and recreational opportunities, charming and historic neighborhoods, and one of the fastest growing economies in the United States. Learn more at <a href=" http://www.stpete.org/news/">stpete.org</a>.

            .col-md-5
              h4 Recent posts from the blog
              ul.no-style-type.recent

block scripts
  +blogFeed('tampa')

