extends /layouts/main
block content
  +navigation({
    title: 'Tampa-St. Petersburg, FL',
    color: 'green',
    image: '/images/locations/tampa/tampa.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"}
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container

        .row		
          .col-sm-8
            h1 The Iron Yard in Tampa-St. Petersburg
            p 
              | Tampa Bay is home to great companies, great culture and a thriving creative scene. (The white beaches and crystal clear water don't hurt either.) We have joined forces with several Bay area software companies to train the development talent they want to hire. 
            p 
              | We're excited to join an already-growing tech scene and bring value by teaching Front End Engineering (HTML/CSS/JavaSCript) and Ruby on Rails Engineering. 

          .col-sm-4.mobile-container#connect
            h3 Academy classes are open in Tampa Bay. Apply now! 
            hr
            p
              | Learn to code.<br> 
              | Life's too short for the wrong career. 
            p
              a(href="/academy" class="btn") The Iron Yard Academy
            

      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/tampa/tampa-academy.jpg")
              .col-sm-6
                h4 The Academy
                p We offer two intensive Academy courses in Tampa. Our grads get jobs with amazing local companies as well as awesome shops around the country.
                a(href="/academy" class="btn") Learn More
            .row(style="margin-top: 30px;")
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/front-end-engineering").green-text <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
                p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
                a.btn.hover-yellow(href="/academy/front-end-engineering") Front End Engineering
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/rails-engineering").green-text <img src="/images/locations/icons/rails-icon.png" style="height:24px"> <strong>Rails Engineering</strong>
                p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build rock-solid servers, manage databases and front end app basics.
                a.btn.hover-red(href="/academy/rails-engineering") Rails Engineering                 

      .horizontal-section    
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/tampa/tampa-kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We will launch kids classes in Tampa later this year. Sign up for our mailing list to learn more.
              a(href="http://eepurl.com/VklMr" class="btn") Mailing list  

      .container  
        .row
          .col-sm-7.mobile-container
            h2 Meet Our Tampa Bay Team
            .row.left-column
              .photo-list
                .photo-container
                  a(href="/about/team#brian"): img.photo-mentor(src="/images/about/brian-burridge.jpg")
                h3 Brian Burridge
                h4 Rails Instructor
              .photo-list
                .photo-container
                  a(href="/about/team#justin"): img.photo-mentor(src="/images/about/justin-herrick.jpg")
                h3 Justin Herrick
                h4 Front End Instructor
              .photo-list
                .photo-container
                  a(href="/about/team#george"): img.photo-mentor(src="/images/about/george-junginger.jpg")
                h3 George Junginger
                h4 Campus Director

          .col-sm-5.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring in Tampa!
              li: a.green-text(href="http://blog.theironyard.com") The Blog
              li: a.green-text(href="mailto:tampa@theironyard.com") tampa@theironyard.com
              li: a.green-text(href="http://eepurl.com/VklMr") Tampa Newsletter

            img.photo-medium(src="/images/locations/tampa/tampa-city1.jpg")
            img.photo-medium(src="/images/locations/tampa/tampa-city2.jpg")

      .horizontal-section.gray-light-bg(style="margin:40px 0 0 0")
        .container
          .row
            .col-md-7
              h3(style="margin-top:0") City Highlights
              p 
                | St. Petersburg is called the "City by the Sea," and with good reason. St. Pete, as the locals like to call it, is famous for its 35 miles of beaches. The Florida peninsula called Pinellas is surrounded by water on three sides. The beautiful powder white beaches are situated on Florida's Gulf of Mexico. They rest among approximately 20 barrier islands, known as the Keys. These islands provide natural buffers from the Gulf of Mexico, thus making it a perfect spot for swimming and virtually any other water sport . This includes scuba diving, shelling, snorkeling, kayaking, sailing and the like.

            .col-md-5
              h4 Recent posts from the blog
              ul.no-style-type.recent

block scripts
  +blogFeed('blog')

