include /mixins/events
extends /layouts/main

block meta
  +meta({
    title: "Iron Yard- Events",
    description: "We set out to build the events we've always wanted to attend."
  })

block content
  +navigation({
    title: 'Events',
    color: 'red-orange',
    image: '/images/events/events-banner.jpg',
    cutout: true,
    links: [
      //- {title: "ConvergeSE", url: "http://convergese.com/"},
      //- {title: "BD Conf Nashville", url: "https://bdconf.com/events/nashville-2014/"},
      //- {title: "ConvergeRVA", url:"http://convergerva.com/"},
      //- {title: "BD Conf Orlando", url:"https://bdconf.com/events/orlando-2014/"},
      //- {title: "ConvergeFL", url:"http://convergefl.com/"},
      //- {title: "Greenville Grok", url:"/events/grok"}
    ]
  })

  .container.container-fluid(style="text-align:center")
    +events(
      [
        {
          name: "BD Conf Nashville",
          image: "/images/events/bdnashville2014.png",
          dates: "July 28-30, 2014",
          description: "Breaking Development: Beyond the Desktop",
          link: "https://bdconf.com/events/nashville-2014/",
          hr: true
        },
        {
          name: "Converge RVA",
          image: "/images/events/convergerva.png",
          dates: "October 10, 2014",
          description: "Join us for a day of discussions covering design related topics such as; technology, creativity, approach and inspiration. Come out for the day and leave a more inspired and successful designer.",
          link: "http://convergerva.com/",
          hr: true
        },
        {
          name: "BD Conf Orlando",
          image: "/images/events/bdorlando2014.png",
          dates: "November 3-5, 2014",
          decription: "Breaking Development: Beyond the Desktop",
          link: "https://bdconf.com/events/orlando-2014/",
          hr: true
        },
        {
          name: "ConvergeFL",
          image: "/images/events/convergefl.png",
          dates: "November 7-8, 2014",
          description: "ConvergeFL 2014 is back in Jacksonville, FL once again. Join us for two days of discovery, inspiration and know-how.",
          link: "http://convergefl.com",
          hr: true
        },
        {
          name:"Greenville Grok",
          image: "/images/events/events-landing-page-grok.jpg",
          description: "A three day event sans the how-to sessions from industry leaders. We think a 10 minute session of hard questions from a new face is as good as a lock-tight answer from an old pro. We started Grok because we wanted to learn big, and go big.",
          link: "/events/grok/",
          hr: false
        },
        {
          name: "ConvergeSE",
          image: "/images/events/convergese2014.png",
          dates: "May 1-3, 2014",
          description: "With in-depth workshops, a multiple track day and single track keynotes ConvergeSE is three days that will leave you changed and inspired.",
          link: "http://convergese.com/",
          hr: true
        },
      ])