extends /layouts/main
include /mixins/contact

block meta
  +meta({
      title:"The Iron Yard | Stories",
      description:""
    })

block content
  +navigation({
    title: 'How Learning to Program Changed My Life', 
    color: 'gray-dark',
    font: '40px'
  })

  .container
    .row(style="margin-top: 60px;")
      .col-md-8.col-xs-12
        p Bacon ipsum dolor amet hamburger turkey meatball chuck pancetta. Tenderloin ham hock capicola pork belly ribeye pork ham shankle salami. Chicken shoulder beef, fatback corned beef turkey spare ribs cupim boudin turducken tongue. Turkey sausage shoulder, pork frankfurter hamburger capicola landjaeger swine strip steak. Tongue leberkas ham hock pork andouille flank. Tenderloin meatball pastrami, pork prosciutto tail kielbasa brisket. Strip steak bacon turkey t-bone tongue leberkas.
        p Bacon ipsum dolor amet hamburger turkey meatball chuck pancetta. Tenderloin ham hock capicola pork belly ribeye pork ham shankle salami. Chicken shoulder beef, fatback corned beef turkey spare ribs cupim boudin turducken tongue. Turkey sausage shoulder, pork frankfurter hamburger capicola landjaeger swine strip steak. Tongue leberkas ham hock pork andouille flank. Tenderloin meatball pastrami, pork prosciutto tail kielbasa brisket. Strip steak bacon turkey t-bone tongue leberkas.
        p Bacon ipsum dolor amet hamburger turkey meatball chuck pancetta. Tenderloin ham hock capicola pork belly ribeye pork ham shankle salami. Chicken shoulder beef, fatback corned beef turkey spare ribs cupim boudin turducken tongue. Turkey sausage shoulder, pork frankfurter hamburger capicola landjaeger swine strip steak. Tongue leberkas ham hock pork andouille flank. Tenderloin meatball pastrami, pork prosciutto tail kielbasa brisket. Strip steak bacon turkey t-bone tongue leberkas.
        p Bacon ipsum dolor amet hamburger turkey meatball chuck pancetta. Tenderloin ham hock capicola pork belly ribeye pork ham shankle salami. Chicken shoulder beef, fatback corned beef turkey spare ribs cupim boudin turducken tongue. Turkey sausage shoulder, pork frankfurter hamburger capicola landjaeger swine strip steak. Tongue leberkas ham hock pork andouille flank. Tenderloin meatball pastrami, pork prosciutto tail kielbasa brisket. Strip steak bacon turkey t-bone tongue leberkas.
        p Bacon ipsum dolor amet hamburger turkey meatball chuck pancetta. Tenderloin ham hock capicola pork belly ribeye pork ham shankle salami. Chicken shoulder beef, fatback corned beef turkey spare ribs cupim boudin turducken tongue. Turkey sausage shoulder, pork frankfurter hamburger capicola landjaeger swine strip steak. Tongue leberkas ham hock pork andouille flank. Tenderloin meatball pastrami, pork prosciutto tail kielbasa brisket. Strip steak bacon turkey t-bone tongue leberkas.
      .col-md-4
        img.photo(src="/images/about/eric-dodds.jpg" styles="max-width: 310px")
        +contact('stories-template')