mixin blogFeed (cityName)
  script
    :js
      $(function(){
        wpFeed("http://#{cityName}.theironyard.com/rss/", $(".recent"));
      })


// this mixin is used on academy pages for the student stories section. it appends 3 blog titles/links instead of the 4 from wpFeed
mixin storiesFeed (blog)
  script
    :js
      $(function(){
        storiesFeed("http://#{blog}.theironyard.com/rss/", $(".recent"));
      })