mixin contact()
  #wufoo-z5pjhog1vxzm32 
    | Fill out my <a href="https://ironyard.wufoo.com/forms/z5pjhog1vxzm32">online form</a>
  #wuf-adv(style="font-family:inherit;font-size: small;color:#a7a7a7 ;text-align:center;display:block;")
    | Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.
  script
    :js
      var z5pjhog1vxzm32;(function(d, t) {
        var s = d.createElement(t), options = {
          'userName':'ironyard',
          'formHash':'z5pjhog1vxzm32',
          'autoResize':true,
          'height':'460',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true
        };
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { z5pjhog1vxzm32 = new WufooForm();z5pjhog1vxzm32.initialize(options);z5pjhog1vxzm32.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script')  