mixin photoBar(meta)  
  .container-fluid
    div.image-header(style="background: url('" + meta.photo +"') no-repeat center/cover; margin-top: 20px; height: 300px; box-shadow: inset 0 -90px 60px -14px rgba(0,0,0,.65);")
      .container
        .row(style="height: 300px;")
          .sub-nav(style="bottom:20px")
            .col-md-8.col-xs-12
              h2(style="margin-bottom: 40px;")= meta.title
              .triangle-cutout(style="bottom: 30px")