mixin stories-contact (analytics)
  div#container.ltr
    form#form2.wufoo.topLabel.page(name="form2" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" action="https://ironyard.wufoo.com/forms/m1obtgo70xwkv4q/#public")
      header#header.info
        h4 Get more information<br>from our team! 
      ul.no-style-type(style="background-color:#e3e7e9; max-width:310px; padding: 20px 0px 1px")
        li#fo2li1.notranslate
          label.desc#title1(for="Field1") Name
          div
            input#Field1.field.text.medium(style="max-width:90%" name="Field1" type="text" value="" maxlength="255" tabindex="1" onkeyup="")
        li#fo2li2.notranslate
          label.desc#title2(for="Field2") Email
          div
            input#Field2.field.text.medium(style="max-width:90%" name="Field2" type="email" spellcheck="false" value="" maxlength="255" tabindex="2")
        li#fo2li3.phone.notranslate
          label.desc#title3(for="Field3") Phone Number (optional)
          span
            input#Field3.field.text(name="Field3" type="tel" value="" size="3" maxlength="3" tabindex="3")
          span.symbol  -
          span
            input#Field3-1.field.text(name="Field3-1" type="tel" value="" size="3" maxlength="3" tabindex="3")
          span.symbol  -
          span
            input#Field3-2.field.text(name="Field3-2" type="tel" value="" size="4" maxlength="4" tabindex="5")
        li#foli4.notranslate
          label.desc#title4(for="Field4") Which campus are you interested in?
          div
            select#Field4.field.select.medium(name="Field4" tabindex="6")
              option(value="atlanta" selected="selected") Atlanta, GA
              option(value="austin") Austin, TX
              option(value="charleston") Charleston, SC
              option(value="columbia") Columbia, SC
              option(value="greenville") Greenville, SC
              option(value="houston") Houston, TX
              option(value="orlando") Orlando, FL
              option(value="durham") Raleigh-Durham, NC
              option(value="tampa") Tampa Bay, FL
              option(value="washington-dc") Washington, D.C.
        li.buttons
          div
            input#saveForm.btText.submit.btn.section-headline(name="saveForm" type="submit" value="Submit" onClick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Information Request', eventLabel: '#{analytics}'});" style="display: block; margin: 0px auto 20px; border:0px; width:155px; font-weight:200;")
        //- this should be hidden, but is necessary for wufoo to send form data.
        li.hide
          label(for="comment") Do Not Fill This Out
          textarea#comment(name="comment" rows="1" cols="1")
          input#idstamp(type="hidden" name="idstamp" value="r2N62yNyudGBAkRue9tnD5eClKKhWuxtflPVlG7QJ5A=")
  
  block scripts
    script
      :js
        var m1obtgo70xwkv4q;
        (function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'ironyard',
          'formHash':'m1obtgo70xwkv4q',
          'autoResize':true,
          'height':'460',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { m1obtgo70xwkv4q = new WufooForm();m1obtgo70xwkv4q.initialize(options);m1obtgo70xwkv4q.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script'); 
