extends /layouts/main
block content
  +navigation({
    title: 'Academy Scholarships',
    color: 'gold'
  })
  .container

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/scholarships/women-in-tech-icon.png")
      .col-lg-7.col-sm-6
        h3 Women in Tech
        p We are passionate about lowering the barrier for women who want to pursue a career in programming. We award two $1500 scholarships per semester, per class.
      .col-lg-3.col-sm-4.cta-box
        a(href="https://theironyard.typeform.com/to/K3rllQ").btn Learn More
    hr    

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/scholarships/military-icon.png")
      .col-lg-7.col-sm-6
        h3 Military Discounts
        p We offer varying discounts to military personnel, including scholarships, awards and attractive payment plans.
      .col-lg-3.col-sm-4.cta-box
        a(href="mailto:academy@theironyard.com?subject=I want to learn more about the military discount").btn Learn More

    .row(style="text-align:center")
      h3 - Durham Scholarship Deadline - Monday, May 19th -