extends /layouts/main

block meta
  +meta({
      title:"Iron Yard- 404",
      description:" "
    })

block content
  +navigation({
    color: 'gray-dark',
    title: 'Woah, there. Nice find..'
  })


  .container(style="height:500px")
    .row
      .callout-box(style="margin-top:80px")
        h2 This, my friend, is a 404 error. 
        p That means we can't find what you're looking for or there's a blunder in our code. We know you thought the Rockies would be a whole lot rockier, and that's our bad. Not to worry, though. You can start your journey over on the <a href:"/">home page</a>.
        p If this was a broken link or you think there should be content here, do us a solid and email <a href="mailto:websiteoverlord@theironyard.com">websiteoverlord@theironyard.com</a>. We'll <a href="http://media.giphy.com/media/n5rXgXReEOKqc/giphy.gif">smash that bug</a> into next millenium. 