extends /layouts/main
block content
  .container-fluid
  .header-dimmer.gray-dark-bg
    .container
      .header
        .logo
          a(href="http://theironyard.com"): img(src="/images/iron-yard-logo.svg")
        .nav
          .primary-nav
            ul
              li 
                a(href="/locations") Locations
              li 
                a(href="/events") Events
              li
                a(href="/academy") Academy
              li 
                a(href="/accelerator") Accelerator
          
          .secondary-nav
            ul
              li 
                a(href="/jobs") Jobs
              li
                a(href="/about") About
              li
                a(href="http://news.theironyard.com") News
              li
                a(href="http://blog.theironyard.com") Blog

  .container(style="max-width:1000px")
    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="images/home/home-page-icons-code-school.png")
      .col-lg-7.col-sm-6(style="padding-right:0")
        a(style="text-decoration:none; color:#39474e" href="/academy"): h3 Intensive Code School
        p(style="margin-top:0px"): em Become a professional programmer and get a great job.
        p The Iron Yard Academy teaches intensive, three-month courses that mentor you into a professional junior-level programmer. Our program goes far beyond tactical skills and teaches you to think like a software engineer. Programming is a lifelong study, and our process shows you to learn how to learn so you remain highly valuable for the rest of your career.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy").btn Learn More
    hr    
    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="images/home/home-page-icons-accelerator.png")
      .col-lg-7.col-sm-6(style="padding-right:0")
        a(style="text-decoration:none; color:#39474e" href="/accelerator"): h3 Startup Accelerator
        p(style="margin-top:0px"): em We’re interested in building strong, sustainable businesses that add real value to customers’ lives.
        p Speaking the same language? We’d love for you to join us. Whether your goal is a Series A round, building a team and bootstrapping, or utilizing Kickstarter, we have a place for you. We run three programs a year, a digital health program and an open tech program and a green tech program.
      .col-lg-3.col-sm-4.cta-box
        a(href="/accelerator").btn Learn More
    hr    
    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box  
          img(src="images/home/scratch-logo.png")
      .col-lg-7.col-sm-6(style="padding-right:0")
        a(style="text-decoration:none; color:#39474e" href="/academy#kids"): h3 Kids Education
        p(style="margin-top:0px"): em We believe in investing in the local tech economy for the long-run, and that means impacting the next generation.
        p Students in our intensive courses are required to volunteer, teach and run our Kids programs as a part of their involvement in the Academy. (Not only does this develop a giving mindset, but it helps them communicate things they’ve learned—an essential skill as they grow into management positions in their careers.)
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy#kids").btn Learn More