include /mixins/photo-bar
extends /layouts/main
block content
  +navigation({
    color: 'green',
    title: '',
    image: 'http://placehold.it/1440x540',
    triangle: false
  })
  .container-fluid
    .row
      .col-md-8.col-md-offset-2.col-xs-12
        h1 Welcome to The Iron Yard
        p Seitan pork belly Pinterest wolf mlkshk. Wes Anderson fixie hoodie YOLO, Echo Park seitan dreamcatcher flannel twee Cosby sweater Carles Intelligentsia. Neutra deep v before they sold out tofu, cardigan chia kitsch Banksy gluten-free XOXO. Deep v cred ethnic church-key Portland fashion axe dreamcatcher cardigan, pop-up Williamsburg +1. Hoodie ethical fixie, fap street art pug pour-over viral roof party Tonx. Intelligentsia tofu butcher vegan Marfa, disrupt viral Shoreditch. Distillery leggings VHS selvage chambray Intelligentsia.

        p Fixie Bushwick small batch, messenger bag lo-fi paleo pop-up chia mixtape try-hard slow-carb authentic. Jean shorts High Life keytar PBR&B authentic food truck sartorial, Intelligentsia you probably haven't heard of them street art twee. Scenester Truffaut aesthetic, bitters banjo twee blog VHS lo-fi Carles. Yr ugh ethical, typewriter pop-up trust fund McSweeney's chia irony four loko master cleanse Bushwick ethnic chambray brunch. Banjo skateboard cray PBR&B Vice tofu, freegan bitters wolf Thundercats. PBR sartorial banjo cliche, twee before they sold out chia gastropub Austin gluten-free cornhole. Tousled beard mustache distillery, ennui drinking vinegar Echo Park actually 3 wolf moon viral food truck authentic stumptown.


  +photoBar({
    title: 'Intensive Code School',
    photo: '/images/home/homepage-academy-slider.jpg'
  })

  .container-fluid
    .row
      .col-md-8.col-md-offset-2.col-xs-12
        a(style="text-decoration:none; color:#39474e" href="/academy"): h3 Become a programmer and get a great job.
        p The Iron Yard Academy teaches intensive, three-month courses that mentor you into a professional junior-level programmer. Our program goes far beyond tactical skills and teaches you to think like a software engineer. Programming is a lifelong study, and our process shows you to learn how to learn so you remain highly valuable for the rest of your career.
        hr
        .row(style="margin-top: 30px;")
          .col-md-4(style="margin-bottom: 30px;")
            h4(style="padding-bottom: 0px;"): a(href="/academy/front-end-engineering").green-text <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
            p Learn to build in-browser apps in the Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
            a(href="/academy/front-end-engineering").btn Learn More
          .col-md-4(style="margin-bottom: 30px;")
            h4(style="padding-bottom: 0px;"): a(href="/academy/rails-engineering").green-text <img src="/images/locations/icons/rails-icon.png" style="height:24px"> <strong>Rails Engineering</strong>
            p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build rock-solid servers, manage databases and know the basics of front end app development.            
            a(href="/academy/rail-engineering").btn Learn More
          .col-md-4(style="margin-bottom: 30px;")
            h4(style="padding-bottom: 0px;"): a(href="/academy/mobile-engineering").green-text <img src="/images/locations/icons/mobile-icon.png" style="height:24px"> <strong>Mobile Engineering</strong>
            p Learn iOS app development using Xcode 5 and a whole lot of Objective-C. At the end of the class you’ll have the skills to create beautiful, fully functional iOS apps and the foundation to pursue building Mac apps.
            a(href="/academy/mobile-engineering").btn Learn More



  +photoBar({
    title: 'Startup Accelerator',
    photo: '/images/home/homepage-accelerator-slider.jpg'
  })

  .container-fluid 
    .row
      .col-md-6.col-md-offset-2.col-xs-12
        a(style="text-decoration:none; color:#39474e" href="/accelerator"): h3 We’re interested in building strong, sustainable businesses that add real value to customers' lives.
        p Speaking the same language? We’d love for you to join us. Whether your goal is a Series A round, building a team and bootstrapping, or utilizing Kickstarter, we have a place for you. We run three programs a year, a digital health program and an open tech program and a green tech program.
      .col-md-2.col-xs-12(style='padding-top: 45px;')  
        a(href="/accelerator").btn Learn More
  

  +photoBar({
    title: 'Kids Education',
    photo: '/images/home/homepage-events-slider.jpg'
  })

  .container-fluid
    .row
      .col-md-6.col-md-offset-2.col-xs-12
        a(style="text-decoration:none; color:#39474e" href="/academy#kids"): h3 We believe in investing in the local tech economy for the long-run
        p ...and that means impacting the next generation. Students in our intensive courses are required to volunteer, teach and run our Kids programs as a part of their involvement in the Academy. (Not only does this develop a giving mindset, but it helps them communicate things they’ve learned—an essential skill as they grow into management positions in their careers.)
      .col-md-2.col-xs-12(style='padding-top: 45px;')  
        a(href="/academy#kids").btn Learn More
  

  +photoBar({
    title: 'Events',
    photo: '/images/home/homepage-events-slider.jpg'
  })

  .container-fluid
    .row
      .col-md-6.col-md-offset-2.col-xs-12
        a(style="text-decoration:none; color:#39474e" href="/grok"): h3 A conference with no heroes, just people hungry for tectonic shifts in thinking and doing.
        p The world doesn't need more conferences, it needs <em>better</em> conferences. We produce high quality events that are worth every dollar you spend on them. Join us for nationally-renowned gatherings like Greenville Grok, ConvergeSE and the brand new Outlines Education conference. 
      .col-md-2.col-xs-12(style='padding-top: 45px;')  

        a(href="/grok").btn Learn More
   
    .row
      .horizontal-section.gray-light-bg   
        .container
            .row
              .col-md-12
                .callout-box(style="margin-bottom:0")
                  h2 Who We Are
                  hr
                  p(style="margin-bottom:0") The Iron Yard exists to create exceptional value for people and their ideas through code education, startup accelerators and coworking spaces. Through our broad, deep and growing network of teachers, programmers, designers, entrepreneurs, investors, employers and coworking spaces we have developed a thriving community where serendipity happens en-masse.

