extends /layouts/main
block content
  .container-fluid
    .header
      .wrapper
        .logo
          img(src="images/iron-yard-logo.svg")
        .nav
          .primary-nav
            ul
              li
              li 
                a(href="#") Locations
              li 
                a(href="#") Events
              li 
                a(href="#") Academy
              li 
                a(href="#") Accelerator
          
          .secondary-nav
            ul
              li 
                a(href="#") Jobs
              li
                a(href="#") About
              li
                a(href="#") News
              li
                a(href="#") Blog           
    .row.sub-nav.gray-dark-bg
      .wrapper 
        h2 Cool Nav
        ul
          li 
            a(href="#") Hire Graduates
          li
            a(href="#") Alumni
          li
            a(href="#") FAQs
          li
            a(href="#") Kids Classes      
        .gray-dark-triangle 

    .main
      .wrapper
        h1.section-headline Leadership
        hr
        .bio
          .row
            .col-md-5
              .bio-left-col
                img.photo-bio(src="http://theironyard.com/images/about/team-peter.jpg")
                h4 Chief Executive Officer
            .col-md-7
              h2 Peter Barth
              p 
                | Peter went to Vanderbilt University and studied computer engineering, which naturally led to him becoming an options executive on Wall Street. After the financial markets had worn out their welcome, he packed his family up, moved to Indianapolis and returned to his hacker roots as a software developer and CTO for SinglePoint, Inc. After several other successful startup exits, he moved his family to Greenville, SC, where he helped start NEXT and build the NEXT Innovation Center and founded The Iron Yard. He currently serves as our CEO and is sometimes referred to as “The Iron Barth.”
              ul.links
                li • <a href="#"> @PeterBarth</a>
                li • <a href="#"> LinkedIn</a>
               
        .bio        
          .row
            .col-md-5
              .bio-left-col
                img.photo-bio(src="http://theironyard.com/images/about/team-eric.jpg")
                h4 Chief Marketing Officer
            .col-md-7
              h2 Eric Dodds
              p 
                | Eric was born and raised in Upstate SC, where he spent his early years hiking, mountain biking and dirt bike riding with his dad. Somehow he ended up at Clemson University, where he tutored calculus, studied marketing and matriculated summa cum laude. (We hear there was a lot of wake boarding, too.) After school Eric worked at a nationally renowned marketing shop, where he developed content, managed accounts and built strategies for companies like Best Buy and Doubleday. He crossed paths with Peter as The Iron Yard was being born and jumped ship to join as a partner and head of marketing.
              ul.links
                li • <a href="#"> @EricDodds</a>
                li • <a href="#"> LinkedIn</a>        
     
