extends /layouts/main
block content
  .container-fluid
  .header-dimmer
    .container
      .header
        .logo
          a(href="http://theironyard.com"): img(src="/images/iron-yard-logo.svg")
        .nav
          .primary-nav
            ul
              li 
                a(href="/locations") Locations
              li 
                a(href="/events") Events
              li
                a(href="/academy") Academy
              li 
                a(href="/accelerator") Accelerator
          
          .secondary-nav
            ul
              li 
                a(href="/jobs") Jobs
              li
                a(href="/about") About
              li
                a(href="http://news.theironyard.com") News
              li
                a(href="http://blog.theironyard.com") Blog
