extends /layouts/main
include /mixins/stories-contact

block meta
  +meta({
      title:"The Iron Yard | Stories",
      description:""
    })

block content
  +navigation({
    title: 'How Learning to Program Changed My Life', 
    color: 'gray-dark',
    font: '40px'
  })

  .container
    .row(style="margin-top: 60px;")
      .col-md-8.col-xs-12
        p(style="font-style: italic;") Mae Beale graduated from our first Ruby on Rails class in Durham and is now working as a developer at Topsail Technologies. We asked Mae to share her experience.
        p I took a rather circuitous route to programming and though I wouldn’t change anything I’ve done, it sure took me a while to get where I’d been headed! Though I had experience building business software solutions, I had always relied on developers. I wanted to branch out, but I knew that despite my background, I wasn’t qualified to make a career change without the proper programming knowledge.
        p I decided to join the Iron Yard for several reasons: to immerse myself in the topic, have a built-in accountability cycle, build a network of fellow learners, be supported in my job hunt(!!!) and to save myself some time by learning the most relevant skills from the best instructor possible. 
        p I wasn’t sure which discipline to pick, but luckily my interviewers spent time asking me questions about my interests to help me make the right choice. Programming is a lifelong investment in learning, so you really can’t go wrong. Ultimately, my interest in databases seemed to outweigh my appreciation of UI/UX design, so I enrolled in the Rails course.
        p I had an amazing experience. Our group was really tight-knit and supportive of one another and I was completely immersed in programming. My most rewarding moment happened as a result of an assignment where I had to learn to rake and regex in a weekend. Monday morning I got up in front of the class and imported 1,000 book titles from an online markdown file into our database using an importer I’d written that handled every edge case (and there were a lot of those). That was pretty amazing!
        p Though I was initially worried about finding the right job, I got hired at Topsail Technologies within a month of demo day, and was able to contribute on the first day on the job! That was not only incredibly relieving, but very validating. Topsail met my dream dev job requirements and more: it’s a small shop, and my colleagues are just incredible people — really kind, patient, supportive of my learning — and they actually care about their clients. I love it. The first time I walked in the Crowe Building for code school I thought “I want to work right here!,” and now I do!
        img.photo(src="/images/stories/mae-beal-top-sail.jpg" styles="max-width: 310px")
        p If you’re thinking about a career in programming. Go for it! Life is too short. Do things that inspire you!
        p(style="font-style: italic;") Ready to start your story? Click <a href="http://theironyard.com/stories/academy/">here</a> to learn more about our courses!

      .col-md-4
        img.photo(src="/images/stories/mae-beal.jpg" styles="max-width: 310px")
        .callout-box(style="margin-top: 60px;")
          h4 Life's too short for the wrong career.
          p Our proven teachers and curriculum will take you from zero to hero and mentor you into a professional junior-level programmer.
          a.btn(href="http://theironyard.com/stories/academy/") Learn More
      .col-md-4 
        +stories-contact('Stories-Academy Landing')
        
