extends /layouts/main

block meta
  +meta({
    title:"Iron Yard- Tuition",
    description:" "
  })

block content
  +navigation({
    title: "Invest In Your Future",
    color: 'gold',
    links: [
      {title:"Tuition", url:"#tuition"},
      {title:"Financing", url:"#financing"},
      {title:"Scholarships", url:"#scholarships"}
    ]
  })

  .container
    .row#tuition
      .col-md-12: h1 Tuition
        h4(style="padding-bottom: 0px;") Joining The Iron Yard Family
        p When you are accepted to The Iron Yard Academy, you join a family that extends far beyond your individual class or campus. Our code school and accelerator graduates comprise a national network of tech professionals, giving you access to people and companies in almost every sphere of the industry. 
      .col-md-6
        h4(style="padding-bottom: 0px;") Course costs
        p Tuition is <strong>$10,000</strong>. We have <a href="#">financing options</a>  and <a href="#">scholarships</a> available. Our package is one of the most affordable ways to launch and grow a successful programming career. 
        p • 12 weeks of intensive code education and mentorship<br>• Job placement and career support<br> • Freelance support<br> • Access to The Iron Yard network
      .col-md-6
        h4(style="padding-bottom: 23px;") Success stories
        .col-md-7
          a(href="https://vimeo.com/69189571")
            img.photo(src="/images/academy/front-end-engineering/marco-quote.jpg")
          p Read more on our <a href="http://stories.theironyard.com">Stories Blog</a>.
        .col-md-5
          p(style="margin-top: 0px; font-size: 17px;") <em>"I was amazed at the amount of skill these students had acquired after only a month-and-a-half of teaching."</em><br><strong>— Marco Suarez, Creative Director at Etsy
      .col-md-12
        p(style="text-align: center; font-size: 14px; font-style: italics; background: #e3e7e9; padding: 5px 10px 5px 10px; margin-bottom: 0px;") In January, 2015, we will be introducing several new programs to make our student experience even better, including ongoing educational opportunities, unique alumni mentorship relationships and continued career support. As a result, tuition costs will rise to $12,000. 

  .horizontal-section.gray-light-bg
    .container
      .row#financing
        .col-md-4: h1 Financing
          p Our goal is to make it as easy as possible for you to launch a successful programming career. Explore our finanicng options below. 
        .col-md-8
          blockquote(style="padding-top: 10px;")
            p(style="font-size: 19px;")
              “Andy’s skill set coming out of The Iron Yard Academy is nothing short of amazing. The experience he gained applying practical solutions to real world problems over the course of three months is more impressive than the experience most CS students gain in four years."
            footer  Terry Horner, Data Scientist at Keen.io
        hr
        .col-md-12
          .row(style="height: 310px;")
            .col-md-4(style="background: rgba(190, 190, 190, 0.53);")
              h3 Pay In Full
              p(style="font-size: 14px;") Many of our students pay tuition in a lump-sum. No deposit is required to reserve a spot in the class.<br><br> We accept multiple forms of payment. Connect with your local campus director learn more. If you haven't enrolled yet, apply today!
              a(href="/academy").btn Apply to the Academy
            .col-md-4(style="background: rgba(190, 190, 190, 0.76);")
              h3 Finance with One/Zero
              p(style="font-size: 14px;") You can choose to finance your tuition through our financing partner, One/Zero Capital. This plan requires a $1000 deposit (paid to The Iron Yard) to reserve your spot. The remaining balance is financed over 3 years. Apply for pre-approval and find out if you qualify in minutes. 
              a(href="/academy").btn Apply for pre-approval
            .col-md-4(style="background: rgba(190, 190, 190, 0.53);")
              h3 Finance with Upstart
              p(style="font-size: 14px;") Upstart can help you finance your experience at The Iron Yard. This option requires a $1000 deposit (paid to The Iron Yard) to reserve your spot. 
              a(href="/academy").btn Learn about Upstart

  .container
    .row#scholarships
      .col-md-12: h1 Scholarships

      .col-md-5
        .col-md-7
          a(href="https://vimeo.com/69189571"): img.photo(src="/images/academy/front-end-engineering/marco-quote.jpg")
          p Read more on our <a href="http://stories.theironyard.com">Stories Blog</a>.
        .col-md-5
          p(style="margin-top: 0px; font-size: 17px;") <em>"I was amazed at the amount of skill these students had acquired after only a month-and-a-half of teaching."</em><br><strong>— Marco Suarez, Creative Director at Etsy
  
      .col-md-7
        .three-col-cta.row
          .col-lg-2.col-sm-2
            .image-box
              img(src="/images/academy/scholarships/women-in-tech-icon.png")
          .col-lg-7.col-sm-6
            h3 Women in Tech
            p We are passionate about lowering the barrier for women who want to pursue a career in programming. We award two $1500 scholarships per semester, per class.
          .col-lg-3.col-sm-4.cta-box
            a(href="https://theironyard.typeform.com/to/K3rllQ").btn Learn More
        hr    
        .three-col-cta.row
          .col-lg-2.col-sm-2
            .image-box
              img(src="/images/academy/scholarships/military-icon.png")
          .col-lg-7.col-sm-6
            h3 Military Discounts
            p We offer varying discounts to military personnel, including scholarships, awards and attractive payment plans.
          .col-lg-3.col-sm-4.cta-box
            a(href="mailto:academy@theironyard.com?subject=I want to learn more about the military discount").btn Learn More
  
      
