extends /layouts/main
block content
  +navigation({
    title: 'Charleston',
    color: 'green',
    image: '/images/locations/charleston/charleston.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"}
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container

        .row(style="margin:20px 0")
          .col-sm-8
            h1 The Iron Yard In Charleston
            p 
              | Long known for welcoming ships carrying goods that would make their way to the rest of our country, Charleston, South Carolina has been a hub of activity since the beginning. Staying true to roots in commerce, the city has transformed itself into a modern-day port for technology companies who build products used all around the world.
              |<br><br>We couldn’t be more to be working in a thriving tech economy and help build it through our code education programs.
          .col-sm-4
            h3(style="margin-top: 20px; font-size: 27px;") Learn to code. Life's too short for the wrong career.
            hr
            p(style="font-size:16px; margin-top:3px") 
              | Our intensive coding courses are open in Charleston. Study Mobile Engineering or Front End Engineering and launch a new career. 
            a(href="/academy" class="btn") 
              | Enroll Today

      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/charleston/charleston-academy.jpg")
              .col-sm-6
                h4 The Academy
                p We offer two intensive Academy courses in Charleston. Our grads get jobs with amazing local companies as well as awesome shops around the country.
                a(href="/academy" class="btn") Learn More
            .row(style="margin-top: 30px;")
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/front-end-engineering").green-text <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
                p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
              .col-md-6
                h4(style="padding-bottom: 0px;"): a(href="/academy/rails-engineering").green-text <img src="/images/locations/icons/rails-icon.png" style="height:24px"> <strong>Rails Engineering</strong>
                p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build rock-solid servers, manage databases and know the basics of front end app development.     
                           
      .horizontal-section
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/charleston/charleston-kids-classes.jpg")
            .col-sm-6
              h4 Kids Classes
              p 
                | We run FREE kids coding classes out of our Charleston space. From building games with Scratch to website basics using HTML and CSS, our kids programs impart skills in fun, relaxed environment. Sign up for our mailing list to learn more. 
              a(href="http://eepurl.com/U-qWj" class="btn") Mailing list
      
      .container  
        .row
          .col-sm-7.mobile-container
            h2 Meet Our Charleston Team
            .row.left-column
              .photo-list
                .photo-container
                  a(href="/about/team#sally"): img.photo-mentor(src="/images/about/sally-kingston.jpg")
                h3(style="font-size: 24px;") Sally Kingston
                h4 Campus Director
              .photo-list
                .photo-container
                  a(href="/about/team#nick"): img.photo-mentor(src="/images/about/team-nick.jpg")
                h3(style="font-size: 24px;") Nick Bucciarelli
                h4 Rails Instructor
              .photo-list
                .photo-container
                  a(href="/about/team#calvin"): img.photo-mentor(src="/images/about/team-calvin.jpg")
                h3(style="font-size: 24px;") Calvin Webster
                h4 Front End Instructor  

          .col-sm-5.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: a.green-text(href="/jobs") We're Hiring in Charleston!
              li: a.green-text(href="http://Charleston.theironyard.com") Charleston Blog
              li: a.green-text(href="https://twitter.com/search?q=%23tiyCharleston&src=typd") #tiyCharleston
              li: a.green-text(href="mailto:Charleston@theironyard.com") Charleston@theironyard.com
            h4 Address
            p(style="font-size:16px; margin-top:3px")
              | 510 Mill Street <br>
              | Mount Pleasant, SC 29464<br>
              a.green-text(href="https://www.google.com/maps/dir//510+Mill+St,+Mt+Pleasant,+SC+29464/@32.7930009,-79.8801018,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x88fe70fcdb2e5d7d:0xbc89fd22f08eade6!2m2!1d-79.877956!2d32.7930009") Directions
            hr

            img.photo-medium(src="/images/locations/charleston/charleston-city1.jpg")
            img.photo-medium(src="/images/locations/charleston/charleston-city2.jpg")
            //- img.photo-medium(src="/images/locations/charleston/charleston-city3.jpg")


      .horizontal-section.gray-light-bg(style="margin:40px 0 0 0")
        .container
          .row
            .col-md-7
              h3(style="margin-top:0") City Highlights
              p Known for rich history, well-preserved architecture, a celebrated restaurant community and mannerly people, the Charleston area has been named Top U.S. City by Condé Nast Traveler 2013 Readers’ Choice Awards. On top of those accolades, Charleston has also become known as Silicon Harbor and for good reason—amazing food, beautiful beaches, and tons of history mean software companies  are flocking to Charleston, setting up shop, and looking for talent. Here are a few of our favorite things: 
              p
                | <a href="http://www.hometeambbq.com/">Home Team BBQ</a> • <a href="http://www.sullivansisland-sc.com/">Beaches on Sullivan's Island</a> • <a href="http://fortsumtertours.com/">Fort Sumter Historical Site</a>

            .col-md-5
              h4 Recent posts from the blog
              ul.no-style-type.recent

block scripts
  +blogFeed('charleston')
