extends /layouts/main
block content
  +navigation({
    title: 'Charleston, SC',
    color: 'green',
    image: '/images/locations/charleston/charleston.jpg',
    cutout: true,
    links: [
      {title: "Wow", url: "#leadership"},
      {title: "Cool", url: "#leadership"},
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container

        .row(style="margin:20px 0")
          .col-sm-8
            h1 Where It All Started
            p 
              | Long known for welcoming ships carrying goods that would make their way to the rest of our country, Charleston has been a hub of activity since the beginning. Staying true to roots in commerce, the city has transformed itself into a modern-day port for technology companies who build products used all around the world.
              |<br><br>We couldn’t be more excited to jump into an already thriving tech economy and help build it through our code education programs.


          .col-sm-4
            h2 Address
            p(style="font-size:16px; margin-top:3px") The Iron Yard - Charleston <br>
              | 510 Mill Street <br>
              | Mount Pleasant, SC 29464
            

      .horizontal-section.gray-light-bg
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/Charleston/Charleston-academy.jpg")
              .col-sm-6
                h4 The Academy
                p We offer an intensive Front End Engineering course and other, shorter-format design and development classes in Charleston. Our program goes far beyond tactical skills and teaches you to think like a software engineer.
                a(href="#" class="btn") Learn More
      
      .container  
        .row
          .col-sm-7.mobile-container
            h2 Meet Our Charleston Team
            .row.left-column
              .photo-list
                .photo-container
                  img.photo-mentor(src="/images/about/team-peter.jpg")
                h3 Peter Barth
                h4 CEO
              .photo-list
                .photo-container
                  img.photo-mentor(src="/images/about/team-eric.jpg")
                h3 Eric Dodds
                h4 CMO
              .photo-list
                .photo-container
                  img.photo-mentor(src="/images/about/team-mason.jpg")
                h3 Mason Stewart
                h4 CTO,<br> Lead Instructor  
              .photo-list
                .photo-container
                  img.photo-mentor(src="/images/about/team-marty.jpg")
                h3 Marty Bauer
                h4 Managing Director,<br> Accelerator

          .col-sm-5.mobile-container
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring!
              li: a.green-text(href="http://Charleston.theironyard.com") The Blog
              li: a.green-text(href="https://twitter.com/search?q=%23tiyCharleston&src=typd") #tiyCharleston
              li: a.green-text(href="mailto:Charleston@theironyard.com") Charleston@theironyard.com

            img.photo-medium(src="/images/locations/charleston/charleston-city1.jpg")
            img.photo-medium(src="/images/locations/charleston/charleston-city2.jpg")
            img.photo-medium(src="/images/locations/charleston/charleston-city3.jpg")


      .horizontal-section.gray-light-bg(style="margin:40px 0 0 0")
        .container
          .row
            .col-md-7
              h3(style="margin-top:0") City Highlights
              p  Charleston offers a plethora of things guaranteed to keep all types of enthusiasts busy. Whether you want to take a leisurely bike ride down the Swamp Rabbit Trail, catch a show at The Peace Center, or sample some of the amazing cuisine the local restaurants have to offer, this town does not disappoint. 
            .col-md-5
              h4 Recent posts from the blog
              ul.no-style-type.recent
                li: a.green-text example blog post
                li: a.green-text example blog post 
