extends /layouts/main

block meta
  +meta({
      title:"The Iron Yard | Accelerator",
      description:"Whether your goal is a Series A round, building a team and bootstrapping, or utilizing Kickstarter, we have a place for you."
    })

block content
  +navigation({
    title: 'Accelerator',
    color: 'turquoise',
    image: '/images/accelerator/accelerator-banner.jpg',
    cutout: true,
    links: [
      {title: "Digital Health", url: "/accelerator/digital-health"},
      {title: "EdTech", url: "/accelerator/ed-tech"},
      {title: "Mentors", url: "/accelerator/mentors"},
      {title: "Portfolio", url: "/accelerator/portfolio"}
    ]
  })

  .container

    h3 We’re interested in building strong, sustainable businesses that add real value to customers’ lives.   

    p Speaking the same language? We’d love for you to join us. Whether your goal is a Series A round, building a team and bootstrapping, or utilizing Kickstarter, we have a place for you.
    p We run two programs a year: a <a href="/accelerator/digital-health">Digital Health program</a> and an <a href="/accelerator/ed-tech">EdTech program</a>.
    p Sign up for our <a href="http://eepurl.com/X9BvP target="_blank">newsletter</a> for updates on the accelerator.
    hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/accelerator/icons/digital-health-accelerator-icon.png")
      .col-lg-7.col-sm-6
        h3 Digital Health
        p From wellness apps to enterprise software, we’re helping startups build the future of health. Surround yourself and your team with The Iron Yard mentors, partners, investors, and others to help grow your digital health company on a solid foundation.
      .col-lg-3.col-sm-4.cta-box
        a(href="/accelerator/digital-health").btn Learn More
    hr
    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/accelerator/icons/ed-tech-accelerator-icon.png")
      .col-lg-7.col-sm-6
        h3 EdTech
        p Education is changing on a once-in-a-generation scale led by disruptive tech both inside the classroom and out. Surround yourself and your team with The Iron Yard mentors, partners, investors, and others to build a launch pad for your EdTech company alongside leaders in the education revolution. 
      .col-lg-3.col-sm-4.cta-box
        a(href="/accelerator/ed-tech").btn Learn More

    h3 What makes us different, you ask?
    
    p It's a secret sauce with three ingredients.
    p <strong> The first is our network of mentors.</strong> CEOs and investors are must-haves, but they’re not the only ingredients to success. We partner with specialists in marketing, design, community management, and other disciplines to offer truly well-rounded support.
    p <strong> The second is The Iron Yard Alumni network.</strong>  Our portfolio of 49 companies have raised more than $40,000,000 in follow-on funding. While many of our companies remain in the Greenville area, these companies are headquartered around the country - from the Carolinas to California, Texas to Washington, DC and many places in between.  Did we mention that we also run the largest code school in the country that helps provide a pipeline of technical team members as you grow?
    p <strong> The third is The Iron Yard community.</strong> Along with supportive alumni (in the same town), our program is located in a space that provides coworking for all sorts of professionals, intensive code education, and hosts nationally-known technology and design events.
    div(style="text-align:center; margin: 60px 0;")
      <iframe src="//player.vimeo.com/video/90148511" height="381" width="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

