extends /layouts/main
block content
  +navigation({
    title: 'Accelerator',
    color: 'turquoise',
    image: '/images/accelerator/accelerator-banner.jpg',
    cutout: true,
    links: [
      {title: "Health Tech", url: "#programs "},
      {title: "Open Tech", url: "#connect"},
      {title: "Green Tech", url: "#connect"},
      {title: "Mentors", url: "#connect"},
      {title: "Portfolio", url: "#connect"}
    ]
  })