extends /layouts/main
block content
  +navigation({
    title: 'Accelerator',
    color: 'turquoise',
    image: '/images/accelerator/accelerator-banner.jpg',
    cutout: true,
    links: [
      {title: "Health Tech", url: "/accelerator/digital-health"},
      {title: "Open Tech", url: "/accelerator/open-tech"},
      {title: "Green Tech", url: "/accelerator/green-tech"},
      {title: "Mentors", url: "/accelerator/mentors"},
      {title: "Portfolio", url: "/accelerator/portfolio"}
    ]
  })

  .container
    h2 Digital Health Applications are now open!

    <iframe src="//player.vimeo.com/video/90148511" height="381" width="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    <br><br>
    a.btn(href="http://form.jotformpro.com/form/40124712669958") Apply now 
    hr 

    h3 We’re interested in building strong, sustainable businesses that add real value to customers’ lives.   

    p
      | Speaking the same language? We’d love for you to join us. Whether your goal is a Series A round, building a team and bootstrapping, or utilizing Kickstarter, we have a place for you.
      |<br><br>We run three programs a year, a <a href="/accelerator/digital-health">digital health program</a>, an <a href="/accelerator/open-tech">open tech program</a> and a <a href="/accelerator/green-tech">green tech program</a>.

    h3 What makes us different, you ask?
    
    p
      | It's a secret sauce with two ingredients.
      |<br><br> <strong> The first is our network of mentors.</strong> CEOs and investors are must-haves, but they’re not the only ingredients to success. We partner with specialists in marketing, design, community management, and other disciplines to offer truly well-rounded support.
      |<br><br> <strong> The second is The Iron Yard community.</strong> Along with supportive alumni (in the same town), our program is located in a space that provides coworking for all sorts of professionals, intensive code education, and hosts nationally-known technology and design events.
    <br>
    <br>  
