extends /layouts/main
block content
  +navigation({
    title: 'Asheville',
    color: 'green',
    image: '/images/locations/asheville/asheville.jpg',
    cutout: true,
    links: [ 
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"}
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container
        .row
          .col-sm-12
            h1 Green Tech For A Brighter Future
            p We are launching a Green Tech accelerator in Asheville, North Carolina this fall. In partnership with the A-B Tech Education and Entrepreneurial Development Foundation and other community leaders, we are excited about working with companies who are using technology to make our world a better place to live and work.
          
      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/asheville/asheville-green-tech-accelerator.jpg")
              .col-sm-6
                h4 Green Tech Accelerator
                p From energy to the environment and efficiency in healthcare, we are going to accelerate companies focused on Green Tech.
                a(href="/accelerator/green-tech/" class="btn") Learn More
      
      .horizontal-section      
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/asheville/asheville-cowork.jpg")
            .col-md-6
              h4 CoWorking Spaces
              p We will offer CoWorking space housing a mix of designers, developers and startups. Sign up for the newsletter to learn more.
              a.btn(href="mailto:asheville@theironyard.com?subject=I'm interested in coworking in Asheville", style="text-align:center") Email 

      .horizontal-section.gray-light-bg      
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/asheville/asheville-kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p We will launch kids code classes along with our accelerator program. Send us an email to learn more.
              a.btn(href="mailto:asheville@theironyard.com?subject=I'm interested in kids coding classes in Asheville", style="text-align:center") Email   

      .container  
        .row
          .col-sm-7.mobile-container
            h2 Meet Our Asheville Team
            .row.left-column
              .photo-list
                .photo-container
                  a(href="/about/team#marty"): img.photo-mentor(src="/images/about/team-marty.jpg")
                h3(style="font-size: 24px;") Marty Bauer
                h4 Managing Director
              .photo-list
                .photo-container
                  a(href="/about/team#peter"): img.photo-mentor(src="/images/about/team-peter.jpg")
                h3(style="font-size: 24px;") Peter Barth
                h4 CEO

          .col-sm-5.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring!
              li: a.green-text(href="http://blog.theironyard.com") The Blog
              li: a.green-text(href="https://twitter.com/search?q=%23tiyasheville&src=typd") #tiyasheville
              li: a.green-text(href="mailto:asheville@theironyard.com") asheville@theironyard.com