extends /layouts/main
block content
  +navigation({
    title: 'Mentors',
    color: 'turquoise'
  })


  .container(style="margin-top:40px")
    .row(style="margin: 0 auto")
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">                    
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">                    
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">                    
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
      .profile-box
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">
            li: a(href="cool") <img src="/images/accelerator/mentors/linkedin.png">