include /mixins/accelerator

block meta 
  +meta({
    title:"The Iron Yard | Accelerator Mentors",
    description: "We partner with specialists in marketing, design, community management, and other disciplines to offer truly well-rounded support."
  })

extends /layouts/main
block content
  +navigation({
    title: 'Mentors',
    color: 'turquoise'
  })


  .container(style="margin-top:40px")
    .container-fluid(style="text-align:center")

      +accelerator(
        [
          {
            name: "Kristian Andersen",
            image: "kristian_andersen.png",
            title: "Founder of Gravity Adventures",
            links: [
              {url: "https://angel.co/kristianindy", image: "angellist.png"},
              {url: "http://kristian.vc", image: "tumblr.png"},
              {url: "http://www.linkedin.com/in/kandersen1", image: "linkedin.png"},
              {url: "http://twitter.com/kristianindy", image: "twitter.png"}
            ]
          },
          {
            name: "Tim Argo",
            image: "tim_argo.jpg",
            title: "Tech Licensing Manager at Mayo Clinic",
            links: [
              {url: "https://www.linkedin.com/pub/tim-argo/6/761/72b", image: "linkedin.png"}
            ]
          },
          {
            name: "Brett Arp",
            image: "brett_arp.png",
            title: "Marketing at Wyndham",
            links: [
              {url: "http://gungagalunga.tumblr.com", image:"tumblr.png"},
              {url: "http://www.facebook.com/brettarp", image: "facebook.png"},
              {url: "http://www.linkedin.com/in/brettarp", image: "linkedin.png"},
              {url: "http://twitter.com/brettarp", image: "twitter.png"}
            ]
          },
          {
            name: "Irene Au",
            image: "irene_au.png",
            title: "VP Product at Udacity",
            links: [
              {url: "http://blog.ireneau.com/", image:"tumblr.png"},
              {url: "http://www.facebook.com/irene.au", image: "facebook.png"},
              {url: "http://www.linkedin.com/in/ireneau", image: "linkedin.png"},
              {url: "http://twitter.com/ireneau", image: "twitter.png"}
            ]
          },
          {
            name: "Jerome Aya-Ay",
            image: "jerome_ayaay.png",
            title: "Co-Founder at Palmetto Proactive",
            links: [
              {url: "http://www.linkedin.com/pub/jerome-aya-ay-md/8/643/8a4", image: "linkedin.png"}
            ]
          },
          {
            name: "Micah Baldwin",
            image: "micah_baldwin.png",
            title: "CEO at Graphicly",
            links: [
              {url:"http://learntoduck.com", image: "tumblr.png"},
              {url:"http://www.facebook.com/micahb", image: "facebook.png"},
              {url:"http://www.linkedin.com/in/micahbaldwin", image: "linkedin.png"},
              {url:"http://twitter.com/micah", image: "twitter.png"}
            ]
          },
          {
            name: "Charlie Banks",
            image: "charlie_banks.jpg",
            title: "Managing Director at Capital Angels",
            links: [
              {url:"http://angel.co/charlie-banks", image: "angellist.png"},
              {url:"https://www.linkedin.com/pub/charlie-banks/89/24a/b99", image: "linkedin.png"},
              {url:"https://twitter.com/charliebanks11/", image: "twitter.png"}
            ]
          },
          {
            name: "Chris Barrett",
            image: "chris_barrett.png",
            title: "Founder of PRserve",
            links: [
              {url:"https://angel.co/chrisbarrett", image:"angellist.png"},
              {url:"http://twitter.com/chrisbarrett", image: "twitter.png"}
            ]
          },
          {
            name: "Jim Barrett",
            image: "jim_barrett.png",
            title: "VP Sales & MKT at Softential",
            links: [
              {url:"http://www.linkedin.com/pub/jim-barrett/6/151/32b/", image:"linkedin.png"}
            ]
          },
          {
            name: "Marty Bauer",
            image: "marty_bauer.png",
            title: "Co-Founder, CEO of RidePost",
            links: [
              {url:"https://angel.co/bauermarty", image: "angellist.png"},
              {url:"http://bauermarty.wordpress.com/", image: "tumblr.png"},
              {url:"http://www.linkedin.com/in/martybauer/", image: "linkedin.png"},
              {url:"https://twitter.com/bauermarty", image: "twitter.png"}
            ]
          },
          {
            name: "John Bauknight",
            image: "john_bauknight.png",
            title: "President of LongLeaf Holdings",
            links: [
              {url:"https://angel.co/john-bauknight", image: "angellist.png"}
            ]
          },
          {
            name: "Luke Bayas",
            image: "luke_bayas.png",
            title: "Co-Founder, CTO of Locally",
            links: [
              {url:"https://angel.co/luke-bayas", image: "angellist.png"},
              {url:"https://github.com/lbayas", image: "github.png"},
              {url:"https://www.linkedin.com/in/lukebayas", image: "linkedin.png"},
              {url:"https://twitter.com/LukeBayas", image: "twitter.png"}
            ]
          },
          {
            name: "Vivek Bhatia",
            image: "vivek_bhatia.jpg",
            title: "Director of Innovation at SCAD",
            links: [
              {url:"https://www.linkedin.com/in/vivekbhatia", image: "linkedin.png"}
            ]
          },          
          {
            name: "John Bielenberg",
            image: "john_bielenberg.png",
            title: "Founder of Future",
            links:[
              {url: "http://www.facebook.com/john.bielenberg.77", image: "facebook.png"},
              {url: "http://www.linkedin.com/pub/john-bielenberg/0/4a/769", image: "linkedin.png"},
              {url: "http://twitter.com/projectm", image: "twitter.png"}
            ]
          },
          {
            name: "Michael Bolick",
            image: "michael_bolick.jpg",
            title: "CEO of Selah Genomics",
            links:[
              {url: "https://www.linkedin.com/in/michaelbolick", image: "linkedin.png"},
              {url: "http://twitter.com/michael_bolick", image: "twitter.png"}
            ]
          },
          {
            name: "Reggie Bradford",
            image: "reggie_bradford.png",
            title: "SVP of Product Dev at Oracle",
            links:[
              {url:"https://angel.co/reggie-bradford", image: "angellist.png"},
              {url: "https://www.linkedin.com/pub/reggie-bradford/9/283/384", image: "linkedin.png"},
              {url: "http://twitter.com/reggiebradford", image: "twitter.png"}
            ]
          },    
          {
            name: "Craig Brown", 
            image: "craig_brown.png",
            title: "President of the Greenville Drive",
            links: [
              {url: "http://www.milb.com/index.jsp?sid=t428", image: "tumblr.png"}
            ]
          },
          {
            name: "Dirk Brown",
            image: "dirk_brown.jpg",
            title: "CEO & Chairman of Pandoodle",
            links:[
              {url:"https://angel.co/dirk-brown", image: "angellist.png"},
              {url: "https://www.linkedin.com/dirkbrown", image: "linkedin.png"}
            ]
          },           
          {
            name: "Dodd Caldwell",
            image: "dodd_caldwell.png",
            title: "Co-Founder, CEO of MoonClerk",
            links: [
              {url: "http://doddcaldwell.com", image: "tumblr.png"},
              {url: "http://www.linkedin.com/pub/dodd-caldwell/19/9b0/961", image: "linkedin.png"},
              {url: "https://twitter.com/DoddCaldwell", image: "twitter.png"}
            ]
          },
          {
            name: "Ryan Carson",
            image: "ryan_carson.png",
            title: "Founder & CEO at Treehouse",
            links: [
              {url:"http://ryanleecarson.tumblr.com/", image: "tumblr.png"},
              {url:"http://uk.linkedin.com/in/ryancarson", image: "linkedin.png"},
              {url:"http://twitter.com/ryancarson", image: "twitter.png"}
            ]
          },
          {
            name: "Jon-Michial Carter",
            image: "jm_carter.png",
            title: "CEO of ChartSpan",
            links: [
              {url:"https://angel.co/jon-michial-carter", image: "angellist.png"},
              {url:"https://www.linkedin.com/pub/jon-michial-carter/70/906/44a", image: "linkedin.png"}
            ]
          },
          {
            name: "Leighton Cubbage",
            image: "leighton_cubbage.png",
            title: "Co-Founder at Serrus Capital",
            links: [
              {url:"http://www.linkedin.com/pub/leighton-cubbage/38/b82/3ba", image: "linkedin.png"}
            ]
          },
          {
            name: "Randy Dobbs",
            image: "randy_dobbs.png",
            title: "Speaker & Author",
            links: [
              {url:"http://www.linkedin.com/in/randyedobbs", image: "linkedin.png"}
            ]
          },
          {
            name: "Matt Dunbar",
            image: "matt_dunbar.png",
            title: "MD at UCAN",
            links: [
              {url:"http://angel.co/mdunbar", image: "angellist.png"},
              {url:"http://www.linkedin.com/in/dunbarmatt", image: "linkedin.png"}
            ]
          },
          {
            name: "Brian Ellin",
            image: "brian_ellin.png",
            title: "Product Manager at Twitter",
            links: [
              {url:"https://twitter.com/#!/brianellin", image: "twitter.png"}
            ]
          },
          {
            name: "Chris Farris",
            image: "chris_farris.png",
            title: "Farris LLC",
            links: [
              {url:"http://www.linkedin.com/profile/view?id=15597540", image: "linkedin.png"}
            ]
          },
          {
            name: "Bo Fishback",
            image: "bo_fishback.png",
            title: "Founder & CEO at Zaarly",
            links: [
              {url:"http://angel.co/bofishback", image:"angellist.png"},
              {url:"http://bofishback.com/", image:"tumblr.png"},
              {url:"https://github.com/bofishback", image:"github.png"},
              {url:"http://www.facebook.com/bofishback", image:"facebook.png"},
              {url:"http://www.linkedin.com/pub/bo-fishback/0/673/519", image:"linkedin.png"},
              {url:"http://twitter.com/bowman", image:"twitter.png"}
            ]
          },
          {
            name:"Mathew Franken",
            image:"mathew_franken.png",
            title: "Founder Dr. E. Brown Enterprises",
            links: [
              {url:"http://www.linkedin.com/pub/mat-franken/a/bbb/284", image:"linkedin.png"},
              {url:"https://twitter.com/FluxFinder", image:"twitter.png"}
            ]
          },
          {
            name:"Josh Fraser",
            image:"josh_fraser.png",
            title:"Founder & CEO at Torbit",
            links: [
              {url:"http://angel.co/joshfraser", image:"angellist.png"},
              {url:"http://joshfraser.com/", image:"tumblr.png"},
              {url:"https://github.com/joshfraser", image:"github.png"},
              {url:"http://www.facebook.com/joshfraser", image: "facebook.png"},
              {url:"http://www.linkedin.com/in/joshuafraser", image: "linkedin.png"},
              {url:"http://twitter.com/joshfraser", image: "twitter.png"}
            ]
          },
          {
            name:"Matt Gevaert",
            image:"matthew_gevaert.png",
            title:"CEO at KIYATEC",
            links: [
              {url:"http://www.linkedin.com/in/mattgevaert", image:"linkedin.png"}
            ]
          },
          {
            name:"Frank Greer",
            image:"frank_greer.png",
            title:"CEO at Zipit Wireless",
            links: [
              {url:"http://www.linkedin.com/pub/frank-greer/a/608/770", image:"linkedin.png"}
            ]
          },
          {
            name:"Vikas Gupta",
            image:"vikas_gupta.png",
            title:"Manager of Payments at Google",
            links: [
              {url:"http://www.linkedin.com/in/vikasgupta", image:"linkedin.png"},
              {url:"http://www.crunchbase.com/person/vikas-gupta", image:"crunchbase.png"}
            ]
          },
          {
            name: "Terry Horner",
            image: "terry_horner.png",
            title: "Co-Founder, CEO of Spent",
            links: [
              {url:"https://angel.co/terry-horner", image:"angellist.png"},
              {url:"https://github.com/terryhorner", image:"github.png"},
              {url:"https://www.facebook.com/terrylhorner", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/terryhorner", image:"linkedin.png"},
              {url:"http://twitter.com/terrhorn", image:"twitter.png"}
            ]
          },
          {
            name:"Bob Hughes",
            image:"bob_hughes.png",
            title: "CEO at Hughes Development",
            links:[
              {url:"http://www.hughesdevelopment.com/", image:"tumblr.png"}
            ]
          },
          {
            name:"Alan Johnson",
            image:"alan_johnson.png",
            title:"Product Officer at Treehouse",
            links:[
              {url:"http://commondream.net/", image:"tumblr.png"},
              {url:"http://github.com/commondream", image:"github.png"},
              {url:"https://www.facebook.com/commondream", image:"facebook.png"},
              {url:"http://twitter.com/commondream", image:"twitter.png"}
            ]
          },
          {
            name:"Mark Johnson",
            image:"mark_johnson.png",
            title:"Co-Founder of Pathwright",
            links: [
              {url:"https://twitter.com/wmdmark", image:"twitter.png"}
            ]
          },
          {
            name:"Paul Johnson",
            image:"paul_johnson.png",
            title:"Co-Founder of Pathwright",
            links: [
              {url:"https://twitter.com/paul_johnson", image:"twitter.png"}
            ]
          },
          {
            name:"Rob Johnson",
            image:"rob_johnson.png",
            title:"Product Strategy at Gnip",
            links: [
              {url:"http://www.facebook.com/robertnjohnson", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/robnjohnson", image: "linkedin.png"},
              {url:"http://twitter.com/robjohnson", image:"twitter.png"}
            ]
          },
          {
            name:"Matthew Klein",
            image:"matthew_klein.png",
            title:"Founder at Seedtrackers",
            links: [
              {url:"http://www.linkedin.com/in/matthewklein", image:"linkedin.png"}
            ]
          },
          {
            name:"John Krebsbach",
            image: "john_krebsbach.png",
            title:"Co-Founder at Spent",
            links: [
              {url:"http://www.johnkrebsbach.com/", image:"tumblr.png"},
              {url:"http://www.linkedin.com/in/johnkrebsbach", image:"linkedin.png"},
              {url:"https://twitter.com/jkrebs", image:"twitter.png"}
            ]
          },
          {
            name:"Joseph Lancia",
            image:"joseph_lancia.png",
            title:"CEO at SCIO Diamond",
            links: [
              {url:"http://www.linkedin.com/in/josephlancia", image:"linkedin.png"}
            ]
          },
          {
            name:"Gary Lee",
            image:"gary_lee.png",
            title:"President and COO at InReality",
            links: [
              {url:"http://www.linkedin.com/in/grlee", image:"linkedin.png"},
              {url:"http://twitter.com/gary_r_lee", image:"twitter.png"}
            ]
          },
          {
            name:"Ron Lewis",
            image:"ron_lewis.png",
            title:"Creative Director at MailChimp",
            links: [
              {url:"https://www.linkedin.com/in/seriousron", image:"linkedin.png"},
              {url:"http://twitter.com/seriousron", image:"twitter.png"}
            ]
          },
          {
            name:"Bart Lorang",
            image:"bart_lorang.png",
            title:"Founder & CEO at FullContact",
            links: [
              {url:"http://angel.co/lorangb", image:"angellist.png"},
              {url:"https://github.com/lorangb", image:"github.png"},
              {url:"https://www.facebook.com/bart.lorang", image:"facebook.png"},
              {url:"http://cn.linkedin.com/in/bartlorang", image:"linkedin.png"},
              {url:"http://twitter.com/lorangb", image:"twitter.png"}
            ]
          },
          {
            name:"Eric Marcoullier",
            image:"eric_marcoullier.png",
            title:"Advisor & Investor",
            links: [
              {url:"http://angel.co/bpm140", image:"angellist.png"},
              {url:"http://www.marcoullier.com/", image:"tumblr.png"},
              {url:"http://www.facebook.com/bpm140", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/bpm140", image:"linkedin.png"},
              {url:"http://www.linkedin.com/in/bpm140", image:"linkedin.png"},
              {url:"http://twitter.com/bpm140", image:"twitter.png"}
            ]
          },
          {
            name:"Dan Martell",
            image:"dan_martell.png",
            title:"Founder at Clarity.fm",
            links: [
              {url:"http://angel.co/danmartell", image:"angellist.png"},
              {url:"http://danmartell.com/", image:"tumblr.png"},
              {url:"http://www.facebook.com/danmartell", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/dmartell", image:"linkedin.png"},
              {url:"http://twitter.com/danmartell", image:"twitter.png"}
            ]
          },
          {
            name:"Keith Messick",
            image:"keith_messick.png",
            title:"CMO at Keas",
            links:[
              {url:"http://www.facebook.com/keith.messick", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/keithmessick", image:"linkedin.png"},
              {url:"http://twitter.com/keithmessick", image:"twitter.png"}
            ]
          },
          {
            name:"Logan Metcalfe",
            image:"logan_metcalfe.png",
            title:"CFO at Arena Consulting",
            links: [
              {url:"http://www.facebook.com/loganmetcalfe1", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/loganmetcalfe", image:"linkedin.png"},
              {url:"http://twitter.com/loganmetcalfe", image:"twitter.png"}
            ]
          },
          {
            name:"John Moore",
            image:"john_moore.png",
            title:"VP Chamber of Commerce",
            links: [
              {url:"http://www.linkedin.com/pub/john-moore/2/387/b22", image:"linkedin.png"}
            ]
          },
          {
            name:"Ryan O'Hara",
            image:"ryan_ohara.png",
            title:"CMO at ChartSpan",
            links: [
              {url:'http://www.linkedin.com/in/ryanmohara', image:"linkedin.png"},
              {url:"http://twitter.com/ryanohara", image:"twitter.png"}
            ]
          },
          {
            name:"Steve Palmer",
            image:"steve_palmer.png",
            title:"CEO at Locally",
            links: [
              {url:"http://firstpitch.tumblr.com/", image:"tumblr.png"},
              {url:"http://www.facebook.com/stp9000", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/stpalmer", image:"linkedin.png"},
              {url:'https://twitter.com/sonomavine', image:"twitter.png"}
            ]
          },
          {
            name:"Robert Pearce",
            image:"robert_pearce.png",
            title:"Co-Founder/CTO at Ridepost",
            links: [
              {url:"http://www.robertwpearce.com/", image:"tumblr.png"},
              {url:"https://github.com/rpearce", image:"github.png"},
              {url:"https://twitter.com/RobertWPearce", image:"twitter.png"}
            ]
          },
          {
            name:"Robbin Phillips",
            image:"robbin_phillips.png",
            title:"President at Brains on Fire",
            links: [
              {url:"http://www.facebook.com/brainsonfire", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/robbinphillips", image:"linkedin.png"},
              {url:"http://twitter.com/robbinphillips", image:"twitter.png"}
            ]
          },
          {
            name:"John Pizzi",
            image:"john_pizzi.png",
            title:"COO at mFoundry",
            links: [
              {url:"http://angel.co/john-pizzi", image:"angellist.png"},
              {url:"http://www.facebook.com/johnpizzi", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/johnpizzi", image:"linkedin.png"},
              {url:"http://twitter.com/johnepizzi", image:"twitter.png"}
            ]
          },
          {
            name:"Sanjay Rama",
            image:"sanjay_rama.png",
            title:"Co-Founder Trips-N-Salsa",
            links: [
              {url:"http://www.linkedin.com/pub/sanjay-rama/3/ab7/934/", image:"linkedin.png"},
              {url:"https://twitter.com/tripsnsalsa", image:"twitter.png"}
            ]
          },
          {
            name:"Kelly Rodriques",
            image:"kelly_rodriques.png",
            title:"CEO at PENSCO Trust Company",
            links: [
              {url:"http://www.facebook.com/kellyrodriques", image:"facebook.png"},
              {url:"http://www.linkedin.com/pub/8/941/9b4", image:"linkedin.png"}
            ]
          },
          {
            name:"James Rogers",
            image:"james_rogers.png",
            title:"Chair, Mayo Clinic Ventures",
            links: [
              {url:"http://www.linkedin.com/pub/james-rogers/21/97/795", image:"linkedin.png"}
            ]
          },
          {
            name:"John Saddington",
            image:"john_saddington.png",
            title:"CSO at The Iron Yard",
            links: [
              {url:"http://john.do/", image:"tumblr.png"},
              {url:"http://www.linkedin.com/in/johnsaddington", image:"linkedin.png"},
              {url:"http://twitter.com/saddington", image:"twitter.png"}
            ]
          },
          {
            name:"David Setzer",
            image:"david_setzer.png",
            title:"CEO at Virtual Connect Tech.",
            links: [
              {url:"http://www.facebook.com/davidsetzer", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/davidsetzer", image:"linkedin.png"}
            ]
          },
          {
            name:"Emily Smith",
            image:"emily_smith.png",
            title:"Information Architect",
            links: [
              {url:"http://emilysmith.cc/", image:"tumblr.png"},
              {url:"http://dribbble.com/emilysmith", image:"dribbble.png"},
              {url:"http://www.facebook.com/emilymenningsmith", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/emilymenningsmith", image:"linkedin.png"},
              {url:"http://twitter.com/emilysmith", image:"twitter.png"}
            ]
          },
          {
            name:"Kevin Smith",
            image:"kevin_smith.png",
            title:"Engineer at Hipstamatic",
            links: [
              {url:"http://kevinsmith.cc/", image:"tumblr.png"},
              {url:"http://dribbble.com/kvnsmth", image:"dribbble.png"},
              {url:"http://www.facebook.com/kevinsmithcc", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/kvnsmth", image:"linkedin.png"},
              {url:"http://twitter.com/kvnsmith", image:"twitter.png"}
            ]
          },
          {
            name:"Matthew Smith",
            image:"matthew_smith.png",
            title:"Chief Creative Officer, Relay Foods",
            links:[
              {url:"http://matthewsmith.cc/", image:"tumblr.png"},
              {url:"https://dribbble.com/whale", image:"dribbble.png"},
              {url:"http://www.facebook.com/mtthwsmth", image:"facebook.png"},
              {url:"https://www.linkedin.com/in/whale", image:"linkedin.png"},
              {url:"http://twitter.com/whale", image:"twitter.png"}
            ]
          },
          {
            name:"Kyle Sollenberger",
            image:"kyle_sollenberger.png",
            title:"Co-Founder of Cotweet",
            links: [
              {url:"http://kylesollenberger.com/", image:"tumblr.png"},
              {url:"http://dribbble.com/iamkyle", image:"dribbble.png"},
              {url:"http://www.facebook.com/kyle.sollenberger", image:"facebook.png"},
              {url:"https://www.linkedin.com/in/iamkyle", image:"linkedin.png"},
              {url:"http://twitter.com/kyle", image:"twitter.png"}
            ]
          },
          {
            name:"Toby Stansell",
            image:"toby_stansell.png",
            title:"President & COO at Acument IT",
            links: [
              {url:"http://www.linkedin.com/pub/g-t-%22toby%22-stansell/7/a88/b33", image:"linkedin.png"}
            ]
          },
          {
            name:"Damien Stevens",
            image:"damien_stevens.png",
            title:"Founder & CEO at Servosity",
            links: [
              {url:"http://www.servosity.com/", image:"tumblr.png"},
              {url:"http://www.linkedin.com/in/dstevens", image:"linkedin.png"},
              {url:"http://twitter.com/damienstevens", image:"twitter.png"},
              {url:"https://www.facebook.com/thedamienstevens", image:"facebook.png"}
            ]
          },
          {
            name:"Jim Toopes",
            image:"jim_toopes.png",
            title:"MD at Toopes Consulting",
            links:[
              {url:"http://www.facebook.com/profile.php?id=1163947497", image:"facebook.png"},
              {url:"https://www.linkedin.com/pub/jim-toopes/8/ba5/8b8", image:"linkedin.png"}
            ]
          },
          {
            name:"Andria Trivisonno",
            image:"andria_trivisonno.png",
            title:"Co-Founder of Spent",
            links: [
              {url:"https://angel.co/andriatriv", image:"angellist.png"},
              {url:"http://andriatriv.com/", image:"tumblr.png"},
              {url:"http://www.linkedin.com/in/andriatriv", image:"linkedin.png"},
              {url:"https://twitter.com/andriatriv", image:"twitter.png"}
            ]
          },
          {
            name:"Steven Wagner",
            image:"steven_wagner.png",
            title:"Founder & CEO at Dealer Ignition",
            links: [
              {url:"http://angel.co/steven-wagner1", image:"angellist.png"},
              {url:"http://saasceo.me/", image:"tumblr.png"},
              {url:"http://www.facebook.com/steven.wagner1", image:"facebook.png"},
              {url:"https://github.com/swagner2", image:"github.png"},
              {url:"http://www.linkedin.com/in/stevenjwagner", image:"linkedin.png"},
              {url:"http://twitter.com/swagner2", image:"twitter.png"}
            ]
          },
          {
            name:"Steven Walker",
            image:"steven_walker.png",
            title:"Design Manager at Groupon",
            links: [
              {url:"http://angel.co/to_morrow", image:"angellist.png"},
              {url:"http://designistomorrow.com/", image:"tumblr.png"},
              {url:"http://dribbble.com/stevenwalker",image:"dribbble.png"},
              {url:"http://www.facebook.com/stevendubya", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/walkersteven", image:"linkedin.png"},
              {url:"http://twitter.com/to_morrow", image:"twitter.png"}
            ]
          },
          {
            name:"Dan Waldschmidt",
            image:"dan_waldschmidt.png",
            title:"Speaker, Author, Strategist",
            links:[
              {url:"http://danwaldschmidt.com/", image:"tumblr.png"},
              {url:"https://www.facebook.com/daniel.waldschmidt", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/danielwaldschmidt", image:"linkedin.png"},
              {url:"https://twitter.com/danwaldo", image:'twitter.png'}
            ]
          },
          {
            name:"Peter Waldschmidt",
            image:"peter_waldschmidt.png",
            title:"Founder & CEO at Gnoso",
            links: [
              {url:"http://www.facebook.com/peterwald", image:"facebook.png"},
              {url:"http://www.linkedin.com/in/peterwaldschmidt", image:"linkedin.png"}
            ]
          },
          {
            name:"Michael Walsh",
            image:"michael_walsh.png",
            title:"Founder at Cariloop",
            links: [
              {url:"https://angel.co/michaelrwalsh", image:"angellist.png"},
              {url:"http://linkedin.com/in/walshmichaelr", image:"linkedin.png"},
              {url:"https://twitter.com/walshmichaelr", image:"twitter.png"}
            ]
          },
          {
            name:"Aarron Walter",
            image:"aarron_walter.png",
            title:"Lead UX Designer at MailChimp",
            links: [
              {url:"http://aarronwalter.com/", image:"tumblr.png"},
              {url:"http://dribbble.com/aarron", image:"dribbble.png"},
              {url:"http://www.linkedin.com/in/aarron", image:"linkedin.png"},
              {url:"http://twitter.com/aarron", image:"twitter.png"}
            ]
          },
          {
            name:"Rich Winley",
            image:"rich_winley.png",
            title:"Founder of No Chains",
            links: [
              {url:"http://www.linkedin.com/in/richwinley", image:"linkedin.png"}
            ]
          },
          {
            name:"Warren Weeks",
            image:"warren_weeks.png",
            title:"Rap Index",
            links: [
              {url:"http://www.crunchbase.com/person/warren-weeks", image:"crunchbase.png"},
              {url:"http://www.linkedin.com/in/warrenweeks", image:"linkedin.png"}
            ]
          },
          {
            name:"Bill West",
            image:"bill_west.png",
            title:"Partner at Atlantic Partners",
            links: [
              {url:"http://www.linkedin.com/pub/bill-west/0/145/300/", image:"linkedin.png"}
            ]
          },
          {
            name:"Sam Zebarjadi",
            image:"sam_zebarjadi.png",
            title:"Founder of Zamp",
            links: [
              {url:"https://angel.co/sam-zebarjadi", image:"angellist.png"},
              {url:"https://www.facebook.com/samzeb", image:"facebook.png"},
              {url:"https://www.linkedin.com/in/szebarjadi", image:"linkedin.png"},
              {url:"https://twitter.com/samzeb", image:"twitter.png"}
            ]
          }
        ])  
     