extends /layouts/main
block content
  +navigation({
    title: 'Mentors',
    color: 'turquoise'
  })


  .container(style="margin-top:40px")
    .row
      .profile-box(style="text-align:center; display:inline-block")
        img(src="/images/accelerator/mentors/kristian_andersen.png")
        .content
          h4 Kristian Anderson
          p Founder of Gravity Adventures
          ul.no-style-type(style="border-top:1px solid #777; border-bottom: 1px solid #777")
            li(style="display:inline-block; padding: 0px; margin: 5px 2px 2px"): a(href="cool") <img src="/images/accelerator/mentors/linkedin.png" style="background-color:#888; height:18px;">
            
      .mentor-box(style="text-align:center; display:inline-block")
        img(src="/images/accelerator/mentors/brett_arp.png")
        .content
          h4 Brett Arp
          p Marketing at Wyndham
          ul.no-style-type(style="border-top:1px solid #777; border-bottom: 1px solid #777")
      .mentor-box(style="text-align:center; display:inline-block")
        img(src="/images/accelerator/mentors/irene_au.png")
      .mentor-box(style="text-align:center; display:inline-block")
        img(src="/images/accelerator/mentors/brett_arp.png")
      .mentor-box(style="text-align:center; display:inline-block")
        img(src="/images/accelerator/mentors/brett_arp.png")