extends /layouts/main
block content
  +navigation({
    title: 'Greenville, SC',
    color: 'green',
    image: '/images/locations/greenville.jpg',
    cutout: true,
    links: [
      {title: "Wow", url: "#leadership"},
      {title: "Cool", url: "#leadership"},
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container

        .row(style="margin:20px 0")
          .col-sm-8
            h1 Where It All Started
            p 
              | Nestled in the foothills of the Blue Ridge Mountains, Greenville combines traditional southern charm, stunning natural beauty, and nationally-respected tech and design communities to create one of America's hottest emerging destinations and fastest-growing cities.
              |<br><br>Greenville is also the birthplace of The Iron yard. The home to our HQ, our Greenville location paved the way for our first accelerator program, first intensive Academy courses, and first kids classes. 
          .col-sm-4
            h2 Address
            p(style="font-size:16px; margin-top:3px") One <br>
              |Two <br>
              |Three okay? this is an address
            img.photo-mentor(src="http://scbiznews.s3.amazonaws.com/1306167315-Next-Innovation-Center-Greenville.jpg")

      div(style="background-color:#e3e7e9; padding: 20px 0 20px")
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/greenville-academy.jpg")
              .col-sm-6
                h4 The Academy
                p We offer cool classes to make you learn a dang JavaScript. Learning is scientifically proven to be cool for your brain. I guess I dont know I'm a doctor too.
                a(href="#" class="btn") Learn More
              
      .container
        .row(style="padding: 20px 0 20px")
          .col-md-6
            img.photo(src="http://theironyard.com/images/cowork/the-mill/the-mill-5.jpg")
          .col-md-6
            h4 Accelerator
            p 
              |Turn your eco-friendly cloud-based synergistic asynchronous algorithmic image compression engine into REAL MONEY!!!!! Talk to humans and also children about why your idea is good and their ideas are bad. I had an idea once and look where I am now who cares!
            a(href="#").btn(style="text-align:center") Learn More   

      .callout-box
        h3 Events
        p Here is a very cool place to put some events! The copy on the screenshot I was given is bad so this is what you get! Somebody please change this, okay? Thank you Have a great day!!!
