extends /layouts/main
block content
  +navigation({
    title: 'Greenville, SC',
    color: 'green',
    image: '/images/locations/greenville/greenville.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"},
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container

        .row(style="margin:20px 0")
          .col-sm-8
            h1 Where It All Started
            p 
              | Nestled in the foothills of the Blue Ridge Mountains, Greenville combines traditional southern charm, stunning natural beauty, and nationally-respected tech and design communities to create one of America's hottest emerging destinations and fastest-growing cities.
              |<br><br>Greenville is also the birthplace of The Iron yard. The home to our HQ, our Greenville location paved the way for our first accelerator program, first intensive Academy courses, and first kids classes. 
          .col-sm-4
            h2 Address
            p(style="font-size:16px; margin-top:3px") The Iron Yard - Greenville <br>
              | 411 University Ridge, Suite 220 <br>
              | Greenville, SC 29601 <br>
              | Inside the NEXT Innovation Center
            a(href="https://www.google.com/maps/dir//411+University+Ridge,+Greenville,+SC+29601/@34.84028,-82.398386,17z/data=!4m13!1m4!3m3!1s0x8858302de6a1f221:0xa6e871a61fb5dba0!2s411+University+Ridge!3b1!4m7!1m0!1m5!1m1!1s0x8858302de6a1f221:0xa6e871a61fb5dba0!2m2!1d-82.398386!2d34.84028" class="btn")
              | Directions

      .horizontal-section.gray-light-bg#programs
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/greenville/greenville-academy.jpg")
            .col-sm-6
              h4 The Academy
              p We offer our intensive Front End Engineering course in Greenville. 
              a(href="/academy" class="btn") Learn More
          hr    
          .row
            .col-md-12
              h3: a(href="/academy/front-end-engineering").green-text <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
              p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications. Our proven teachers and process will take you from zero to hero and mentor you into a professional junior-level programmer.
      
      .horizontal-section      
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/greenville/greenville-accelerator.jpg")
            .col-md-6
              h4 Accelerator
              p 
                | We're looking for talented teams with great ideas in big markets, primarily focused in education. Whether you're looking to bootstrap or get venture financing, we'll provide you with the healthiest possible start to improve your chances for success and sustainability.
              a.btn(href="/accelerator" style="text-align:center") Learn More   

      .horizontal-section.gray-light-bg      
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/greenville/greenville-cowork.jpg")
            .col-md-6
              h4 CoWorking Spaces
              p 
                | We have two phenomenal CoWorking spaces in Greenville. NEXT is adjacent to our Academy classroom space, and Railside is a stand-alone location.
              a.btn(href="mailto:greenville@theironyard.com?subject=I'd like more info on CoWorking in Greenville" style="text-align:center") Learn More

      .horizontal-section      
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/greenville/greenville-kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We teach kids programming classes for free! Your kids can learn the fundamentals of programming with Scratch or build a website of their very own!
              a.btn(href="/academy/#kids" style="text-align:center") Learn More   
        
      .container  
        .row
          .col-sm-7.mobile-container
            h2 Meet Our Greenville Team
            .row.left-column
              .photo-list
                .photo-container
                  a(href="/about/team#peter"): img.photo-mentor(src="/images/about/team-peter.jpg")
                h3 Peter Barth
                h4 Partner, CEO
              .photo-list
                .photo-container
                  a(href="/about/team#eric"): img.photo-mentor(src="/images/about/team-eric.jpg")
                h3 Eric Dodds
                h4 Partner, Brand & Ops
              .photo-list
                .photo-container
                  a(href="/about/team#mason"): img.photo-mentor(src="/images/about/team-mason.jpg")
                h3 Mason Stewart
                h4 Partner,<br> Lead Instructor  
              .photo-list
                .photo-container
                  a(href="/about/team#marty"): img.photo-mentor(src="/images/about/team-marty.jpg")
                h3 Marty Bauer
                h4 Managing Director,<br> Accelerators
              .photo-list
                .photo-container
                  a(href="/about/team#roy"): img.photo-mentor(src="/images/about/roy-schmidt.png")
                h3 Roy Schmidt
                h4 Campus Director
              .photo-list
                .photo-container
                  a(href="/about/team#joe"): img.photo-mentor(src="/images/about/team-tamburro.jpg")
                h3 Joe Tamburro
                h4 Teaching Assistant 
    
          .col-sm-5.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring!
              li: a.green-text(href="http://greenville.theironyard.com") The Greenville Blog
              li: a.green-text(href="https://twitter.com/search?q=%23tiygreenville&src=typd") #tiygreenville
              li: a.green-text(href="mailto:greenville@theironyard.com") greenville@theironyard.com

            img.photo-medium(src="/images/locations/greenville/greenville-city1.png")
            img.photo-medium(src="/images/locations/greenville/greenville-city2.png")
            img.photo-medium(src="/images/locations/greenville/greenville-city3.png")
            img.photo-medium(src="/images/locations/greenville/greenville-city4.png")


      .horizontal-section.gray-light-bg(style="margin:40px 0 0 0")
        .container
          .row
            .col-md-7
              h3(style="margin-top:0") City Highlights
              p  Greenville offers a plethora of things guaranteed to keep all types of enthusiasts busy. Whether you want to take a leisurely bike ride down the Swamp Rabbit Trail, catch a show at The Peace Center, or sample some of the amazing cuisine the local restaurants have to offer, this town does not disappoint. 
              p Head over to the <a href="http://lifeingreenville.com">Life in Greenville</a> site to find out about everything good in our town.
            .col-md-5
              h4 Recent posts from the blog
              ul.no-style-type.recent

block scripts
  +blogFeed('greenville')
