extends /layouts/main
block content
  +navigation({
    title: 'Greenville, SC',
    color: 'green',
    image: '/images/locations/greenville.jpg',
    cutout: true,
    links: [
      {title: "Wow", url: "#leadership"},
      {title: "Cool", url: "#leadership"},
    ]
  })
  