extends /layouts/main
block content
	+image-nav({
		title: 'Greenville, SC',
		color: 'green',
		image: '/images/locations/greenville.jpg'
	})
	.container-fluid
		.main
			.wrapper
				h1.section-headline Czech Out Deez Sekshins
				hr
	
				.two-col-sb
					.row
						.two-col-sb-left.col-sm-8
							p 
								|Denny dingus scared ya toad's restaurant. Hunks pruppets broats dungus Jan & Wayne skyler. Doug Prishpreed channel 4 yesterday's weather who cares dum dum. Married news team four your health drangus crount cards casino hunks dorris pringle-brule cat scraps brother to brother crounty fair roller croaster sweet berry wine daddy jetpack 500 skrateboards stan brule horse milk broo dummy Dr. Jungy Brogan vinegar. I don't care brob barker shushi lady peaches and cream. Holy Guacamole check it out marinara gotcha brules rules prizza Carol Krabit
								|<br><br>Terry Bruge-Hiplo what the heck millions of food. Pleasure crandy hunks captain gary Ron Don Volante. Turkey ham ham bacon brank David Liebe Hart. Creamed chip beef furry dingus clown dumpster seafood. Sunshine asshole's on fire Uncle Gary bears doctor to doctor. It's not that haaarrd bumble bee stings sour milk lover's trance makerover.
							h2 Here's Your Content, Stupid
						.two-col-sb-right.col-sm-4
	
	
				.two-col-bio
					.row
						.col-md-5
							.bio-left-col
								h2 Very Cool
								img.photo-bio(src="http://i.cdn.turner.com/asfix/repository/8a250aae2886f3560128880fe6b60006/check-it-out-with-dr-steve-brule-money.jpg")
						.col-md-7
							h4 We Did It
							p 
								|Denny dingus scared ya toad's restaurant. Hunks pruppets broats dungus Jan & Wayne skyler. Doug Prishpreed channel 4 yesterday's weather who cares dum dum. Married news team four your health drangus crount cards casino hunks dorris pringle-brule cat scraps brother to brother crounty fair roller croaster sweet berry wine daddy jetpack 500 skrateboards stan brule horse milk broo dummy Dr. Jungy Brogan vinegar. I don't care brob barker shushi lady peaches and cream. Holy Guacamole check it out marinara gotcha brules rules prizza Carol Krabit
	
	
				.two-col-bio(style="background-color:white")
					.row
						.col-md-5
							.bio-left-col
								h2 Not Cool
								img.photo-bio(src="http://i.cdn.turner.com/asfix/repository/8a250aae2886f3560128880fe6b60006/check-it-out-with-dr-steve-brule-money.jpg")
						.col-md-7
							h4 You Did It
							p 
								|Denny dingus scared ya toad's restaurant. Hunks pruppets broats dungus Jan & Wayne skyler. Doug Prishpreed channel 4 yesterday's weather who cares dum dum. Married news team four your health drangus crount cards casino hunks dorris pringle-brule cat scraps brother to brother crounty fair roller croaster sweet berry wine daddy jetpack 500 skrateboards stan brule horse milk broo dummy Dr. Jungy Brogan vinegar. I don't care brob barker shushi lady peaches and cream. Holy Guacamole check it out marinara gotcha brules rules prizza Carol Krabit
							a(href="#").btn(style="text-align:center") Learn More 	
	
				.two-col-bio
					.row
						.col-md-5
							.bio-left-col
								h2 Very Cool
								img.photo-bio(src="http://i.cdn.turner.com/asfix/repository/8a250aae2886f3560128880fe6b60006/check-it-out-with-dr-steve-brule-money.jpg")
						.col-md-7
							h4 We Did It
							p 
								|Denny dingus scared ya toad's restaurant. Hunks pruppets broats dungus Jan & Wayne skyler. Doug Prishpreed channel 4 yesterday's weather who cares dum dum. Married news team four your health drangus crount cards casino hunks dorris pringle-brule cat scraps brother to brother crounty fair roller croaster sweet berry wine daddy jetpack 500 skrateboards stan brule horse milk broo dummy Dr. Jungy Brogan vinegar. I don't care brob barker shushi lady peaches and cream. Holy Guacamole check it out marinara gotcha brules rules prizza Carol Krabit