extends /layouts/main
block content
  +navigation({
    title: 'Tampa, FL',
    color: 'green',
    image: '/images/locations/tampa/tampa.jpg',
    cutout: true,
    links: [
      {title: "Wow", url: "#leadership"},
      {title: "Cool", url: "#leadership"}
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container

        .row		
          .col-sm-8
            h1 Coming Soon to Tampa!
            p 
              | Tampa is home to great companies, great culture and a thriving creative scene. We can’t wait to join forces and add our code school to an already amazing mix of technology.
          .col-sm-4.mobile-container
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring in Tampa!
              li: a.green-text(href="http://blog.theironyard.com") The Blog
              li: a.green-text(href="mailto:tampa@theironyard.com") tampa@theironyard.com
            

      .horizontal-section.gray-light-bg
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/greenville/greenville-academy.jpg")
              .col-sm-6
                h4 Academy
                p We are actively building our intensive Academy classes in Tampa. More information coming soon!
                a(href="/academy" class="btn") Learn More
      

      .horizontal-section    
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We’ll launch our free code classes for kids later this year.
              a(href="/academy#kids").btn(style="text-align:center") Learn More   

