extends /layouts/main
block content
  +navigation({
    title: 'Raleigh-Durham',
    color: 'green',
    image: '/images/locations/durham/durham.jpg',
    cutout: true, 
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"},
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container
        .row    
          .col-sm-8
            img.photo(src='/images/locations/durham/tiy-sb.png' style="margin-top:10px; width: 700px;")
            p 
              | Welcome to The Iron Yard Academy powered by <a class="green-text" href="http://smashingboxes.com/">Smashing Boxes</a>, Raleigh-Durham’s premier boot camp style code school. We are building better developers to take on the Triangle’s technology economy in North Carolina.
              | <br><br>This school represents a unique partnership between a nationally respected code school and an enterprising technology shop, bringing education directly into the market place so that learning and real world experience happen simultaneously.
              | <br><br>To connect students directly with potential employers, Academy classes are held in the <a class="green-text" href="http://www.americanunderground.com/">American Underground</a>, in close proximity to some of the Triangle’s most promising tech start-ups.
          .col-sm-4
            h2 Address
            p(style="font-size:16px; margin-top:3px") The Iron Yard - Raleigh-Durham <br>
              | 334 Blackwell Street <br>
              | Suite B017 <br>
              | Durham NC 27701
            a(href="https://www.google.com/maps/place/334+Blackwell+St+b017/@35.9929204,-78.9044132,17z/data=!3m1!4b1!4m2!3m1!1s0x89ace46ceeac0791:0xc08b0e1d16d7ec7f" class="btn")
              | Directions  

      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/durham/durham-academy.jpg")
              .col-sm-6
                h4 Academy
                p We offer three intensive Academy courses in Raleigh-Durham. Our grads get jobs with amazing local companies as well as awesome shops around the country.
                a(href="/academy" class="btn") Learn More
            .row(style="margin-top: 30px;")
              .col-md-4
                h4(style="padding-bottom: 0px;"): a(href="/academy/front-end-engineering").green-text <img src="/images/locations/icons/js-icon.png" style="height:24px"> <strong>Front End Engineering</strong>
                p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
              .col-md-4
                h4(style="padding-bottom: 0px;"): a(href="/academy/rails-engineering").green-text <img src="/images/locations/icons/rails-icon.png" style="height:24px"> <strong>Rails Engineering</strong>
                p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build rock-solid servers, manage databases and know the basics of front end app development.            
              .col-md-4
                h4(style="padding-bottom: 0px;"): a(href="http://eepurl.com/X-ilf").green-text <img src="/images/locations/icons/python-icon.png" style="height:24px"> <strong>Python Engineering</strong>
                p In early 2015 we will launch a Python Engineering course in conjunction with several of our hiring parterns in Raleigh-Durham. <a href="http://eepurl.com/X-ilf">Sign up for our newsletter</a> to learn more. 
      

      .horizontal-section    
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/durham/durham-kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We’ll launch our free code classes for kids later this year. Sign up for the newsletter to be notified when things are ready.
              a(href="http://eepurl.com/JoCJv").btn(style="text-align:center") Newsletter  

      .container  
        .row
          .col-sm-7.mobile-container
            h2 Meet Our Raleigh-Durham Team
            .row.left-column
              .photo-list
                .photo-container
                  a(href="/about/team#jessica"): img.photo-mentor(src="/images/about/jessica.jpg")
                h3(style="font-size: 24px;") Jessica Mitsch
                h4 Campus Director
              .photo-list
                .photo-container
                  a(href="/about/team#julia"): img.photo-mentor(src="/images/about/julia.jpg")
                h3(style="font-size: 24px;") Julia Elman
                h4 Front End Instructor
              .photo-list
                .photo-container
                  a(href="/about/team#clinton"): img.photo-mentor(src="/images/about/clinton.jpg")
                h3(style="font-size: 24px;") Clinton Dreisbach
                h4 Rails Instructor  

          .col-sm-5.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring in Raleigh-Durham!
              li: a.green-text(href="http://durham.theironyard.com") The Raleigh-Durham Blog
              li: a.green-text(href="mailto:durham@theironyard.com") durham@theironyard.com
              li: a.green-text(href="http://eepurl.com/JoCJv") Raleigh-Durham Newsletter

            //- img.photo-medium(src="/images/locations/durham/durham-city1.jpg")
            img.photo-medium(src="/images/locations/durham/durham-city2.jpg")
            img.photo-medium(src="/images/locations/durham/durham-city3.jpg") 


      .horizontal-section.gray-light-bg(style="margin:40px 0 0 0")
        .container
          .row
            .col-md-7
              h3(style="margin-top:0") City Highlights
              p Sports, entertainment, the arts – wherever your tastes lead, Durham has it. World class facilities like the Durham Performing Arts Center, the Durham Bulls Athletic Park and Duke University’s Nasher Museum of Art blend with nearly 100 City-owned parks and recreation facilities to make Durham a place where residents Play More! Durham is also recognized as one of the decorated dining destinations in the state with award-winning restaurants and chefs that make an evening out something special.
            .col-md-5
              h4 Recent posts from the blog
              ul.no-style-type.recent

block scripts
  +blogFeed('durham')