.footer 
	.wrapper
		.logo
			img(src="bower_components/ghost-shield/dist/images/footer-logo.png")
		.footer-nav: ul
			li About
			li Jobs
			li News
			li Blog
	
			span ©2014 The Iron Yard. All Rights Reserved   
