.footer 
	.wrapper
		.logo
			img(src="bower_components/ghost-shield/dist/images/footer-logo.png")
		.footer-nav: ul
			li: a(href="#") About
			li: a(href="#") Jobs
			li: a(href="#") News
			li: a(href="#") Blog
	
		.copyright ©2014 The Iron Yard. All Rights Reserved   
