extends /layouts/main

block meta
  +meta({
    title:"The Iron Yard | Digital Health Accelerator",
    description:"$20,000 in seed capital, demo days in Silicon Valley, three months of incredible mentorship and weekly workshops from experts in healthcare innovation, and more!"
  })

block content
  +navigation({
    title: 'Digital Health Program',
    color: 'turquoise',
    links: [
      {title: "FAQ", url: "/accelerator/digital-health/faq"},
      {title: "Mentors", url: "/accelerator/mentors"},
      {title: "Spartanburg", url: "/locations/spartanburg"}
    ]
  })

  .container
    .row(style="margin-top:60px")
      .col-md-8
        img.photo(src="/images/accelerator/digital-health/program-image.jpg")
        h3 From wellness apps to enterprise software, we’re helping startups build the future of health.
        p <strong>Members of our Accelerator Receive</strong>
        ul 
          li $20,000 in seed capital.
          li Three months of incredible mentorship and weekly workshops from experts in healthcare innovation, fundraising, UX/UI and development, design, lean startup methodology, team formation and financing.           
          li Demo Day exclusive session at Health 2.0, Silicon Valley Fall Conference.
          li Full year of free coworking space surrounded by other innovators.
          li Strong partnerships with industry experts including global medical research institutions, top pharma distributors and leading hospital systems.
          li Free legal services and amazing perks through GAN and F6S.
          li Great downtown housing in the same building as the accelerator and free access to bikes for getting around town.
          li Fun events to introduce you to the Upstate and the surrounding mountains. All work and no play makes Jack a dull entrepreneur.
        p <strong>Your Team: </strong>
        ul
          li Two or more people. We will occasionally take solo founders, but teams are preferred.
          li Company should be software or a software/hardware combination. We also will consider select medical devices, biotech, and life sciences companies.
          li Your team must co-locate at The Iron Yard for the duration of the program. There’s no obligation to stay here, but we’d sure love to have you.
        p Did we mention that our space is one block from <a href="http://www.rojrockers.com">RJ Rockers Brewery?</a>    
      .col-md-4
        h3 Applications are closed
        hr
        h3 The Schedule for 2014
        ul
          li <strong>May 1</strong> - Early application deadline
          li <strong>June 1</strong> - Final application deadline
          li <strong>July 7</strong> - Program begins
          li <strong>Sep. 21-24</strong> - Demo Day at Health 2.0 Silicon Valley Conference
          li <strong>Oct. 2</strong> - Southeastern Demo Day
        hr
        h3 Virtual Office Hours
        ul
          li: a(href="http://ohours.org/bauermarty") Click to schedule an appointment
        hr
        h3 Newsletter
        a(href="http://eepurl.com/X9BvP"): .btn Sign up now!
        hr
        h3 Dig Deeper
        ul
          li Check out our <a href="/accelerator/digital-health/faq">Frequently Asked Questions.</a>
          li Sign up for our <a href="http://eepurl.com/X9BvP">newsletter!</a>
          li Check out our lovely city, <a href="/locations/spartanburg">Spartanburg.</a>
          li Meet your <a href="/accelerator/mentors">mentors.</a>
          li We offer amazing perks through <a href="http://gan.co">GAN</a> and <a href="http://f6s.com">F6S</a>.
    .row
      .col-md-12
        hr
        h3 Sponsors
        .section-headline
          img(src="/images/accelerator/digital-health/spartanburg-regional.jpg")
          img(src="/images/accelerator/digital-health/mayo.jpg")
          img(src="/images/accelerator/digital-health/health20.jpg")
          img(src="/images/accelerator/digital-health/gan.jpg")
          img(src="/images/accelerator/digital-health/wyche.jpg")
        .section-headline
          img(src="/images/accelerator/digital-health/carolinahealth.png")
          img(src="/images/accelerator/digital-health/JMSmith.png" style="max-height:64px")
        


