extends /layouts/main
include /mixins/graduates

block meta
  +meta({
    title:"The Iron Yard | Graduates",
    description:"Graudates for hire from The Iron Yard's Academy."
  })

block content
  +navigation({
    title: 'Graduates',
    color: 'gold'
  })

  .container
    .row(style="max-width:900px; margin:40px auto")
      h1#greenville.filter-item GREENVILLE
      h1#charleston.filter-item CHARLESTON
      
      +graduates("greenville")


  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  script(src="/../scripts/graduates.js")
