extends /layouts/main

block meta
  +meta({
    title:"The Iron Yard | Graduates",
    description:"Graudates for hire from The Iron Yard's Academy."
  })

block content
  +navigation({
    title: 'Graduates',
    color: 'gold',
    links: [
      {title: "Front End Engineering", url: "#front-end"},
      {title: "Rails Engineering", url: "#rails"},
      {title: "Mobile Engineering", url: "#mobile"}
    ]
  })

  .container
    .row(style="text-align:center")
      h1#front-end Front End Engineering Graduates
      hr
    .row(style="max-width:900px; margin:0 auto")
      +bio(
        [
          {
            name: "Joe VanLeeuwen",
            email: "jvnlwn@gmail.com?subject=I found you through The Iron Yard and I'd love to chat",
            description: 'I recently graduated from a three-month Front End Engineering course at The Iron Yard. The work in my portfolio represents long hours plugging away at assignments for the class. I titled my final project chess.js, and I am most satisfied with this endeavor. Besides hacking away at something that is way over my head, I also enjoy running, especially trail running. My last big race was the Bel Monte 50 Miler back in April of ‘13. I hope to run a 100 miler some day',
            photo: '/images/academy/graduates/joe-vanleeuwen.jpg',
            links: [
              {title: "Portfolio", url: "http://joe-vanleeuwen.github.io/"},
              {title: "GitHub", url: "https://github.com/joe-vanleeuwen"},
              {title:"Open Source Report Card", url:"http://osrc.dfm.io/joe-vanleeuwen"}
            ]
          },
          {
            name: "Ryan Ponce",
            email: "ryan@ponce.io?subject=I found you through The Iron Yard and I'd love to chat",
            description: 'After five years working at Apple Stores, my brother and I created a small startup called Surprise Co. At the same time, I created my own company called App Shirt Co. I am still working on both. In August 2013, I moved to Greenville, SC to take a 12-week intensive front-end engineering class. There I learned the skills necessary to become a true developer. I am currently looking for a web development position with a progressive, growth-oriented company that offers challenging opportunities and responsibilities with the potential for career advancement. I am willing to relocate for the perfect position.',
            photo: '/images/academy/graduates/ryan-ponce.jpg',
            links: [
              {title: "Blog", url: "http://blog.ponce.io/"},
              {title: "GitHub", url: "https://github.com/ryanponce/"},
              {title:"Open Source Report Card", url:"http://osrc.dfm.io/ryanponce/"},
              {title: "Twitter", url:"https://twitter.com/ryanponce/"}
            ]
          },
          {
            name: "Tyler Phillips",
            email: "tylerfphillips@gmail.com?subject=I found you through The Iron Yard and I'd love to chat",
            description: 'Learning how to write code has been an experience unlike anything else. It wasn’t simply learning a new skill. It was learning a new way of thinking. I learned to look at all areas of the problem and analyze them before making a decision. This new way of thinking has taught me to look at all problems differently, whether they involve programming or everyday life. As I move forward, I’m excited to continue to grow, learn and continue to improve upon my thinking and problem solving abilities.',
            photo: '/images/academy/graduates/tyler-phillips.jpg',
            links: [
              {title: "Portfolio", url: "http://tylerphillips.github.io/"},
              {title: "GitHub", url: "https://github.com/tylerphillips/"},
              {title:"Open Source Report Card", url:"http://osrc.dfm.io/tylerphillips/"}
            ]
          }
        ])
    .row(style="text-align:center")
      h1#rails Rails Engineering Graduates
      hr
      p Coming soon!  
    .row(style="max-width:900px; margin:0 auto")
      //add bio mixin with Rails student info here

    .row(style="text-align:center")
      h1#mobile Mobile Engineering Graduates
      hr
      p Coming soon!  
    .row(style="max-width:900px; margin:0 auto")
      //add bio mixin with Mobile student info here



