extends /layouts/main
include /mixins/graduates

block meta
  +meta({
    title:"The Iron Yard | Graduates",
    description:"Graduates for hire from The Iron Yard's Academy."
  })

block content
  +navigation({
    title: 'Graduates',
    color: 'gold'
  })

  .container
    .row
      .col-md-12
        h1.gold-text: em Hire Our Graduates
        p 
          | We learned these dorks a programming. Now it's your job to "Give 'Em Money." Thank you.
        hr 

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/mobile-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Mobile Engineering
        p Learn iOS app development using Xcode 5 and a whole lot of Objective-C. At the end of the class you’ll have the skills to create beautiful, fully functional iOS apps and the foundation to pursue building Mac apps.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/graduates/mobile-engineering").btn.hover-blue Hire Grads
    hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/rails-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Rails Engineering
        p Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build fast, production-quality full-stack apps.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/graduates/rails-engineering").btn.hover-red Hire Grads
    hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/front-end-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Front End Engineering
        p Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
      .col-lg-3.col-sm-4.cta-box
        a(href="/academy/graduates/front-end-engineering").btn.hover-yellow Hire Grads

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/web-design-logo.png")
      .col-lg-7.col-sm-6
        h3 Web Design
        p Learn Web Design from the ground up, including ideation, UI and UX design, front-end code and a whole lot more. At the end of class you'll have the skills to understand and add value in almost any digital design role.
      .col-lg-3.col-sm-4.cta-box
        a.btn.hover-purple Coming Soon
    hr

    .three-col-cta.row
      .col-lg-2.col-sm-2
        .image-box
          img(src="/images/academy/python-engineering-logo.png")
      .col-lg-7.col-sm-6
        h3 Python Engineering
        p Learn to analyze and publish data using Python and machine learning. At the end of the class you’ll make magic happen with real-world data sets and you'll know how to build web apps to show off your wizardry.
      .col-lg-3.col-sm-4.cta-box
        a.btn.hover-teal Coming Soon
    hr        