extends /layouts/main
include /mixins/graduates

block meta
  +meta({
    title:"The Iron Yard | Graduates",
    description:"Graduates for hire from The Iron Yard's Academy."
  })

block content
  +navigation({
    title: 'Graduates',
    color: 'gold'
  })

