extends /layouts/main
include /mixins/contact

block meta 
  +meta({
      title: "The Iron Yard | Washington, D.C. Code School",
      description: "Learn to code, get a job. We teach Front End Engineering, Rails Engineering, and Mobile Engineering right here in the Washington, D.C. area."
    })

block content
  +navigation({
    title: 'Washington, D.C.',
    color: 'green',
    image: '/images/locations/washington-dc/washington-dc.jpg',
    cutout: true
  })

  .container-fluid(style="padding:0") 
    .main
      .container
        .row
          .col-sm-9
            h2 Learn to code. <br>Life's too short for the wrong career.
            p(style=" margin-top:3px") 
              | The Iron Yard Academy in Washington, D.C. teaches intensive, three-month courses that mentor you into a professional junior-level programmer. Study Ruby on Rails, Mobile Engineering, or Front End Engineering and launch a new career. <strong>Fill out the form to get more information from our team</strong>! 
            .horizontal-section.gray-light-bg#programs
              .row(style="width:95%; margin: 0 auto; display: block;")
                .col-md-4
                  h4(style="padding-bottom: 0px; font-size:18px"): <img src="/images/locations/icons/js-icon.png" style="height:18px"> <strong>Front End Engineering</strong>
                  p(style="font-size:16px") Learn Front End Engineering using HTML, CSS and JavaScript and basic server-side tech. At the end of the class you’ll have the skills to create beautiful, fully functional websites and web applications.
                .col-md-4
                  h4(style="padding-bottom: 0px; font-size:18px"): <img src="/images/locations/icons/rails-icon.png" style="height:18px"> <strong>Rails Engineering</strong>
                  p(style="font-size:16px") Learn Ruby on Rails, one of the most popular server-side frameworks in the world. At the end of class you’ll know how to build rock-solid servers, manage databases and know the basics of front end app development.            
                .col-md-4
                  h4(style="padding-bottom: 0px; font-size:18px"): <img src="/images/locations/icons/mobile-icon.png" style="height:24px"> <strong>Mobile Engineering</strong>
                  p(style="font-size:16px") Learn iOS app development using Xcode 5 and a whole lot of Objective-C. At the end of the class you’ll have the skills to create beautiful, fully functional iOS apps and the foundation to pursue building Mac apps.

          .col-sm-3
            +contact('Tampa Landing')