extends /layouts/main
block content
  +navigation({
    title: 'Columbia',
    color: 'green',
    image: '/images/locations/columbia/columbia.jpg',
    cutout: true,
    links: [
      {title: "What We Offer", url: "#programs"},
      {title: "Connect", url: "#connect"},
    ]
  })

  .container-fluid(style="padding:0")
    .main
      .container
        .row
          .col-sm-8
            h1 The Iron Yard In Columbia 
            p 
              | Serving as the capital of our home state, Columbia, South Carolina embodies what can be accomplished when merging business with tech. We are excited to partner with the amazing team at <a class="green-text" href="http://unmatchedstyle.com/">Unmatched Style</a> as we continue to grow the tech scene in Columbia and beyond. <br><br>
              | With UMS we are combining resources to continue to deliver amazing co-working spaces throughout the Southeast like that of <a class="green-text" href="http://soco-work.com/">SOCO</a>. Great startups benefit from creative and collaborative environments for professionals to spark innovation amongst one another and The Unmatched Style team is a proven, local innovator. We can’t wait to get going!
          
          .col-sm-4
            h2 Address
            p(style="font-size:16px; margin-top:3px") The Iron Yard - Columbia <br>
              | 823 Gervais Street<br>
              | Columbia, SC 29201
            a(href="https://www.google.com/maps/place/823+Gervais+St/@34.000225,-81.039344,17z/data=!3m1!4b1!4m2!3m1!1s0x88f8bb2c4b95de31:0x625ccd3cc2dcccce" class="btn")
              | Directions              

      .horizontal-section.gray-light-bg#programs
        .container
            .row
              .col-md-6
                img.photo(src="/images/locations/columbia/columbia-academy.jpg")
              .col-sm-6
                h4 Academy
                p We are launching an intensive and fully immersive Web Design course in Columbia in 2015. Sign up for our newsletter for updates. 
                //- ul.no-style-type(style="margin-top:12px")
                //-   li(style="display:inline-block; padding-right: 10px;"): a(href="/academy").green-text <img src="/images/locations/icons/web-design-icon.png" style="height:18px"><strong> Web Design</strong>
                a(href="http://eepurl.com/Vi_PD" class="btn") Newsletter
      
      .horizontal-section      
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/columbia/columbia-cowork.jpg")
            .col-md-6
              h4 CoWorking Spaces
              p 
                | Innovate and collaborate at SOCO where you will join a community of collaborators and brainstorming partners. With a full kitchen, free wi-fi, complimentary coffee and drinks, and secure 24-hour access, SOCO will feel just like home.
              a(href="http://soco-work.com" class="btn") Learn More
      .horizontal-section.gray-light-bg      
        .container
          .row
            .col-md-6
              img.photo(src="/images/locations/columbia/columbia-kids-classes.jpg")
            .col-md-6
              h4 Kids Classes
              p 
                | We will launch kids classes in Columbia in early 2015. Sign up for our mailing list to learn more.
              a.btn(href="http://eepurl.com/Vi_PD", style="text-align:center") Newsletter   

      .container  
        .row
          .col-sm-7.mobile-container
            h2 Meet Our Columbia Team
            .row.left-column
              .photo-list
                .photo-container
                  a(href="/about/team#gene"): img.photo-mentor(src="/images/about/gene-crawford.jpg")
                h3(style="font-size: 24px;") Gene Crawford
                h4 Co-Campus Director
              .photo-list
                .photo-container
                  a(href="/about/team#giovanni"): img.photo-mentor(src="/images/about/giovanni-difeterici.jpg")
                h3(style="font-size: 24px;") Gio Difeterici
                h4 Co-Campus Director

          .col-sm-5.mobile-container#connect
            h2 Connect
            hr
            ul.no-style-type
              li: h4
                a.green-text(href="/jobs") We're Hiring!
              li: a.green-text(href="http://blog.theironyard.com") The Blog
              li: a.green-text(href="https://twitter.com/search?q=%23tiycolumbia&src=typd") #tiycolumbia
              li: a.green-text(href="mailto:columbia@theironyard.com") columbia@theironyard.com
              li: a.green-text(href="http://eepurl.com/Vi_PD") Columbia newsletter

            img.photo-medium(src="/images/locations/columbia/columbia-city.jpg")


