extends /layouts/main
include /mixins/contact

block meta 
  +meta({
      title: "The Iron Yard | Columbia, SC Code School",
      description: "Learn to code, get a job. We teach Web Design right here in Columbia, SC."
    })

block content
  +navigation({
    title: 'Columbia',
    color: 'green',
    image: '/images/locations/columbia/columbia.jpg',
    cutout: true
  })

  .container-fluid(style="padding:0") 
    .main
      .container
        .row
          .col-sm-9
            h2 Learn to code. <br>Life's too short for the wrong career.
            p(style=" margin-top:3px") 
              | The Iron Yard Academy in Columbia teaches an intensive, three-month course that mentors you into a professional junior-level web designer. Study Web Design and launch a new career. <strong>Fill out the form to get more information from our team</strong>! 
            .horizontal-section.gray-light-bg#programs
              .row(style="width:95%; margin: 0 auto; display: block;")
                .col-md-6
                  img.photo(src="/images/locations/columbia/columbia-academy.jpg")
                .col-sm-6
                  h4(style="padding-bottom: 0px; font-size:18px;"): <img src="/images/locations/icons/web-design-icon.png" style="height:18px"> <strong>Web Design</strong>
                  p Learn Web Design from the ground up, including ideation, UI and UX design, front-end code and a whole lot more. At the end of class you'll have the skills to understand and add value in almost any digital design role.
                 
          .col-sm-3(style="margin-top:40px")
            +contact('Columbia Landing')