extends /layouts/main

block meta
  +meta({
    title: "Iron Yard- Brand Standards Guide",
    description: "If you're looking for official logo usage guidelines, typefaces, & collateral for The Iron Yard - You've come to the right place."
  })

block content
  +navigation({
    title: 'Brand Standards Guide',
    color: 'gray-dark',
    links: [
      {title: "Logo", url: "/about/brand-standards/#logo"},
      {title: "Subbrands", url: "/about/brand-standards/#subbrands"},
      {title: "Color", url: "/about/brand-standards#color"},
      {title: "Type", url: "/about/brand-standards#type"},
      {title: "Photography", url: "/about/brand-standards/#photo"},
      {title: "Examples", url: "/about/brand-standards/#examples"}
    ]
  })
  .container
    .row
      .col-lg-8.col-sm-8#logo
        h1 Logo Usage
      .col-lg-4.col-sm-4
        a(href="/images/standards-guide/TIY-logo.zip" style="margin:30px 0; float:right;").btn.hover Download Logo Files
      .col-md-12 
        p The Iron Yard is the umbrella brand under which several business units stand. It is vital that the shield mark be consistent throughout any collateral that is produced - print and digital. These rules are meant to be a framework in which to guide designers and developers on the acceptable ways to communicate using The Iron Yard's brand language. We're not saying that we're not flexible - but you have to know the rules before you can break them.
      
      hr           
          
    .three-col-cta.row
      .col-lg-3.col-sm-4
        .image-box
          img(src="/images/standards-guide/TIY-logo-thumb.jpg" style="max-width:200px")
      .col-lg-6.col-sm-4
        h3 Primary Mark
        p When in doubt use this version of the logo. This is generally used on white with ample space around it. It can be used on a lighter or darker version of the <a href="#color">standard ironyard gray</a> as well - see the header of the website as an example.
            
    .three-col-cta.row
      .col-lg-3.col-sm-4
        .image-box
          img(src="/images/standards-guide/TIY-logo-thumb-WHITE.jpg" style="max-width:200px")
      .col-lg-7.col-sm-6
        h3 On Photography
        p A common way to use the mark is to position it on top of a photograph. When this occurs, the white version of the shield must me used. This should happen only when layered on top of a <a href="#photo">duotone feature photo</a>. The white logo can be used when layered on top of solid colors as well - like <a href="#subbrands">academy class colors</a>.
        
    .three-col-cta.row
      .col-lg-3.col-sm-4
        .image-box
          img(src="/images/standards-guide/TIY-logo-thumb-BLACK.jpg" style="max-width:200px")
      .col-lg-7.col-sm-6
        h3 Black - a rare use case
        p This is reserved for 1-color applications where the only ink that is being used is black. From this description, one can assume that no, you won't see this version of the logo on a screen... unless it's a grayscale screen. In which case, kudos for finding one of those.
   
    hr
   
    .row    
      .col-md-12
          h3 Logos in action   
    .three-col-cta.row
       .col-lg-4
         img(src="/images/standards-guide/TIY-logo-onWhite.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/TIY-logo-onColor.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/TIY-logo-ColoronColor.png" style="max-width:100%;")
         
    .three-col-cta.row
       .col-lg-4
         img(src="/images/standards-guide/logo1.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/logo2.png" style="max-width:100%;")       
       .col-lg-4
         img(src="/images/standards-guide/logo3.png" style="max-width:100%;")     
        
    hr
    
    .row
      .col-lg-8.col-sm-8#color
        h1 Color
      .col-lg-4.col-sm-4
        a(href="/images/standards-guide/TIY-Swatches.zip" style="margin:30px 0; float:right;").btn.hover Download Swatches  
      .col-md-12  
        p The dominant color of The Iron Yard Brand is the standard Gray that is used in the shield mark. Other major colors in the palette denote sub-brands associated with subjects within the Academy. These are featured in the mext section. Each color has hue progressions associated with it with the middle hue being the dominant variation. Practically, these can be used as tone-on-tone variants of the dominant color and used to add variety to any illustration or layout. These hue variants are used to create the duotone imagery seen in the <a href="#photo">photography section</a>. Sometimes, when creating printed pieces for each of the sub-brands, a darker shield may be used on top of the sub-brand's base hue. See the header of this web page as an example. It is assumed that most print appications will be executed using 1-color or 4-color process plus a spot for the logo if needed. If you really want to get fancy, the duotones can be created using the two spot colors as well, but it's not necessary. Each hue progression has a callout color associated with it as well. The callout color is used to emphasize the call-to-action in layouts. It should be used sparingly. See the <a href="#examples">files at the bottom of the guide</a> as examples of how the hues can be used in conjunction with each other.
        hr
    
    .three-col-cta.row
      .col-lg-3.col-sm-4
        .image-box
          img(src="/images/standards-guide/logo-gray.jpg" style="max-width:100%;")
      .col-lg-9.col-sm-9
        h3 Primary Mark Color
        p The shield hue is always at the darkest end of the color progressions. The darker color makes the mark more versatile to the desginer as it offers greater contrast when paired with the option of using the one-color white mark.  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") PMS 7546
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #233139
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 32,47,55
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 85,69,51,47     
  
    .row   
      .col-md-12
        h3 Standard Iron Yard Gray
      .col-md-12
        img(src="/images/standards-guide/color-standard.jpg" style="max-width:100%") 
      .col-lg-12.col-sm-12
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Shield:</strong> PMS 7546
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #233139
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 32,47,55
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 85,69,51,47
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Base:</strong> PMS 7544
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #727d84
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 114,125,132
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 58,41,35,4 
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Callout:</strong>
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #6fbbb7
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 111,186,182
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 50,0,25,10    


    .row    
      .col-md-12
          h3 Do's and Don'ts of Color Usage   
    .three-col-cta.row
       .col-lg-4
         img(src="/images/standards-guide/Color_tone-on-tone-yes.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/Color_tone-on-tone-no.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/Color_white-on-tone-yes.png" style="max-width:100%;")
        
    hr
    
    
    
    hr
    
    .row
      .col-lg-8.col-sm-8#subbrands
        h1 Subjects and Subbrands
      .col-lg-4.col-sm-4
        a(href="/images/standards-guide/TIY-Icons.zip" style="margin:30px 0; float:right;").btn.hover Download Zip    
      .col-md-12  
        p The Iron Yard Academy offers a variety of different subjects for aspiring students to sink their teeth into. These subjects each have their own unique icons as well as color scheme. This enables each subject to distinguish themselves and their topics easily without straying away from the over arching brand. The icons can be used in both the encapsulating shield as well as without. The unencapsulated icon may be best used when other icons are in the near vicinity as they are on <a href="http://theironyard.com/academy/">this page</a>. The shield version may best be used when standing alone - for instance on a card or brochure that is solely about that particular subject. These uses should be left up to the designer's discretion. Flexibility is needed with the icons in order to best determine usage, but stronger rules may develop over time. One fast and strong rule is that if the icons are sharing the same page as The Iron Yard shield, the icon should never compete with or crowd the logo.
        hr

     .row   
      .col-md-12
        h3 Front End Engineering
    .row
    .three-col-cta.row
       .col-lg-4
         img(src="/images/standards-guide/icon-FrontEnd.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/icon-FrontEnd-shield.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/icon-FrontEnd-1color.png" style="max-width:100%;")
    .row        
      .col-md-12
        img(src="/images/standards-guide/color-frontend.jpg" style="max-width:100%") 
      .col-lg-12.col-sm-12
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Shield:</strong> PMS 161
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #49331e
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 73,51,28
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 41,69,89,46
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Base:</strong> PMS 153
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #ce832d
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 206,131,44
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 20,65,100,6
      .col-lg-12.col-sm-12    
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Callout:</strong>
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #6fbbb7
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 111,186,182
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 50,0,25,10           
        
     .row   
      .col-md-12
        h3 Mobile Engineering
    .row
    .three-col-cta.row
       .col-lg-4
         img(src="/images/standards-guide/icon-iOS.jpg" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/icon-iOS-shield.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/icon-iOS-1color.png" style="max-width:100%;")
    .row            
      .col-md-12
        img(src="/images/standards-guide/color-ios.jpg" style="max-width:100%") 
      .col-lg-12.col-sm-12
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Shield:</strong> PMS 7770
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #494224
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 73,66,35
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 52,51,82,34
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Base:</strong> PMS 7759
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #d3b42b
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 210,180,42
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 26,23,100,0
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Callout:</strong>
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #7fc892
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 127,199,146
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 52,0,56,0          
        
    .row   
      .col-md-12
        h3 Rails Engineering
    .row
    .three-col-cta.row
       .col-lg-4
         img(src="/images/standards-guide/Icon-RoR.jpg" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/Icon-RoR-shield.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/Icon-RoR-1color.png" style="max-width:100%;")
    .row    
      .col-md-12
        img(src="/images/standards-guide/color-ruby.jpg" style="max-width:100%") 
      .col-lg-12.col-sm-12
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Shield:</strong> PMS 497
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #4a302e
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 73,47,46
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 47,72,69,55
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Base:</strong> PMS 7523
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #b8584c
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 184,89,76
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 25,72,63,10
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Callout:</strong>
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #b1b3b6
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 177,179,181
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 0,0,0,35            
        
    .row   
      .col-md-12
        h3 Web Design
    .row
    .three-col-cta.row
       .col-lg-4
         img(src="/images/standards-guide/icon-WebDesign.jpg" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/icon-WebDesign-shield.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/icon-WebDesign-1color.png" style="max-width:100%;")
    .row    
      .col-md-12
        img(src="/images/standards-guide/color-webdesign.jpg" style="max-width:100%") 
      .col-lg-12.col-sm-12
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Shield:</strong> PMS 7701
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #004453
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 0,68,84
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 100,62,35,15
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Base:</strong> PMS 632
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #35a0ad
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 48,161,173
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 92,24,23,0
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Callout:</strong>
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #fbb16a
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 250,177,106
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 0,35,65,0          
          
    .row   
      .col-md-12
        h3 Python Engineering
    .row
    .three-col-cta.row
       .col-lg-4
         img(src="/images/standards-guide/icon-Python.jpg" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/icon-Python-shield.png" style="max-width:100%;")
       .col-lg-4
         img(src="/images/standards-guide/icon-Python-1color.png" style="max-width:100%;")
    .row    
      .col-md-12
        img(src="/images/standards-guide/color-python.jpg" style="max-width:100%") 
      .col-lg-12.col-sm-12
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Shield:</strong> PMS 3425
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #173f27
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 20,64,39
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 97,35,86,30
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Base:</strong> PMS 346
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #5bbd7b
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 89,189,123
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 56,0,54,0        
      .col-lg-12.col-sm-12  
        ul(style="display:inline; list-style: none; padding: 0; margin: 0;")
          li(style="display: inline; padding: 0 20px 0 0;") <strong>Callout:</strong>
          li(style="display: inline; padding: 0 20px 0 0;") HEX: #ead654
          li(style="display: inline; padding: 0 20px 0 0;") RGB: 233,213,84
          li(style="display: inline; padding: 0 20px 0 0;") CMYK: 10,10,80,0                          
    
    hr
        
    .row
      .col-lg-8.col-sm-8#type
        h1 Typography
      .col-lg-4.col-sm-4
        a(href="/images/standards-guide/Fonts.zip" style="margin:30px 0; float:right;").btn.hover Download Fonts
      .col-md-12  
        p The main typeface that is used throughout The Iron Yard's collateral is Tisa Pro. Flimotype and Gravity are also used, but they are reserved for the construction of the Shield Mark. Tisa Pro Medium is mainly used for headlines and Tisa Pro Regular is used for body copy. The Medium font can be used for body copy as well. Tisa Pro Bold is mainly used for call to action text, or smaller text that needs to attract the viewer's attention. It works very well when displayed in all caps. Using any of the fonts in italics is another useful way to emphasize a word or phrase. The website uses the same typeface with a slightly different an more specific set of rules. They can be found <a href="http://masondesu.github.io/ghost-shield/">here</a>.
        hr    
    .row   
      .col-md-12
        h3 Tisa Pro Bold
      .col-md-12
        img(src="/images/standards-guide/Font_Tisa-Pro-Bold.png" style="max-width:100%")

    .row   
      .col-md-12
        h3 Tisa Pro Medium
      .col-md-12
        img(src="/images/standards-guide/Font_Tisa-Pro-Medium.png" style="max-width:100%")
        
    .row   
      .col-md-12
        h3 Tisa Pro Regular
      .col-md-12
        img(src="/images/standards-guide/Font_Tisa-Pro-Regular.png" style="max-width:100%")                
        
        hr
                
    .row
      .col-lg-8.col-sm-8#photo
        h1 Photography
      .col-lg-4.col-sm-4
        a(href="/images/standards-guide/image-standard-color-example.zip" style="margin:30px 0; float:right;").btn.hover Download Example 
      .col-md-12  
        p Photography plays an important role in The Iron Yard's branding elements, an it can be used to breath some life into the different applications of The Iron Yard brand. The main thing to keep in mind when using imagery is that this is the time that you, the designer, can choose to bring in the human element. What is The Iron Yard without the students, instuctors, professionals, and entrepreneurs that hang around the place? They should be featured, and this is the place to do it. Full color imagery reigns supreme on the website, but in print form, the duotone images rule. The website is vast, and there are many many places to pepper images in and around other brand elements. With standard print collateral, you have one brief shot to get the point across, and the strong duotone imagery helps drive that brand recognition deeper into the viewers skull. That may seem a bit intense... but we're an intense bunch sometimes.

    .row   
      .col-md-12
        img(src="/images/standards-guide/Image-standard-color-example.jpg" style="max-width:100%")             
        
        hr
   
    .row
      .col-lg-8.col-sm-8#examples
        h1 Elements & Examples
      .col-lg-4.col-sm-4
        a(href="https://www.dropbox.com/s/cu519nxix36ausm/TIY-Example-Files.zip?dl=0" style="margin:30px 0; float:right;").btn.hover Download Zip
      .col-md-12  
        p There are different visual elements within The Iron Yard brand that are used to provide extra ways for the designer to draw attention to certain areas of the composition. One major element is the duotone imagery mentioned <a href="#photo">above</a>, but the arrow element is used in many places and is referenced below. Here are some examples of the brand identity in context. Download InDesign files of the featured layouts by clicking the link above.
        
    .row   
      .col-md-12
        img(src="/images/standards-guide/Samples-BillboardAndBanner.jpg" style="max-width:100%")
      .col-md-12  
        img(src="/images/standards-guide/Samples-PrintAndOnlineAds.jpg" style="max-width:100%")             
        
        hr        
        